{% extends 'tabs/base-tab.twig' %}

{% block headerToolsInner %}
    <div class="ladb-capabilities-host-infos pull-right">
        <ul>
            <li><strong>Sketchup {{ capabilities.sketchup_is_pro ? 'Pro' : 'Make' }}</strong> {{ capabilities.sketchup_version }}</li>{% if capabilities.is_64bit %}<li>64 bits</li>{% endif %}<li><strong>Ruby</strong> {{ capabilities.ruby_version }}</li>{% if capabilities.chrome_version %}<li><strong>Chrome</strong> {{ capabilities.chrome_version }}</li>{% endif %}<li>{{ capabilities.platform_name }}</li><li>{{ capabilities.locale }}</li>
        </ul>
    </div>
{% endblock %}

{% block containerInner %}
    <img src="../img/icon.svg" width="114" class="pull-right">
    <h3>{{ 'tab.about.version'|i18next }}</h3>
    <p>
        <span class="ladb-capabilities-version">{{ capabilities.version }}</span>&nbsp;/&nbsp;<span class="ladb-capabilities-language">{{ capabilities.language }}</span>&nbsp;&nbsp;<small class="ladb-capabilities-build">( build: {{ capabilities.build }} )</small><a id="ladb_link_changelog" href="#" class="ladb-changelog-link">CHANGELOG</a>
    </p>
    {% if capabilities.is_dev %}
        <div class="alert alert-warning">
            <div class="media">
                <div class="media-left">
                    <i class="ladb-opencutlist-icon-warning" style="font-size: 150%;"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{'default.caution'|i18next}}</h4>
                    <p>{{'core.warning.dev'|i18next({ 'version': capabilities.version, 'build': capabilities.build })}}</p>
                </div>
            </div>
        </div>
    {% endif %}
    <h3>{{ 'tab.about.credits'|i18next }}</h3>
    <p>{{ 'tab.about.credits_authors'|i18next }}</p>
    <h4>{{ 'tab.about.credits_translations'|i18next }}</h4>
    <p>{{ 'tab.about.credits_translators'|i18next }}</p>
    <blockquote>{{ 'tab.about.credits_description'|i18next }}</blockquote>
    <p>{{ 'tab.about.credits_vendors'|i18next }}</p>
    <div class="row">
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'tab.about.credits_runtime'|i18next }}
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            <a href="https://jquery.com/" target="_blank">jQuery</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="https://jqueryui.com/" target="_blank">jQuery UI</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
                            <span class="label label-default">JS</span>
                            <span class="label label-default">CSS</span>
                        </li>
                        <li>
                            <a href="https://silviomoreto.github.io/bootstrap-select/" target="_blank">Bootstrap-select</a>
                            <span class="label label-default">JS</span>
                            <span class="label label-default">CSS</span>
                        </li>
                        <li>
                            <a href="http://sliptree.github.io/bootstrap-tokenfield" target="_blank">Bootstrap-tokenfield</a>
                            <span class="label label-default">JS</span>
                            <span class="label label-default">CSS</span>
                        </li>
                        <li>
                            <a href="https://seiyria.com/bootstrap-slider/" target="_blank">Bootstrap-slider</a>
                            <span class="label label-default">JS</span>
                            <span class="label label-default">CSS</span>
                        </li>
                        <li>
                            <a href="https://github.com/twigjs/twig.js" target="_blank">twig.js</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="https://github.com/dankogai/js-base64" target="_blank">base64.js</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="https://www.i18next.com" target="_blank">i18next</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="http://ned.im/noty/" target="_blank">Noty</a>
                            <span class="label label-default">JS</span>
                            <span class="label label-default">CSS</span>
                        </li>
                        <li>
                            <a href="https://codemirror.net" target="_blank">CodeMirror</a>
                            <span class="label label-default">JS</span>
                            <span class="label label-default">CSS</span>
                        </li>
                        <li>
                            <a href="https://github.com/datalog/qrcode-svg" target="_blank">qrcode-svg</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="https://github.com/jmhodges/rchardet" target="_blank">rchardet</a>
                            <span class="label label-default">Ruby</span>
                        </li>
                        <li>
                            <a href="https://github.com/rubyzip/rubyzip" target="_blank">rubyzip</a>
                            <span class="label label-default">Ruby</span>
                        </li>
                        <li>
                            <a href="https://github.com/cxn03651/write_xlsx" target="_blank">WriteXLSX</a>
                            <span class="label label-default">Ruby</span>
                        </li>
                        <li>
                            <a href="https://www.flaticon.com/" target="_blank">flaticon.com</a>
                            <span class="label label-default">SVG</span>
                        </li>
                        <li>
                            <a href="https://www.countryflags.com/" target="_blank">Countryflags.com</a>
                            <span class="label label-default">PNG</span>
                        </li>
                        <li>
                            <a href="https://threejs.org/" target="_blank">Three.js</a>
                            <span class="label label-default">JS</span>
                            <span class="label label-default">WebGL</span>
                        </li>
                        <li>
                            <a href="https://github.com/AngusJohnson/Clipper2" target="_blank">Clipper2</a>
                            <span class="label label-default">C</span>
                            <span class="label label-default">C++</span>
                        </li>
                        <li>
                            <a href="https://github.com/fontanf/packingsolver" target="_blank">PackingSolver</a>
                            <span class="label label-default">C++</span>
                        </li>
                        <li>
                            <a href="https://github.com/nothings/stb" target="_blank">stb</a>
                            <span class="label label-default">C</span>
                            <span class="label label-default">C++</span>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    {{ 'tab.about.credits_development'|i18next }}
                </div>
                <div class="panel-body">
                    <ul>
                        <li>
                            <a href="http://gulpjs.com/" target="_blank">gulp.js</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="https://www.npmjs.com/package/gulp-concat-js" target="_blank">gulp-concat</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="https://www.npmjs.com/package/gulp-if" target="_blank">gulp-if</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="https://www.npmjs.com/package/gulp-less" target="_blank">gulp-less</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="https://www.npmjs.com/package/gulp-zip" target="_blank">gulp-zip</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="https://www.npmjs.com/package/gulp-replace" target="_blank">gulp-replace</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="https://www.npmjs.com/package/gulp-touch-custom" target="_blank">gulp-touch-custom</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="https://www.npmjs.com/package/gulp-run" target="_blank">gulp-run</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="https://www.npmjs.com/package/js-yaml" target="_blank">js-yaml</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="https://www.npmjs.com/package/markdown-it" target="_blank">markdown-it</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="https://www.npmjs.com/package/markdown-it-external-links" target="_blank">markdown-it-external-links</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="https://www.npmjs.com/package/merge" target="_blank">merge</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="https://www.npmjs.com/package/minimist" target="_blank">minimist</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="https://www.npmjs.com/package/through2" target="_blank">through2</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="https://www.npmjs.com/package/twig" target="_blank">twig</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="https://www.npmjs.com/package/slash" target="_blank">slash</a>
                            <span class="label label-default">JS</span>
                        </li>
                        <li>
                            <a href="https://cmake.org/" target="_blank">CMake</a>
                            <span class="label label-default">C</span>
                            <span class="label label-default">C++</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <p>{{ 'tab.about.credits_thanks'|i18next }}</p>
{% endblock %}