<tr id="ladb_outliner_row_{{ node.id }}" class="ladb-outliner-row ladb-minitools-holder{% if not node.computed_visible or node.computed_locked %} ladb-hidden{% endif %}{% if node.active %} ladb-active{% endif %}{% if node.selected %} ladb-selected{% endif %}">
    <td class="table-cell-fluid" style="padding-left: {{ node.depth * 20 }}px;">
        <div class="table-cell-fluid-inner{% if node.depth > 0 %} table-cell-fluid-inner-padded-left{% endif %}">
            <div class="ladb-minitools ladb-minitools-left">
                {% if node.expandable %}
                    <a href="#" class="ladb-btn-node-toggle-folding{% if node.active or node.child_active %} ladb-tool-info{% endif %}"><i class="ladb-opencutlist-icon-arrow-{% if node.expanded or node.child_active or node.active %}down{% else %}right{% endif %}"></i></a>
                {% else %}
                    <div style="display: inline-block; width: 20px;"></div>
                {% endif %}
            </div>
            <div class="ladb-minitools ladb-minitools-right">
                {% if node.live_component %}<span class="label label-default">Live</span>{% endif %}
                {% if node.cuts_opening %}<a href="#" class="ladb-tool-info" data-toggle="tooltip" title="{{ 'tab.outliner.edit_node.cuts_opening'|i18next }}"><i class="ladb-opencutlist-icon-cuts-opening"></i></a>{% endif %}
                {% if node.always_face_camera %}<a href="#" class="ladb-tool-info" data-toggle="tooltip" title="{{ 'tab.outliner.edit_node.always_face_camera'|i18next }}"><i class="ladb-opencutlist-icon-always-face-camera"></i></a>{% endif %}
                {% if node.shadows_face_sun %}<a href="#" class="ladb-tool-info" data-toggle="tooltip" title="{{ 'tab.outliner.edit_node.shadows_face_sun'|i18next }}"><i class="ladb-opencutlist-icon-shadows-face-sun"></i></a>{% endif %}
                <span class="ladb-separator no-print"></span>
                {% if node.url is not empty %}<a href="{{ node.url }}" class="ladb-btn-node-open-url" data-toggle="tooltip" title="{{ 'tab.outliner.tooltip.open_node_url'|i18next }}"><i class="ladb-opencutlist-icon-link"></i></a>{% endif %}
                {% if node.computed_locked %}
                    <a href="#" class="ladb-tool-black" data-toggle="tooltip" title="{{ 'tab.outliner.tooltip.locked_node'|i18next }}"><i class="ladb-opencutlist-icon-lock"></i></a>
                {% else %}
                    {% if node.type != 0 %}{# 0 = TYPE_MODEL #}<a href="#" class="ladb-btn-node-toggle-visible{% if not node.visible %} ladb-tool-dark{% endif %}" data-toggle="tooltip" title="{{ ('tab.outliner.tooltip.'~(node.visible ? 'hide' : 'unhide')~'_node')|i18next }}"><i class="ladb-opencutlist-icon-eye-{% if node.visible %}open{% else %}close{% endif %}{% if node.selected %}-multiple{% endif %}"></i></a>{% endif %}
                    {% if capabilities.sketchup_version_number >= 2000000000 and not node.live_component %}<a href="#" class="ladb-btn-node-set-active{% if node.active %} ladb-tool-info{% endif %}" data-toggle="tooltip" title="{{ ('tab.outliner.tooltip.'~(node.active ? 'is' : 'set')~'_active_node')|i18next }}"><i class="ladb-opencutlist-icon-target"></i></a>{% endif %}
                    <a href="#" class="ladb-btn-node-edit ladb-click-tool" data-toggle="tooltip" title="{{ 'tab.outliner.tooltip.edit_node_properties'|i18next }}"><i class="ladb-opencutlist-icon-edit{% if node.selected %}-multiple{% endif %}"></i></a>
                    {% if node.type == 0 %}{# 0 = TYPE_MODEL #}
                        <span style="display: inline-block; width: 20px;">&nbsp;</span>
                    {% else %}
                        <a href="#" class="ladb-btn-node-toggle-select no-print{% if node.selected %} ladb-active{% endif %}" data-toggle="tooltip" title="{{ ('tab.outliner.tooltip.'~(node.selected ? 'unselect' : 'select')~'_node')|i18next }}"><i class="ladb-opencutlist-icon-check-box{% if node.selected %}-with-check-sign{% endif %}"></i></a>
                    {% endif %}
                {% endif %}
            </div>
            {% if node.layer %}
                <div class="ladb-outliner-node-layers{% if not node.layer.computed_visible %} ladb-hidden{% endif %}" style="background-color: {{ node.layer.color }}; border-color: {{ node.layer.color }};">
                    {% for folder in node.layer.folders %}
                        <div><a href="#"{% if not folder.visible %} style="color: #ccc;"{% endif %}><i class="ladb-opencutlist-icon-folder"></i> {{ folder.name }}</a></div>
                    {% endfor %}
                    <div><a href="#"{% if not node.layer.visible %} style="color: #ccc;"{% endif %}>{{ node.layer.name }}</a></div>
                    <span{% if not node.layer.computed_visible %} style="color: {{ node.layer.color }};"{% endif %}><i class="ladb-opencutlist-icon-layer"></i></span>
                </div>
            {% endif %}
            <div>
                <span class="ladb-outliner-node-type">{% include 'tabs/outliner/_node-icon.twig' %}</span>{% if node.material %}<span class="ladb-outliner-node-material" data-toggle="tooltip" title="{{ node.material.display_name }}">{% include 'tabs/materials/_material-color-drop.twig' with { 'material_color':node.material.color } %}</span>{% endif %}{% if node.name is not empty %}<span class="ladb-outliner-node-name">{{ node.name|escape('html') }}</span>{% endif %}{% if node.type != 1 or node.name is empty %}<span class="ladb-outliner-node-definition-name">{{ node.default_name|escape('html') }}</span>{% endif %}
                {% if not generateOptions.hide_descriptions and node.description is defined and node.description is not empty %}
                    <div class="ladb-outliner-node-description">{{ node.description|nl2br }}</div>
                {% endif %}
                {% if not generateOptions.hide_tags and node.tags is defined and node.tags is not empty %}
                    <ul class="ladb-outliner-node-tags">
                        {% for tag in node.tags %}
                            <li><a href="#" class="ladb-btn-label-filter">{{ tag }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </td>
</tr>
