<tr class="ladb-outliner-row ladb-minitools-holder{% if not node.visible or not parentNodeVisible %} ladb-mute{% endif %}{{ parentClasses }}{% if not parentNodeVisible or parentNode and parentNode.type == 3 %}{# 3 = TYPE_PART #} hide{% endif %}" data-node-id="{{ node.id }}">
    <td class="table-cell-fluid" style="padding-left: {{ depth * 20 }}px;">
        <div class="table-cell-fluid-inner{% if depth > 0 %} table-cell-fluid-inner-padded-left{% endif %}">
            <div class="ladb-minitools ladb-minitools-left">
                {% if node.children|length > 0 %}
                    <a href="#" class="ladb-btn-folding-toggle-row"><i class="ladb-opencutlist-icon-arrow-{% if node.visible and node.type != 3 %}{# 3 = TYPE_PART #}down{% else %}right{% endif %}"></i></a>
                {% else %}
                    <div style="display: inline-block; width: 20px;"></div>
                {% endif %}
            </div>
            &nbsp;<i class="ladb-opencutlist-icon-{% if node.type == 0 %}{# 0 = TYPE_MODEL #}view-front{% elseif node.type == 2 %}{# 2 = TYPE_COMPONENT #}component{% elseif node.type == 3 %}{# 2 = TYPE_PART #}plan{% else %}group{% endif %}" data-toggle="tooltip" title="{{ ('tab.outliner.type_'~node.type)|i18next }}"></i>&nbsp;{% if node.name %}<strong>{{ node.name|escape('html') }}</strong>{% endif %} {% if node.type != 1 or node.name is empty %}<span style="color: #999;">{% include 'tabs/outliner/_default-name.twig' %}</span>{% endif %}
            <div class="ladb-minitools ladb-minitools-right">
                <a href="#" class="ladb-btn-node-set-active"><i class="ladb-opencutlist-icon-cursor"></i></a>
                {% if node.type != 0 %}{# 0 = TYPE_MODEL #}<a href="#" class="ladb-btn-node-toggle-visible"><i class="ladb-opencutlist-icon-eye-{% if node.visible %}open{% else %}close{% endif %}"></i></a>{% endif %}
                <a href="#" class="ladb-btn-node-edit ladb-click-tool"><i class="ladb-opencutlist-icon-edit"></i></a>
            </div>
        </div>
    </td>
    <td class="ladb-cutlist-value">{{ node.part_count }}</td>
</tr>
{% if node.children|length > 0 %}
    {% set parentNode = node %}
    {% set parentClasses = (parentClasses~' folder-'~node.id) %}
    {% set parentNodeVisible = node.visible and parentNodeVisible %}
    {% set depth = depth + 1 %}
    {% for node in node.children %}
        {% include 'tabs/outliner/_list-row-node.twig' %}
    {% endfor %}
{% endif %}