{% extends 'core/_modal.twig' %}

{% set id = 'ladb_outliner_modal_edit' %}
{% set title = 'tab.outliner.edit_node.title'|i18next({ 'name':node.name }) %}

{% block headerToolsInner %}
    <button class="btn btn-default btn-xs" data-help-page="outliner.edit"><i class="ladb-opencutlist-icon-help"></i> {{ 'default.help'|i18next }}</button>
{% endblock %}

{% block headerInner %}
    {{ parent() }}
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation"{% if tab == 'general' %} class="active"{% endif %}><a href="#tab_edit_node_general" role="tab" data-toggle="tab">{{ 'tab.outliner.edit_node.general'|i18next }}</a></li>
        <li role="presentation"{% if tab == 'preview' %} class="active"{% endif %}><a href="#tab_edit_node_preview" role="tab" data-toggle="tab">{{ 'tab.outliner.edit_node.preview'|i18next }}</a></li>
    </ul>
{% endblock %}

{% block bodyInner %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane{% if tab == 'general' %} active{% endif %}" id="tab_edit_node_general">
            <div class="form form-horizontal" style="margin-top: 15px;">
                <div class="form-group">
                    <label for="ladb_outliner_node_input_name" class="control-label col-xs-4">{{ 'tab.outliner.edit_node.name'|i18next }}</label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" id="ladb_outliner_node_input_name" value="{{ node.name|escape }}" autofocus>
                    </div>
                </div>
                {% if node.type == 2 or node.type == 3 %}{# 2 = TYPE_COMPONENT, 3 = TYPE_PART #}
                    <div class="form-group">
                        <label for="ladb_outliner_node_input_definition_name" class="control-label col-xs-4">{{ 'tab.outliner.edit_node.definition_name'|i18next }}</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control" id="ladb_outliner_node_input_definition_name" value="{{ node.definition_name|escape }}">
                        </div>
                    </div>
                {% endif %}
                {% if node.type != 0 %}{# 0 = TYPE_MODEL #}
                    <div class="form-group">
                        <label for="ladb_outliner_node_input_layer_name" class="control-label col-xs-4">{{ 'tab.outliner.edit_node.layer_name'|i18next }}</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control" id="ladb_outliner_node_input_layer_name" value="{{ node.layer_name|escape }}">
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane{% if tab == 'preview' %} active{% endif %}" id="tab_edit_node_preview"></div>
    </div>
{% endblock %}

{% block footerLeftInner %}
    {% if node.type != 0 %}{# 0 = TYPE_MODEL #}
        <button class="btn btn-danger" id="ladb_outliner_node_explode"><i class="ladb-opencutlist-icon ladb-opencutlist-icon-trash"></i> {{ 'tab.outliner.edit_node.explode'|i18next }}...</button>
    {% endif %}
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button class="btn btn-primary btn-validate-modal" id="ladb_outliner_node_update">{{ 'default.validate'|i18next }}</button>
{% endblock %}