{% extends 'core/_modal.twig' %}

{% set id = 'ladb_outliner_modal_edit' %}
{% if node.type == 0 %}{# 0 = TYPE_MODEL #}
    {% set title = 'tab.outliner.edit_node.title_model'|i18next %}
{% else %}
    {% set title = multiple ? ('tab.outliner.edit_node.title_instance_multiple'|i18next) : 'tab.outliner.edit_node.title_instance'|i18next({ 'name':node.name }) %}
{% endif %}

{% block headerToolsInner %}
    <button class="btn btn-default btn-xs" data-help-page="outliner.edit"><i class="ladb-opencutlist-icon-help"></i> {{ 'default.help'|i18next }}</button>
{% endblock %}

{% block bodyInner %}
    <div class="tab-content">
        {% if multiple %}
            <div class="alert alert-info text-center">{{ 'tab.outliner.edit_node.multiple_alert'|i18next({ 'node_count':nodeCount }) }}</div>
        {% endif %}
        <div role="tabpanel" class="tab-pane{% if tab == 'general' %} active{% endif %}" id="tab_edit_node_general">
            <div class="form form-horizontal" style="margin-top: 15px;">
                {% if node.layer is defined %}
                    <div class="form-group">
                        <label class="control-label col-xs-3">{{ 'tab.outliner.edit_node.layer_name'|i18next }}</label>
                        <div class="col-xs-8 col-sm-7">
                            <input type="text" class="form-control" id="ladb_outliner_node_input_layer_name" {% if node.layer == -1 %}data-multiple="true"{% else %}value="{{ node.layer.name|escape('html') }}"{% endif %}>
                        </div>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label class="control-label col-xs-3">{% if node.type == 0 %}{# 0 = TYPE_MODEL #}{{ 'tab.outliner.edit_node.name'|i18next }}{% else %}{{ 'tab.outliner.edit_node.instance_name'|i18next }}{% endif %}</label>
                    <div class="col-xs-8 col-sm-7">
                        <input type="text" class="form-control" id="ladb_outliner_node_input_name" {% if node.name == -1 %}data-multiple="true"{% else %}value="{{ node.name|escape }}"{% endif %}>
                    </div>
                </div>
                {% if node.material is defined %}
                    <div class="form-group">
                        <label class="control-label col-xs-3">{{ 'tab.outliner.edit_node.material'|i18next }}</label>
                        <div class="col-xs-8 col-sm-7">
                            <select class="form-control" id="ladb_outliner_node_select_material_name">
                                {% include 'tabs/cutlist/_material-usages.twig' with { 'value':node.material == -1 ? -1 : node.material.name } %}
                            </select>
                        </div>
                    </div>
                {% endif %}
                {% if node.definition_name is defined %}
                    <hr>
                    <div class="form-group">
                        <label class="control-label col-xs-3">{{ 'tab.outliner.edit_node.definition_name'|i18next }}</label>
                        <div class="col-xs-8 col-sm-7">
                            <input type="text" class="form-control" id="ladb_outliner_node_input_definition_name" value="{{ node.definition_name|escape('html') }}">
                        </div>
                    </div>
                {% endif %}
                {% if node.description is defined %}
                    {% if not node.definition_name is defined %}<hr>{% endif %}
                    <div class="form-group">
                        <label class="control-label col-xs-3">{{ 'tab.outliner.edit_node.description'|i18next }}</label>
                        <div class="col-xs-8 col-sm-7">
                            <textarea class="form-control" id="ladb_outliner_node_input_description"{% if node.description == -1 %} data-multiple="true"{% endif %}>{% if node.description != -1 %}{{ node.description|escape('html') }}{% endif %}</textarea>
                        </div>
                    </div>
                {% endif %}
                {% if node.url is defined %}
                    <div class="form-group">
                        <label class="control-label col-xs-3">{{ 'tab.outliner.edit_node.url'|i18next }}</label>
                        <div class="col-xs-8 col-sm-7">
                            <input type="text" class="form-control" id="ladb_outliner_node_input_url" {% if node.url == -1 %}data-multiple="true"{% else %}value="{{ node.url|escape('html') }}"{% endif %}>
                        </div>
                    </div>
                {% endif %}
                {% if node.tags is defined %}
                    <div class="form-group">
                        <label class="control-label col-xs-3">{{ 'tab.outliner.edit_node.tags'|i18next }}</label>
                        <div class="col-xs-8 col-sm-7">
                            <input type="text" class="form-control" id="ladb_outliner_node_input_tags" value="{{ node.tags|join(';')|escape }}">
                            {% if multiple %}
                                <div class="help-block"><small><i class="ladb-opencutlist-icon-info"></i> {{ 'tab.cutlist.edit_part.tags_multiple_info'|i18next }}</small></div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
                {% if node.type != 0 %}
                    <div class="collapse" id="ladb_outliner_edit_node">
                        {% if node.snapto is defined %}
                            <div class="form-group">
                                <hr>
                                <label class="control-label col-xs-3">{{ 'tab.outliner.edit_node.snapto'|i18next }}</label>
                                <div class="col-xs-8 col-sm-7">
                                    <select class="form-control" id="ladb_outliner_node_select_snapto">
                                        <option data-content="<span style='color: #ccc; font-style: italic;'>{{ 'tab.outliner.edit_node.snapto_none'|i18next }}</span>"></option>
                                        <option data-divider="true"></option>
                                        {% if node.snapto == -1 %}
                                            <option value="-1" data-content="<span style='color: #ccc; font-style: italic;'><i class='ladb-opencutlist-icon-multiple'></i> {{ 'tab.cutlist.edit_part.multiple_values'|i18next }}</span>"></option>
                                            <option data-divider="true"></option>
                                        {% endif %}
                                        <option value="0" data-content="{{ 'tab.outliner.edit_node.snapto_0'|i18next }}"></option>
                                        <option value="1" data-content="{{ 'tab.outliner.edit_node.snapto_1'|i18next }}"></option>
                                        <option value="2" data-content="{{ 'tab.outliner.edit_node.snapto_2'|i18next }}"></option>
                                        <option value="3" data-content="{{ 'tab.outliner.edit_node.snapto_3'|i18next }}"></option>
                                    </select>
                                </div>
                            </div>
                        {% endif %}
                        {% if node.cuts_opening is defined %}
                            <div class="form-group">
                                <div class="col-xs-offset-3 col-xs-8 col-sm-7 checkbox">
                                    <label>
                                        <input type="checkbox" id="ladb_outliner_node_input_cuts_opening"{% if node.cuts_opening %} checked{% endif %}>{{ 'tab.outliner.edit_node.cuts_opening'|i18next }}
                                    </label>
                                </div>
                            </div>
                        {% endif %}
                        {% if node.always_face_camera is defined %}
                            <div class="form-group">
                                <div class="col-xs-offset-3 col-xs-8 col-sm-7 checkbox">
                                    <label>
                                        <input type="checkbox" id="ladb_outliner_node_input_always_face_camera"{% if node.always_face_camera %} checked{% endif %}>{{ 'tab.outliner.edit_node.always_face_camera'|i18next }}
                                    </label>
                                </div>
                            </div>
                        {% endif %}
                        {% if node.shadows_face_sun is defined %}
                            <div class="form-group">
                                <div class="col-xs-offset-3 col-xs-8 col-sm-7 checkbox">
                                    <label>
                                        <input type="checkbox" id="ladb_outliner_node_input_shadows_face_sun"{% if node.shadows_face_sun %} checked{% endif %}>{{ 'tab.outliner.edit_node.shadows_face_sun'|i18next }}
                                    </label>
                                </div>
                            </div>
                        {% endif %}
                        {% if node.no_scale_mask is defined %}
                            <div class="form-group">
                                <label class="control-label col-xs-3">{{ 'tab.outliner.edit_node.no_scale_mask'|i18next }}</label>
                                <div class="col-xs-8 col-sm-7">
                                    <input type="text" class="form-control" id="ladb_outliner_node_input_no_scale_mask" value="{{ node.no_scale_mask }}">
                                </div>
                            </div>
                        {% endif %}
                    </div>
                    <div class="modal-footer-collapse-handle">
                        <button class="btn btn-default btn-sm modal-footer-collapse-handle-btn" type="button" data-collapse-id="ladb_outliner_edit_node"><i class="ladb-opencutlist-icon-plus"></i></button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footerLeftInner %}
    {% if node.type != 0 %}{# 0 = TYPE_MODEL #}
        <button class="btn btn-danger" id="ladb_outliner_node_erase" data-toggle="tooltip" title="{{ 'tab.outliner.edit_node.erase'|i18next }}..."><i class="ladb-opencutlist-icon ladb-opencutlist-icon-trash"></i></button>
        <button class="btn btn-default" id="ladb_outliner_node_explode"><i class="ladb-opencutlist-icon ladb-opencutlist-icon-bomb"></i> {{ 'tab.outliner.edit_node.explode'|i18next }}...</button>
    {% endif %}
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button class="btn btn-primary btn-validate-modal" id="ladb_outliner_node_update">{{ 'default.validate'|i18next }}</button>
{% endblock %}