{% extends 'core/_modal.twig' %}

{% set id = 'ladb_outliner_modal_edit' %}
{% if node.type == 0 %}{# 0 = TYPE_MODEL #}
    {% set title = 'tab.outliner.edit_node.title_model'|i18next %}
{% else %}
    {% set title = multiple ? ('tab.cutlist.edit_part.title_multiple'|i18next) : 'tab.outliner.edit_node.title_instance'|i18next({ 'name':node.name }) %}
{% endif %}

{% block headerToolsInner %}
    <button class="btn btn-default btn-xs" data-help-page="outliner.edit"><i class="ladb-opencutlist-icon-help"></i> {{ 'default.help'|i18next }}</button>
{% endblock %}

{% block headerInner %}
    {{ parent() }}
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation"{% if tab == 'general' %} class="active"{% endif %}><a href="#tab_edit_node_general" role="tab" data-toggle="tab">{{ 'tab.outliner.edit_node.general'|i18next }}</a></li>
{#        {% if not node.type == 0 %}#}{# 0 = TYPE_MODEL #}
{#            <li role="presentation"{% if tab == 'preview' %} class="active"{% endif %}><a href="#tab_edit_node_preview" role="tab" data-toggle="tab">{{ 'tab.outliner.edit_node.preview'|i18next }}</a></li>#}
{#        {% endif %}#}
    </ul>
{% endblock %}

{% block bodyInner %}
    <div class="tab-content">
        {% if multiple %}
            <div class="alert alert-info text-center">{{ 'tab.cutlist.edit_part.multiple_alert'|i18next({ 'part_count':nodeCount }) }}</div>
        {% endif %}
        <div role="tabpanel" class="tab-pane{% if tab == 'general' %} active{% endif %}" id="tab_edit_node_general">
            <div class="form form-horizontal" style="margin-top: 15px;">
                {% if node.layer is defined %}
                    <div class="form-group">
                        <label class="control-label col-xs-3">{{ 'tab.outliner.edit_node.layer_name'|i18next }}</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control" id="ladb_outliner_node_input_layer_name" {% if node.layer == -1 %}data-multiple="true"{% else %}value="{{ node.layer.name|escape('html') }}"{% endif %}>
                        </div>
                    </div>
                {% endif %}
                <div class="form-group">
                    <label class="control-label col-xs-3">{% if node.type == 0 %}{# 0 = TYPE_MODEL #}{{ 'tab.outliner.edit_node.name'|i18next }}{% else %}{{ 'tab.outliner.edit_node.instance_name'|i18next }}{% endif %}</label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" id="ladb_outliner_node_input_name" {% if node.name == -1 %}data-multiple="true"{% else %}value="{{ node.name|escape }}"{% endif %}>
                    </div>
                </div>
                {% if node.material is defined %}
                    <div class="form-group">
                        <label class="control-label col-xs-3">{{ 'tab.outliner.edit_node.material'|i18next }}</label>
                        <div class="col-xs-7">
                            <select class="form-control" id="ladb_outliner_node_select_material_name">
                                {% include 'tabs/cutlist/_material-usages.twig' with { 'value':node.material == -1 ? -1 : node.material.name } %}
                            </select>
                        </div>
                    </div>
                {% endif %}
                {% if node.definition_name is defined %}
                    <hr>
                    <div class="form-group">
                        <label class="control-label col-xs-3">{{ 'tab.outliner.edit_node.definition_name'|i18next }}</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control" id="ladb_outliner_node_input_definition_name" value="{{ node.definition_name|escape('html') }}">
                        </div>
                    </div>
                {% endif %}
                {% if node.description is defined %}
                    {% if not node.definition_name is defined %}<hr>{% endif %}
                    <div class="form-group">
                        <label class="control-label col-xs-3">{{ 'tab.outliner.edit_node.description'|i18next }}</label>
                        <div class="col-xs-7">
                            <textarea class="form-control" id="ladb_outliner_node_input_description"{% if node.description == -1 %} data-multiple="true"{% endif %}>{% if node.description != -1 %}{{ node.description|escape('html') }}{% endif %}</textarea>
                        </div>
                    </div>
                {% endif %}
                {% if node.url is defined %}
                    <div class="form-group">
                        <label class="control-label col-xs-3">{{ 'tab.outliner.edit_node.url'|i18next }}</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control" id="ladb_outliner_node_input_url" {% if node.url == -1 %}data-multiple="true"{% else %}value="{{ node.url|escape('html') }}"{% endif %}>
                        </div>
                    </div>
                {% endif %}
                {% if node.tags is defined %}
                    <div class="form-group">
                        <label class="control-label col-xs-3">{{ 'tab.outliner.edit_node.tags'|i18next }}</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control" id="ladb_outliner_node_input_tags" value="{{ node.tags|join(';')|escape }}">
                            {% if multiple %}
                                <div class="help-block"><small><i class="ladb-opencutlist-icon-info"></i> {{ 'tab.cutlist.edit_part.tags_multiple_info'|i18next }}</small></div>
                            {% endif %}
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
{#        {% if not node.type == 0 %}#}{# 0 = TYPE_MODEL #}
{#            <div role="tabpanel" class="tab-pane{% if tab == 'preview' %} active{% endif %}" id="tab_edit_node_preview"></div>#}
{#        {% endif %}#}
    </div>
{% endblock %}

{% block footerLeftInner %}
    {% if node.type != 0 and not multiple %}{# 0 = TYPE_MODEL #}
        <button class="btn btn-danger" id="ladb_outliner_node_explode"><i class="ladb-opencutlist-icon ladb-opencutlist-icon-trash"></i> {{ 'tab.outliner.edit_node.explode'|i18next }}...</button>
    {% endif %}
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button class="btn btn-primary btn-validate-modal" id="ladb_outliner_node_update">{{ 'default.validate'|i18next }}</button>
{% endblock %}