{% extends 'core/_modal.twig' %}

{% set id = 'ladb_outliner_modal_options' %}
{% set title = 'default.options'|i18next %}

{% block headerToolsInner %}
    {% include 'components/_widget-preset.twig' %}
    <button class="btn btn-default btn-xs" data-help-page="outliner.options"><i class="ladb-opencutlist-icon-help"></i> {{ 'default.help'|i18next }}</button>
{% endblock %}

{% block headerInner %}
    {{ parent() }}
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation"{% if tab == 'general' %} class="active"{% endif %}><a href="#tab_options_general" role="tab" data-toggle="tab">{{ 'tab.outliner.option.general'|i18next }}</a></li>
    </ul>
{% endblock %}

{% block bodyInner %}
    <div class="form form-horizontal">
        <div class="tab-content" style="margin-top: 10px;">
            <div role="tabpanel" class="tab-pane{% if tab == 'general' %} active{% endif %}" id="tab_options_general">
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.outliner.option.show_hidden_instances_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_show_hidden_instances"> <span>{{ 'tab.outliner.option.show_hidden_instances'|i18next }}</span>
                        </label>
                    </div>
                </div>
                <br>
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.outliner.option.hide_descriptions_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_hide_descriptions"> {{ 'tab.outliner.option.hide_descriptions'|i18next }}
                        </label>
                    </div>
                </div>
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.outliner.option.hide_tags_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_hide_tags"> {{ 'tab.outliner.option.hide_tags'|i18next }}
                        </label>
                    </div>
                </div>
                <br>
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.outliner.option.minimize_on_set_active_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_minimize_on_set_active"> {{ 'tab.outliner.option.minimize_on_set_active'|i18next }}
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button class="btn btn-primary" id="ladb_outliner_options_update">{{ 'default.validate'|i18next }}</button>
{% endblock %}
