{% extends 'core/_modal.twig' %}

{% set id = 'ladb_outliner_modal_deep_rename' %}
{% set title = 'Deep Rename' %}

{% block headerToolsInner %}
    {% include 'components/_widget-preset.twig' %}
    <button class="btn btn-default btn-xs" data-help-page="outliner.deep_rename"><i class="ladb-opencutlist-icon-help"></i> {{ 'default.help'|i18next }}</button>
{% endblock %}

{% block bodyInner %}
    <div class="form form-horizontal">
        <div class="form-group" style="padding-top: 10px;">
            <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.outliner.deep_rename.option_formula_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
            <label class="control-label col-xs-3">Formule <small style="font-weight: normal;">(Ruby)</small></label>
            <div class="col-xs-8">
                <textarea id="ladb_textarea_formula" class="form-control"></textarea>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button class="btn btn-primary" id="ladb_outliner_deep_rename">{{ 'default.validate'|i18next }}</button>
{% endblock %}
