{% set coolors = [ "#61bd4f", "#f2d600", "#ffab4a", "#eb5a46", "#c377e0", "#0079bf", "#00c2e0", "#51e898", "#ff80ce", "#cccccc", "#000000", "#ffffff" ] %}
{% set coolor = coolors[depth % coolors|length] %}
{% set hasChildren = node.nodes|length > 0 %}
<div class="ladb-outliner-node" style="border-color: {{ coolor }};{% if not node.visible %} opacity: 0.5;{% endif %}">
    <div class="ladb-outliner-node-heading" style="background-color: {{ coolor }}">
        {{ node.name|length == 0 ? 'Groupe' : node.name|escape('html') }} - {{ node.part_count }} pièces - {{ node.nodes|length }} enfants
        {% if hasChildren %}<div class="pull-right"><i class="ladb-opencutlist-icon-arrow-down"></i></div>{% endif %}
    </div>
    {% if hasChildren %}
        <div id="ladb_outliner_node_{{ node.id }}_body" class="ladb-outliner-node-body collapse{% if depth == 0 or node.part_count > 0 %} in{% endif %}">
            {% for node in node.nodes %}
                {% include 'tabs/outliner/_node.twig' with { 'depth':depth + 1 } %}
            {% endfor %}
        </div>
    {% endif %}
</div>