{% extends 'core/_modal.twig' %}

{% set id = 'ladb_settings_modal_global_presets' %}
{% set title = ('tab.settings.presets.'~actionName~'_global_presets')|i18next %}

{% block headerToolsInner %}
    <button class="btn btn-default btn-xs" data-help-page="settings.presets.{{ actionName }}"><i class="ladb-opencutlist-icon-help"></i> {{ 'default.help'|i18next }}</button>
{% endblock %}

{% block bodyInner %}
    <div class="panel panel-default">
        <div class="panel-body">{{ ('tab.settings.presets.'~actionName~'_global_presets_help')|i18next }}</div>
    </div>
    <table class="table table-bordered">
        {% for dictionary in presets|keys|sort %}
            <tr><th class="ladb-preset-dictionary-row">{{ ('core.preset.dictionary.'~dictionary)|i18next }}</th></tr>
            {% for section in presets[dictionary]|keys|sort %}
                {% if section != 0 %}
                    <tr><th class="ladb-preset-section-row">
                        {% if dictionary == 'materials_material_attributes' %}
                            {{ ('tab.materials.type_'~section)|i18next }}
                        {% elseif dictionary == 'tool_smart_draw_options' %}
                            {{ ('tool.smart_draw.'~section)|i18next }}
                        {% elseif dictionary == 'tool_smart_handle_options' %}
                            {{ ('tool.smart_handle.'~section)|i18next }}
                        {% elseif dictionary == 'tool_smart_paint_options' %}
                            {{ ('tool.smart_paint.'~section)|i18next }}
                        {% elseif dictionary == 'tool_smart_axes_options' %}
                            {{ ('tool.smart_axes.'~section)|i18next }}
                        {% elseif dictionary == 'tool_smart_export_options' %}
                            {{ ('tool.smart_export.'~section)|i18next }}
                        {% else %}
                            {{ section }}
                        {% endif %}
                    </th></tr>
                {% endif %}
                {% for name in presets[dictionary][section]|keys|sort %}
                    <tr><td class="ladb-preset-row selected " data-path="{{ dictionary }}|{{ section }}|{{ name|escape('html') }}">
                        <div class="ladb-minitools ladb-minitools-inline"><a href="#"><i class="ladb-opencutlist-icon-check-box-with-check-sign"></i></a></div> {% if name == '_default' %}{{ 'core.preset.user_defaults'|i18next }}{% else %}{{ name }}{% endif %}
                    </td></tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </table>
{% endblock %}

{% block footerLeftInner %}
    <button class="btn btn-default" id="ladb_settings_btn_select_all"><i class="ladb-opencutlist-icon-check-box-with-check-sign"></i> {{ 'default.select_all'|i18next }}</button>
    <button class="btn btn-default" id="ladb_settings_btn_unselect_all"><i class="ladb-opencutlist-icon-check-box"></i> {{ 'default.unselect_all'|i18next }}</button>
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button class="btn btn-primary" id="ladb_settings_btn_action">{{ ('default.'~actionName)|i18next }}</button>
{% endblock %}
