{% extends 'tabs/base-tab.twig' %}

{% block headerHeadingInner %}<i class="ladb-opencutlist-icon-settings"></i> {{ parent() }}{% endblock %}

{% block headerToolsInner %}
    <button id="ladb_btn_reset" class="btn btn-default"><i class="ladb-opencutlist-icon-refresh"></i> {{ 'tab.settings.reset'|i18next }}</button>
{% endblock %}

{% block containerInner %}
    <div>
        <div id="ladb_reload_alert" class="alert alert-warning" style="display: none;">
            <div class="media">
                <div class="media-left"><i class="ladb-opencutlist-icon-warning" style="font-size: 150%;"></i></div>
                <div class="media-body">
                    {% for language in capabilities.available_languages %}
                        <div class="ladb-reaload-msg ladb-reaload-msg-{{ language }}">{{ ('language_reload_msg.'~language)|i18next }}</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-group">
            <div style="margin-bottom: 10px; font-size: 120%;">{{ 'tab.settings.language'|i18next }}</div>
            <select id="ladb_select_language" class="form-control">
                {% for language in capabilities.available_languages %}
                    <option value="{{ language }}" data-content="<span class='ladb-language-prefix'>{{ language|upper }}</span>{{ ('language.'~language)|i18next }}"></option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <div style="margin-bottom: 10px; font-size: 120%;">{{ 'tab.settings.size_and_position'|i18next }}</div>
            <div class="ladb-fake-dialog">
                <div class="ladb-fake-dialog-titlebar">OpenCutList</div>
                <div class="ladb-fake-dialog-leftbar"></div>
                <button id="ladb_btn_top_up" class="btn btn-sm btn-default"><i class="ladb-opencutlist-icon-arrow-down"></i></button>
                <button id="ladb_btn_top_down" class="btn btn-sm btn-default"><i class="ladb-opencutlist-icon-arrow-up"></i></button>
                <button id="ladb_btn_left_up" class="btn btn-sm btn-default"><i class="ladb-opencutlist-icon-arrow-right"></i></button>
                <button id="ladb_btn_left_down" class="btn btn-sm btn-default"><i class="ladb-opencutlist-icon-arrow-left"></i></button>
                <button id="ladb_btn_width_up" class="btn btn-sm btn-default"><i class="ladb-opencutlist-icon-plus"></i></button>
                <button id="ladb_btn_width_down" class="btn btn-sm btn-default"><i class="ladb-opencutlist-icon-minus"></i></button>
                <button id="ladb_btn_height_up" class="btn btn-sm btn-default"><i class="ladb-opencutlist-icon-plus"></i></button>
                <button id="ladb_btn_height_down" class="btn btn-sm btn-default"><i class="ladb-opencutlist-icon-minus"></i></button>
            </div>
        </div>
    </div>
{% endblock %}