{% extends 'tabs/base-tab.twig' %}

{% block containerInner %}
    <h3>Version</h3>
    <p>{{ capabilities.version }} {{ capabilities.language|upper }} <em>( SU {{ capabilities.sketchupVersion }} - {{ capabilities.currentOS }} - {{ capabilities.locale }} )</em></p>
    <h3>Crédits techniques</h3>
    <p>Le plugin <em>L'Air du Bois : Boîte à outils Sketchup</em> est développé par <a href="https://www.lairdubois.fr/zeloko" target="_blank">Boris Beaulant</a> et disponible en Open Source sous lience <a href="https://github.com/lairdubois/lairdubois-toolbox-sketchup-plugin/blob/master/LICENSE" target="_blank">GNU GPLv3</a> sur son <a href="https://github.com/lairdubois/lairdubois-toolbox-sketchup-plugin" target="_blank">dépôt GitHub</a>.</p>
    <p>Mais l'aventure ne serait pas possible sans le travail des auteurs des briques logiciels <a href="https://fr.wikipedia.org/wiki/Open_source" target="_blank">Open Source</a> suivantes :</p>
    <ul>
        <li>
            <a href="https://jquery.com/" target="_blank">jQuery</a>
            <span class="label label-default">JS</span>
        </li>
        <li>
            <a href="https://jqueryui.com/" target="_blank">jQuery UI</a>
            <span class="label label-default">JS</span>
        </li>
        <li>
            <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a>
            <span class="label label-default">JS</span>
            <span class="label label-default">CSS</span>
        </li>
        <li>
            <a href="https://github.com/twigjs/twig.js" target="_blank">twig.js</a>
            <span class="label label-default">JS</span>
        </li>
        <li>
            <a href="https://github.com/dankogai/js-base64" target="_blank">base64.js</a>
            <span class="label label-default">JS</span>
        </li>
        <li>
            <a href="http://i18next.com/" target="_blank">i18next</a>
            <span class="label label-default">JS</span>
        </li>
        <li>
            <a href="http://gulpjs.com/" target="_blank">gulp.js</a>
            <span class="label label-default">JS</span>
        </li>
    </ul>
    <p>Un remerciement particulier à <a href="https://www.jetbrains.com" target="_blank">JetBrains</a> pour leur soutien à ce projet par leur <a href="https://www.jetbrains.com/buy/opensource/">Licence spéciale pour les projets Open Source</a>.</p>
{% endblock %}