<table id="ladb_cuttingdiagram_group_{{ sheet.index }}" data-group-id="{{ group.id }}_{{ sheet.index }}" data-part-index="{{ sheet.index }}" class="table table-bordered ladb-cutlist-group ladb-cuttingdiagram-group">
    <thead>
        <tr>
            <td colspan="{{ colspan }}">
                <button class="no-print btn btn-default btn-sm ladb-btn-toggle-no-print pull-left">
                    <i class="ladb-opencutlist-icon-eye-close"></i>
                </button>
                {% if sheets|length > 1 %}
                    <div class="no-print btn-group pull-right" role="group">
                        <button class="btn btn-default btn-sm ladb-btn-scrollto-prev-group" {% if loop.first %} disabled {% endif %}>
                            <i class="ladb-opencutlist-icon-chevron-left"></i>
                        </button>
                        <button class="btn btn-default btn-sm ladb-btn-scrollto-next-group" {% if loop.last %} disabled {% endif %}>
                            <i class="ladb-opencutlist-icon-chevron-right"></i>
                        </button>
                    </div>
                {% endif %}
                <div class="ladb-heading pull-right" style="margin-right: 10px;">
                    <strong>{{ loop.index }}
                        /
                        {{ sheets|length }}</strong>
                </div>
                <div class="ladb-heading">
                    {% if raw_format == 'bar' %}
                    <i class="ladb-opencutlist-icon-bar"></i>
                    {{ group.material_name }}
                    /
                    <strong>{{ group.std_dimension }}</strong>
                    -
                    <i class="ladb-opencutlist-icon-length"></i>
                    <em>{{ sheet.length }}</em>
                    {% else %}
                    <i class="ladb-opencutlist-icon-sheet-good"></i>
                    {{ group.material_name }}
                    /
                    <strong>{{ group.std_dimension }}</strong>
                    -
                    <i class="ladb-opencutlist-icon-size"></i>
                    <em>{{ sheet.length }}
                        x
                        {{ sheet.width }}</em>
                    {% endif %}
                    -
                    <span style="padding: 2px 5px; border: 1px solid #000; font-size: 80%;">{{ ('tab.cutlist.cuttingdiagram.list.'~raw_format~'_type_'~sheet.type)|i18next }}</span>
                </div>
            </td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="{{ colspan }}">

                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewbox="-{{ sheetOutlineWidth + sheetDimensionOffset + sheetDimensionFontSize }} -{{ sheetOutlineWidth + sheetDimensionOffset + sheetDimensionFontSize }} {{ sheet.px_length + (sheetOutlineWidth + sheetDimensionOffset + sheetDimensionFontSize) * 2 }} {{ sheet.px_width + (sheetOutlineWidth + sheetDimensionOffset + sheetDimensionFontSize) * 2 }}" height="{{ sheet.px_width + (sheetOutlineWidth + sheetDimensionOffset + sheetDimensionFontSize) * 2 }}" style="max-height: {{ min( 900, sheet.px_width + sheetOutlineWidth * 2 + sheetDimensionOffset + sheetDimensionFontSize) }}px">
                    <text class="{{ raw_format }}-dimension" x="{{ sheet.px_length / 2 }}" y="-{{ sheetOutlineWidth + sheetDimensionOffset }}" font-size="{{ sheetDimensionFontSize }}px" text-anchor="middle" dominant-baseline="alphabetic">{{ sheet.length }}</text>
                    <text class="{{ raw_format }}-dimension" x="-{{ sheetOutlineWidth + sheetDimensionOffset }}" y="{{ sheet.px_width / 2 }}" font-size="{{ sheetDimensionFontSize }}px" text-anchor="middle" dominant-baseline="alphabetic" transform="rotate(-90 -{{ sheetOutlineWidth + sheetDimensionOffset }},{{ sheet.px_width / 2 }})">{{ sheet.width }}</text>
                    <g class="{{ raw_format }}" data-toggle="tooltip" data-html="true" title="<span style='font-size: 120%;'>{{ 'tab.cutlist.cuttingdiagram.list.trimming'|i18next }}</span>&nbsp;{{ options.trimming|escape('html') }}">
                        <rect class="{{ raw_format }}-outer" x="-1" y="-1" width="{{ sheet.px_length + 2 }}" height="{{ sheet.px_width + 2 }}"></rect>
                        <rect class="{{ raw_format }}-inner" x="0" y="0" width="{{ sheet.px_length }}" height="{{ sheet.px_width }}"></rect>
                    </g>
                    {% for leftover in sheet.leftovers %}
                        {% set hideCross = leftover.px_length < dimensionFontSize or leftover.px_width < dimensionFontSize %}
                        {% set hideDimensions = leftover.px_length < (dimensionFontSize + dimensionOffset) or leftover.px_width < (dimensionFontSize + dimensionOffset) %}
                        <g class="leftover" data-toggle="tooltip" data-html="true" title="<span style='font-size: 120%;'>{{ 'tab.cutlist.cuttingdiagram.list.leftover'|i18next }}</span><br><i class='ladb-opencutlist-icon-{% if raw_format == 'bar' %}length{% else %}size{% endif %}'></i> {{ leftover.length|escape('html') }}{% if raw_format != 'bar' %}&nbsp;x&nbsp;{{ leftover.width|escape('html') }}{% endif %}">
                            <rect class="leftover-inner" x="{{ leftover.px_x }}" y="{{ leftover.px_y }}" width="{{ leftover.px_length }}" height="{{ leftover.px_width }}"></rect>
                            {% if not hideCross %}
                                <line class="leftover-cross" x1="{{ leftover.px_x + leftover.px_length }}" y1="{{ leftover.px_y }}" x2="{{ leftover.px_x }}" y2="{{ leftover.px_y + leftover.px_width }}"></line>
                                <line class="leftover-cross" x1="{{ leftover.px_x }}" y1="{{ leftover.px_y }}" x2="{{ leftover.px_x + leftover.px_length }}" y2="{{ leftover.px_y + leftover.px_width }}"></line>
                            {% endif %}
                            {% if not hideDimensions %}
                                {% if leftover.length != '' %}
                                    <text class="leftover-dimension" x="{{ leftover.px_x + leftover.px_length / 2 }}" y="{{ leftover.px_y + dimensionOffset + dimensionFontSize }}" font-size="{{ dimensionFontSize }}px" text-anchor="middle">{{ leftover.length }}</text>
                                {% endif %}
                                {% if leftover.width != '' %}
                                    <text class="leftover-dimension" x="{{ leftover.px_x + dimensionOffset + dimensionFontSize }}" y="{{ leftover.px_y + leftover.px_width / 2 }}" font-size="{{ dimensionFontSize }}px" text-anchor="middle" transform="rotate(-90 {{ leftover.px_x + dimensionOffset + dimensionFontSize }},{{ leftover.px_y + leftover.px_width / 2 }})">{{ leftover.width }}</text>
                                {% endif %}
                            {% endif %}
                        </g>
                    {% endfor %}
                    {% for part in sheet.parts|reverse %}
                        {% set hideDimensions = part.px_length < ((dimensionFontSize + dimensionOffset) * 2 + numberFontSize) or part.px_width < ((dimensionFontSize + dimensionOffset) * 2 + numberFontSize) %}
                        <g class="part" data-part-id="{{ part.id }}" data-toggle="tooltip" data-html="true" title="<span style='font-size: 120%;'>{{ part.name|escape }}</span><br><i class='ladb-opencutlist-icon-size'></i> {{ part.length|escape('html') }}&nbsp;x&nbsp;{{ part.width|escape('html') }}">
                            <rect class="part-outer" x="{{ part.px_x }}" y="{{ part.px_y }}" width="{{ part.px_length }}" height="{{ part.px_width }}"></rect>
                            <rect class="part-inner" x="{{ part.px_x + partOutlineWidth }}" y="{{ part.px_y + partOutlineWidth }}" width="{{ part.px_length - partOutlineWidth * 2 }}" height="{{ part.px_width - partOutlineWidth * 2 }}"></rect>
                            {% if part.rotated and part.edge_material_names.xmin or not part.rotated and part.edge_material_names.ymin %}
                                <rect class="part-edge" x="{{ part.px_x }}" y="{{ part.px_y + part.px_width - edgeWidth }}" width="{{ part.px_length }}" height="{{ edgeWidth }}"></rect>
                            {% endif %}
                            {% if part.rotated and part.edge_material_names.xmax or not part.rotated and part.edge_material_names.ymax %}
                                <rect class="part-edge" x="{{ part.px_x }}" y="{{ part.px_y }}" width="{{ part.px_length }}" height="{{ edgeWidth }}"></rect>
                            {% endif %}
                            {% if part.rotated and part.edge_material_names.ymax or not part.rotated and part.edge_material_names.xmin %}
                                <rect class="part-edge" x="{{ part.px_x }}" y="{{ part.px_y }}" width="{{ edgeWidth }}" height="{{ part.px_width }}"></rect>
                            {% endif %}
                            {% if part.rotated and part.edge_material_names.ymin or not part.rotated and part.edge_material_names.xmax %}
                                <rect class="part-edge" x="{{ part.px_x + part.px_length - edgeWidth }}" y="{{ part.px_y }}" width="{{ edgeWidth }}" height="{{ part.px_width }}"></rect>
                            {% endif %}
                            {% set numberTextLength = part.number|length %}
                            <text class="part-number" x="{{ part.px_x + part.px_length / 2 }}" y="{{ part.px_y + part.px_width / 2 }}" font-size="{{ min(numberFontSize, (part.px_length - dimensionOffset * 2) / (part.rotated ? 1 : numberTextLength), (part.px_width - dimensionOffset * 2) / (part.rotated ? numberTextLength : 1)) }}px" text-anchor="middle" dominant-baseline="central" {% if part.rotated %} transform="rotate(-90 {{ part.px_x + part.px_length / 2 }},{{ part.px_y + part.px_width / 2 }})" {% endif %}>{{ part.number }}</text>
                            {% if not hideDimensions %}
                                {% set centredLength = part.px_width > (dimensionOffset + dimensionFontSize + numberFontSize) %}
                                {% set centredWidth = part.px_length > (dimensionOffset + dimensionFontSize + numberFontSize) %}
                                <text class="part-dimension" x="{{ centredLength ? part.px_x + part.px_length / 2 : part.px_x + partOutlineWidth + dimensionOffset + dimensionFontSize + dimensionOffset }}" y="{{ centredLength ? part.px_y + partOutlineWidth + dimensionOffset + dimensionFontSize : part.px_y + part.px_width / 2 }}" font-size="{{ dimensionFontSize }}px" text-anchor="{% if centredLength %}middle{% else %}start{% endif %}" {% if not centredLength %} dominant-baseline="central" {% endif %} {% if showCuttingDimensions %} style="fill: red;" {% endif %}>{{ part.length }}</text>
                                <text class="part-dimension" x="{{ centredWidth ? part.px_x + partOutlineWidth + dimensionOffset + dimensionFontSize : part.px_x + part.px_length / 2 }}" y="{{ centredWidth ? part.px_y + part.px_width / 2 : part.px_y + partOutlineWidth + dimensionOffset + dimensionFontSize + dimensionOffset }}" font-size="{{ dimensionFontSize }}px" text-anchor="{% if centredWidth %}middle{% else %}end{% endif %}" {% if not centredWidth %} dominant-baseline="central" {% endif %} {% if showCuttingDimensions %} style="fill: red;" {% endif %} transform="rotate(-90 {{ centredWidth ? part.px_x + partOutlineWidth + dimensionOffset + dimensionFontSize : part.px_x + part.px_length / 2 }},{{ centredWidth ? part.px_y + part.px_width / 2 : part.px_y + partOutlineWidth + dimensionOffset + dimensionFontSize + dimensionOffset }})">{{ part.width }}</text>
                            {% endif %}
                        </g>
                    {% endfor %}
                    {% for cut in sheet.cuts %}
                        <g class="cut" data-toggle="tooltip" data-html="true" title="<span style='font-size: 120%;'>{{ 'tab.cutlist.cuttingdiagram.list.cut'|i18next }}</span><br>{% if cut.is_horizontal %}<i class='ladb-opencutlist-icon-horizontal-cut'></i> {{ cut.y|escape('html') }}{% else %}<i class='ladb-opencutlist-icon-vertical-cut'></i> {{ cut.x|escape('html') }}{% endif %}<br><i class='ladb-opencutlist-icon-saw'></i> {{ options.saw_kerf|escape('html') }}">
                            <rect class="cut-outer" x="{{ cut.px_x - cutOutlineWidth }}" y="{{ cut.px_y - cutOutlineWidth }}" width="{{ (cut.is_horizontal ? cut.px_length : options.px_saw_kerf) + cutOutlineWidth * 2 }}" height="{{ (cut.is_horizontal ? options.px_saw_kerf : cut.px_length) + cutOutlineWidth * 2 }}"></rect>
                            <rect class="cut-inner" x="{{ cut.px_x }}" y="{{ cut.px_y }}" width="{{ cut.is_horizontal ? cut.px_length : options.px_saw_kerf }}" height="{{ cut.is_horizontal ? options.px_saw_kerf : cut.px_length }}"></rect>
                        </g>
                    {% endfor %}
                    {% if group.material_grained %}
                        {% include 'core/_grain-direction-arrow.twig' with { 'centerX':sheet.px_length / 2, 'centerY':sheet.px_width + 20 } %}
                    {% endif %}
                </svg>

            </td>
        </tr>
        {% if not options.hide_part_list %}
            <tr class="ladb-cutlist-heading-row">
                <td class="text-center" rowspan="2" style="vertical-align: middle !important;" width="5%">{{ 'tab.cutlist.list.number'|i18next }}</td>
                <td class="text-center" rowspan="2" style="vertical-align: middle !important;">{{ 'tab.cutlist.list.name'|i18next }}</td>
                <td class="text-center" rowspan="2" style="vertical-align: middle !important;" width="8%">{{ 'tab.cutlist.list.count'|i18next }}</td>
                {% if showCuttingDimensions %}
                    <td class="text-center" colspan="{{ visibleDimensionColumns|length }}">{{ 'tab.cutlist.list.cutting'|i18next }}</td>
                {% endif %}
                <td class="text-center" colspan="{{ visibleDimensionColumns|length }}">{{ 'tab.cutlist.list.bbox'|i18next }}</td>
            </tr>
            <tr class="ladb-cutlist-heading-row">
                {% if showCuttingDimensions %}
                    {% for property in visibleDimensionColumns %}
                        <td class="text-center" width="8%">{{ ('tab.cutlist.list.'~property~'_short')|i18next }}</td>
                    {% endfor %}
                {% endif %}
                {% for property in visibleDimensionColumns %}
                    <td class="text-center" width="8%">{{ ('tab.cutlist.list.'~property~'_short')|i18next }}</td>
                {% endfor %}
            </tr>
            {% for part in sheet.grouped_parts %}
                <tr class="ladb-cutlist-row ladb-minitools-holder" data-part-id="{{ part.id }}">
                    {% include 'tabs/cutlist/_list-row-col-number.twig' %}
                    <td>
                        <div class="ladb-minitools ladb-minitools-right no-print">
                            {% if part.edge_count > 0 %}
                                <a href="#" class="ladb-tool-info" data-tab="edges" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.has_edges'|i18next({ 'count':part.edge_count }) }}">
                                    <i class="ladb-opencutlist-icon-edge-{{ part.edge_pattern }}"></i>
                                </a>
                            {% endif %}
                            <span class="ladb-separator"></span>
                            <a href="#" class="ladb-btn-highlight-part ladb-click-tool" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.highlight_part'|i18next }}">
                                <i class="ladb-opencutlist-icon-magnifier"></i>
                            </a>
                        </div>
                        {% if part.edge_count > 0 and part.edge_pattern %}
                            <span class="no-screen pull-right">
                                <i class="ladb-opencutlist-icon-edge-{{ part.edge_pattern }}"></i>
                            </span>
                        {% endif %}
                        <span class="ladb-cutlist-part-name">{{ part.name|escape }}</span>
                    </td>
                    <td class="text-center">{{ part.count }}</td>
                    {% if showCuttingDimensions %}
                        {% for property in visibleDimensionColumns %}
                            {% include 'tabs/cutlist/_list-row-cutting-dimension.twig' %}
                        {% endfor %}
                    {% endif %}
                    {% for property in visibleDimensionColumns %}
                        <td class="ladb-cutlist-dimension-value">{{ part[property] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}
        <tr>
            <td colspan="{{ colspan }}">
                <span class="ladb-horizontal-left-separator pull-right">
                    <strong>{{ 'tab.cutlist.cuttingdiagram.list.efficiency'|i18next }}
                        :
                    </strong>
                    {{ sheet.efficiency|number_format(2, ',', ' ') }}%</span>
                <span class="pull-right">
                    <strong>{{ 'tab.cutlist.cuttingdiagram.list.total_length_cuts'|i18next }}
                        :
                    </strong>
                    {{ sheet.total_length_cuts }}</span>
                <span class="pull-left">
                    <i class="ladb-opencutlist-icon-grained-{{ options.grained ? '1' : '0' }}"></i>
                    {{ ('tab.materials.edit_material.grained_'~(options.grained ? '1' : '0'))|i18next }}</span>
                {% if not options.trimming|slice(0, 1) == '0' %}
                    <span class="ladb-horizontal-left-separator pull-left">
                        <strong>{{ 'tab.cutlist.cuttingdiagram.list.trimming'|i18next }}
                            :
                        </strong>
                        {{ options.trimming }}</span>
                {% endif %}
                <span class="ladb-horizontal-left-separator pull-left">{{ ('tab.cutlist.cuttingdiagram.list.parts')|i18next({ 'count':sheet.parts|length }) }}</span>
            </td>
        </tr>
    </tbody>
</table>
