<div id="ladb_cutlist_form_export_column" class="ladb-editor-label-form form row">
    <div class="form-group col-xs-12">
        <label>{{ 'tab.cutlist.export.header'|i18next }}</label>
        <input id="ladb_input_header" class="form-control" value="{{ header }}" placeholder="{% if name %}{{ ('tab.cutlist.export.'~name)|i18next }}{% else %}{{ 'tab.cutlist.export.placeholder.no_header'|i18next }}{% endif %}">
    </div>
    <div class="form-group col-xs-12">
        <label>{{ 'tab.cutlist.export.formula'|i18next }}</label>
        <textarea id="ladb_div_formula" class="form-control" placeholder="{% if name %}{% set col_name = (('tab.cutlist.export.'~name)|i18next) %}{{ 'tab.cutlist.export.placeholder.no_formula_native'|i18next({ 'col_name':col_name }) }}{% else %}{{ 'tab.cutlist.export.placeholder.no_formula'|i18next }}{% endif %}">{{ formula }}</textarea>
    </div>
</div>