{% if not generateOptions.hide_material_colors %}{% include 'tabs/materials/_material-color-drop.twig' with { 'material_color':group.material_color } %}{% endif %}
<span{% if group.material_type == 0 %} class="text-muted" style="font-style: italic;"{% endif %}>
    {% if group.material_display_name is empty %}
        {{ 'tab.cutlist.material_undefined'|i18next }}
    {% else %}
        {{ group.material_display_name|escape }}
    {% endif %}
</span>
{% if group.material_type > 0 and group.material_type != 5 %}
    / {% if group.std_dimension_rounded %}<span data-toggle="tooltip" data-html="true" title="{{ ('tab.cutlist.tooltip.rounded_std_'~group.std_dimension_stipped_name)|i18next({ 'std_dimension':('<span class="ladb-nowrap">'~group.std_dimension~'</span>'), 'std_dimension_real':('<span class="ladb-nowrap">'~group.std_dimension_real~'</span>') }) }}" class="ladb-color-warning"><i class="ladb-opencutlist-icon-warning"></i>&nbsp;~</span>&nbsp;{% endif %}<strong>{% if group.material_type == 4 %}{# 4 = TYPE_EDGE #}{{ group.std_thickness }} x {% endif %}<span{% if not group.std_available %} class="ladb-color-danger"{% endif %}>{{ group.std_dimension }}</span></strong>
    {% if not group.std_available %}
        &nbsp;&nbsp;
        <div class="label label-danger label-fine">
            <span data-toggle="tooltip" data-html="true" title="{{ ('tab.cutlist.tooltip.not_available_std_'~group.std_dimension_stipped_name)|i18next({ 'std_dimension':('<span class="ladb-nowrap">'~group.std_dimension~'</span>'), 'material_name':group.material_name }) }}"><i class="ladb-opencutlist-icon-warning"></i> {{ ('tab.cutlist.not_available_std_'~group.std_dimension_stipped_name)|i18next }}</span>
            {% if not hideAddBtn|default(true) %}
                <div class="ladb-minitools ladb-minitools-inline no-print">
                    <span class="ladb-separator ladb-separator-white"></span>
                    {% set std_dimension = group.std_dimension_rounded ? group.std_dimension_real : group.std_dimension %}
                    <a href="#" class="ladb-btn-add-std-dimension-to-material ladb-tool-white" data-toggle="tooltip" data-html="true" title="{{ ('tab.cutlist.tooltip.add_std_'~group.std_dimension_stipped_name~'_to_material')|i18next({ 'std_dimension':('<span class="ladb-nowrap">'~std_dimension~'</span>'), 'material_name':group.material_name }) }}"><i class="ladb-opencutlist-icon-plus"></i></a>
                </div>
            {% endif %}
        </div>
    {% endif %}
{% endif %}
