<td class="ladb-cutlist-value ladb-cutlist-value-right ladb-cutlist-value-highlighted">
    {% if not part.edge_decrements[property] or not hideCuttingDim and part['cutting_'~property] != part['edge_cutting_'~property] %}<div>{{ part['cutting_'~property] }}</div>{% endif %}
    {% if not hideCumulable and (part.count > 1 and (part.cumulable == 1 and property == 'length') or (part.cumulable == 2 and property == 'width')) %}<div><small title="{{ part.count }} x {{ part['cutting_'~property] }} = {{ part['cumulative_cutting_'~property] }}" data-toggle="tooltip">&Sigma;&nbsp;=&nbsp;<em>{{ part['cumulative_cutting_'~property] }}</em></small></div>{% endif %}
    {% if not hideEdgeCuttingDim and part.edge_decrements[property] %}<hr><div class="ladb-flex"><span class="ladb-opencutlist-icon ladb-opencutlist-icon-edge-decremented"{% if part.edge_decrements[property] %} data-toggle="tooltip" data-placement="bottom" title="{{ 'tab.cutlist.tooltip.edge_decremented'|i18next({ 'decrement':part.edge_decrements[property] }) }}"{% endif %}>&nbsp</span><span class="ladb-flex-grow-1">{{ part['edge_cutting_'~property] }}</span></div>{% endif %}
</td>
