<td class="ladb-cutlist-value ladb-cutlist-value-right ladb-cutlist-value-highlighted">
    <div>{{ part['cutting_'~property] }}</div>
    {% if part.count > 1 and (part.cumulable == 1 and property == 'length') or (part.cumulable == 2 and property == 'width') %}<div><small title="{{ part.count }} x {{ part['cutting_'~property] }} = {{ part['cumulative_cutting_'~property] }}" data-toggle="tooltip">&Sigma;&nbsp;=&nbsp;<em>{{ part['cumulative_cutting_'~property] }}</em></small></div>{% endif %}
    {% if part.edge_decrements[property] %}<hr><div style="display: flex;"{% if part.edge_decrements[property] %} data-toggle="tooltip" data-placement="bottom" title="{{ 'tab.cutlist.tooltip.edge_decremented'|i18next({ 'decrement':part.edge_decrements[property] }) }}"{% endif %}><span class="ladb-opencutlist-icon ladb-opencutlist-icon-edge-decremented" style="color:#999;">&nbsp</span><span style="flex-grow: 1;">{{ part['edge_cutting_'~property] }}</span></div>{% endif %}
</td>
