{# set errors #}
{# set warnings #}
{# set groups #}

{% include 'core/_alert-errors.twig' %}
{% include 'core/_alert-warnings.twig' %}
{% include 'core/_alert-tips.twig' %}

{% if usedEdgeMaterialDisplayNames is not empty or usedVeneerMaterialDisplayNames is not empty or usedTags is not empty or ignoredInstanceCount > 0 %}

    {% set groupFiltersHidden = 'filters' in generateOptions.hidden_group_ids or (generateFilters.edge_material_names_filter is empty and generateFilters.veneer_material_names_filter is empty and generateFilters.tags_filter is empty) %}

    <table id="ladb_group_filters" data-group-id="filters" class="{% if groupFiltersHidden %}no-print {% endif %}table table-bordered ladb-cutlist-group ladb-cutlist-group-dark ladb-cutlist-group-filters">
        <thead>
        <tr class="table-heading">
            <td>
                <button class="no-print btn btn-default btn-sm ladb-btn-toggle-no-print pull-left" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.show_hide_block'|i18next }}"><i class="ladb-opencutlist-icon-eye-{% if groupFiltersHidden %}close{% else %}open{% endif %}"></i></button>
                <div>
                    <span class="ladb-heading"><i class="ladb-opencutlist-icon-filter-on"></i> {{ 'tab.cutlist.list.filters'|i18next }}</span>
                </div>
            </td>
        </tr>
        </thead>
        <tbody>
        {% if usedEdgeMaterialDisplayNames is not empty or generateFilters.edge_material_names_filter is not empty %}
            <tr>
                <td>
                    <div class="media">
                        <div class="media-left">
                            <i class="ladb-opencutlist-icon-material-type-4" style="font-size: 150%; line-height: 32px;"></i>
                        </div>
                        <div class="media-body">
                            <div class="no-print">
                                <input type="text" class="form-control" id="ladb_cutlist_edge_material_names_filter" value="{{ generateFilters.edge_material_names_filter|join(';') }}" placeholder="{{ 'tab.cutlist.list.edge_material_names_filter'|i18next }}">
                            </div>
                            <div class="no-screen">
                                <ul class="ladb-cutlist-tags-filters-printable">
                                    {% for material_name in generateFilters.edge_material_names_filter %}
                                        <li>{{ material_name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="media-right no-print">
                            <button class="btn btn-default" id="ladb_cutlist_btn_edge_material_names_filter_clear">{{ 'default.clear'|i18next }}</button>
                        </div>
                    </div>
                </td>
            </tr>
        {% endif %}
        {% if usedVeneerMaterialDisplayNames is not empty or generateFilters.veneer_material_names_filter is not empty %}
            <tr>
                <td>
                    <div class="media">
                        <div class="media-left">
                            <i class="ladb-opencutlist-icon-material-type-6" style="font-size: 150%; line-height: 32px;"></i>
                        </div>
                        <div class="media-body">
                            <div class="no-print">
                                <input type="text" class="form-control" id="ladb_cutlist_veneer_material_names_filter" value="{{ generateFilters.veneer_material_names_filter|join(';') }}" placeholder="{{ 'tab.cutlist.list.veneer_material_names_filter'|i18next }}">
                            </div>
                            <div class="no-screen">
                                <ul class="ladb-cutlist-tags-filters-printable">
                                    {% for material_name in generateFilters.veneer_material_names_filter %}
                                        <li>{{ material_name }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="media-right no-print">
                            <button class="btn btn-default" id="ladb_cutlist_btn_veneer_material_names_filter_clear">{{ 'default.clear'|i18next }}</button>
                        </div>
                    </div>
                </td>
            </tr>
        {% endif %}
        {% if usedTags is not empty or generateFilters.tags_filter is not empty %}
            <tr>
                <td>
                    <div class="media">
                        <div class="media-left">
                            <i class="ladb-opencutlist-icon-tag" style="font-size: 150%; line-height: 32px;"></i>
                        </div>
                        <div class="media-body">
                            <div class="no-print">
                                <input type="text" class="form-control" id="ladb_cutlist_tags_filter" value="{{ generateFilters.tags_filter|join(';')|escape }}" placeholder="{{ 'tab.cutlist.list.tags_filter'|i18next }}">
                            </div>
                            <div class="no-screen">
                                <ul class="ladb-cutlist-tags-filters-printable">
                                    {% for tag in generateFilters.tags_filter %}
                                        <li>{{ tag }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="media-right no-print">
                            <button class="btn btn-default" id="ladb_cutlist_btn_tags_filter_clear">{{ 'default.clear'|i18next }}</button>
                        </div>
                    </div>
                </td>
            </tr>
        {% endif %}
        {% if ignoredInstanceCount > 0 %}
            <tr class="alert alert-{% if instanceCount - ignoredInstanceCount == 0 %}danger{% else %}warning{% endif %} no-print">
                <td><i class="ladb-opencutlist-icon-warning"></i> {{ ('tab.cutlist.list.filters_warning'~(instanceCount - ignoredInstanceCount == 0 ? '_0' : ''))|i18next({ 'count':(instanceCount - ignoredInstanceCount), 'total':instanceCount }) }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endif %}

{% if groups|length > 0 %}

    {% set groupSummaryHidden = 'summary' in generateOptions.hidden_group_ids %}

    <table id="ladb_group_summary" data-group-id="summary" class="{% if groupSummaryHidden %}no-print {% endif %}table table-bordered ladb-cutlist-group ladb-cutlist-group-dark ladb-cutlist-group-summary">
        <thead>
        <tr class="table-heading">
            <td colspan="{% if generateOptions.hide_final_areas %}6{% else %}7{% endif %}">
                <button class="no-print btn btn-default btn-sm ladb-btn-toggle-no-print pull-left" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.show_hide_block'|i18next }}"><i class="ladb-opencutlist-icon-eye-{% if groupSummaryHidden %}close{% else %}open{% endif %}"></i></button>
                <div class="btn-group pull-right">
                    <button class="no-print btn btn-default ladb-btn-group-menu btn-sm ladb-btn-hiddable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ladb-opencutlist-icon-submenu"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="ladb-item-hide-all-other-groups"><i class="ladb-opencutlist-icon-eye-close"></i> {{ 'tab.cutlist.menu.hide_all_other_groups'|i18next }}</a></li>
                        <li><a href="#" class="ladb-item-show-all-groups"><i class="ladb-opencutlist-icon-eye-open"></i> {{ 'tab.cutlist.menu.show_all_groups'|i18next }}</a></li>
                    </ul>
                </div>
                <div class="ladb-heading">{{ 'tab.cutlist.list.summary'|i18next }}</div>
            </td>
        </tr>
        <tr class="table-column-heading">
            <td rowspan="2" width="5%">{{ 'tab.cutlist.list.material_type'|i18next }}</td>
            <td rowspan="2">{{ 'tab.cutlist.list.material_thickness'|i18next }}<span class="ladb-minitools ladb-minitools-right no-print"><a href="#" id="ladb_cutlist_btn_toggle_groups_visibility"><i class="ladb-opencutlist-icon-eye-close"></i></a></span></td>
            <td rowspan="2" width="10%">{{ 'tab.cutlist.list.part_count'|i18next }}</td>
            <td colspan="3">{{ 'tab.cutlist.list.total_cutting'|i18next }}</td>
            {% if not generateOptions.hide_final_areas %}
                <td>{{ 'tab.cutlist.list.total_final'|i18next }}</td>
            {% endif %}
        </tr>
        <tr class="table-column-heading">
            <td width="10%">{{ 'tab.cutlist.list.length'|i18next }}</td>
            <td width="10%">{{ 'tab.cutlist.list.area'|i18next }}</td>
            <td width="10%">{{ 'tab.cutlist.list.volume'|i18next }}</td>
            {% if not generateOptions.hide_final_areas %}
                <td width="12%">{{ 'tab.cutlist.list.area'|i18next }}</td>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            {% set hidden = group.id in generateOptions.hidden_group_ids %}
            <tr id="ladb_group_{{ group.id }}_summary" class="ladb-cutlist-row ladb-minitools-holder{% if hidden %} ladb-mute{% endif %} text-middle">
                <td class="text-center">{% if group.material_display_name is not empty %}{% include 'tabs/materials/_material-type-icon.twig' with { 'type':group.material_type, 'filled':group.material_type > 0 } %}{% else %}-{% endif %}</td>
                <td>
                    <div class="ladb-minitools ladb-minitools-right no-print">
                        {% if group.material_url is not empty %}
                            <a href="{{ group.material_url }}" class="ladb-btn-open-material-url" data-toggle="tooltip" title="{{ 'tab.materials.tooltip.open_url'|i18next }}"><i class="ladb-opencutlist-icon-link"></i></a>
                        {% endif %}
                        {% if group.material_type == 4 %}    {# 4 = TYPE_EDGE #}
                            {% set filtered = group.material_display_name in generateFilters.edge_material_names_filter %}
                            <a href="#ladb_group_{{ group.id }}" class="ladb-btn-edge-material-filter" data-material-display-name="{{ group.material_display_name }}" data-toggle="tooltip" title="{{ ('tab.cutlist.tooltip.'~(filtered ? 'remove' : 'add')~'_edge_material_name_filter')|i18next({ 'material_name':group.material_display_name }) }}"><i class="ladb-opencutlist-icon-filter-{% if filtered %}on{% else %}off{% endif %}"></i></a>
                        {% endif %}
                        {% if group.material_type == 6 %}    {# 6 = TYPE_VENEER #}
                            {% set filtered = group.material_display_name in generateFilters.veneer_material_names_filter %}
                            <a href="#ladb_group_{{ group.id }}" class="ladb-btn-veneer-material-filter" data-material-display-name="{{ group.material_display_name }}" data-toggle="tooltip" title="{{ ('tab.cutlist.tooltip.'~(filtered ? 'remove' : 'add')~'_veneer_material_name_filter')|i18next({ 'material_name':group.material_display_name }) }}"><i class="ladb-opencutlist-icon-filter-{% if filtered %}on{% else %}off{% endif %}"></i></a>
                        {% endif %}
                        <a href="#ladb_group_{{ group.id }}" class="ladb-btn-scrollto ladb-click-tool" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.scroll_to_block'|i18next }}"><i class="ladb-opencutlist-icon-arrow-circle-down"></i></a>
                        {% if group.material_id %}
                            <a href="#" class="ladb-btn-edit-material" data-material-id="{{ group.material_id }}" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.edit_material'|i18next({ 'material_name':group.material_display_name }) }}..."><i class="ladb-opencutlist-icon-edit"></i></a>
                        {% endif %}
                        <a href="#ladb_group_{{ group.id }}" class="ladb-btn-toggle-visible" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.show_hide_block'|i18next }}"><i class="ladb-opencutlist-icon-eye-{% if hidden %}close{% else %}open{% endif %}"></i></a>
                    </div>
                    {% include 'tabs/cutlist/_group-label.twig' %}
                    {% if not generateOptions.hide_descriptions and group.material_description is not empty %}
                        <div class="ladb-material-description">{{ group.material_description|nl2br }}</div>
                    {% endif %}
                </td>
                <td class="text-center">{% if group.part_count == 0 %}-{% else %}{{ group.part_count }}{% endif %}</td>
                <td class="ladb-cutlist-value ladb-cutlist-value-right{% if group.total_cutting_length is null %} ladb-disabled{% endif %}">{{ group.total_cutting_length }}</td>
                <td class="ladb-cutlist-value ladb-cutlist-value-right{% if group.total_cutting_area is null %} ladb-disabled{% endif %}">{{ group.total_cutting_area }}</td>
                <td class="ladb-cutlist-value ladb-cutlist-value-right{% if group.total_cutting_volume is null %} ladb-disabled{% endif %}">{{ group.total_cutting_volume }}</td>
                {% if not generateOptions.hide_final_areas %}
                    <td class="ladb-cutlist-value ladb-cutlist-value-right{% if group.total_final_area is null and group.invalid_final_area_part_count == 0 %} ladb-disabled{% endif %}">{% if group.invalid_final_area_part_count > 0 %}<div class="ladb-minitools ladb-minitools-left no-print"><a class="ladb-tool-warning" data-toggle="tooltip" title="{{ ('tab.cutlist.tooltip.invalid_final_area')|i18next({ 'count':group.invalid_final_area_part_count, 'total':group.part_count }) }}"><i class="ladb-opencutlist-icon-warning"></i></a></div>{% endif %}{% if group.invalid_final_area_part_count > 0 %}-{% else %}{{ group.total_final_area }}{% endif %}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% for group in groups %}

    {% set groupHidden = group.id in generateOptions.hidden_group_ids %}
    {% set showGrain = group.material_type == 1 or group.material_type == 2 or group.material_type == 6 %}    {# 1 = TYPE_SOLID_WOOD, 2 = TYPE_SHEET_GOOD, 6 = TYPE_VENEER #}
    {% set showCuttingDimensions = group.show_cutting_dimensions and not generateOptions.hide_cutting_dimensions and group.material_type != 5 %}    {# 5 = TYPE_HARDWARE #}
    {% set showBoxDimensions = not generateOptions.hide_bbox_dimensions and group.material_type >= 0 and group.material_type != 5 %}    {# 5 = TYPE_HARDWARE #}
    {% set hideWidth = group.material_type == 3 or group.material_type == 4  %}    {# 3 = TYPE_DIMENSIONAL, 4 = TYPE_EDGE #}
    {% set hideThickness = group.material_type == 2 or group.material_type == 3 or group.material_type == 4 or group.material_type == 6 %}    {# 2 = TYPE_SHEET_GOOD, 3 = TYPE_DIMENSIONAL, 4 = TYPE_EDGE, 6 = TYPE_VENEER #}
    {% set showFinalAreas = group.material_type == 2 and not generateOptions.hide_final_areas %}    {# 2 = TYPE_SHEET_GOOD #}
    {% set showEdges = group.show_edges and not generateOptions.hide_edges %}
    {% set showFaces = group.show_faces and not generateOptions.hide_faces %}
    {% set colspan = 16 %}
    {% if showCuttingDimensions %}
        {% if hideWidth %}
            {% set colspan = colspan - 1 %}
        {% endif %}
    {% else %}
        {% set colspan = colspan - 2 %}
    {% endif %}
    {% if showBoxDimensions %}
        {% if hideWidth %}
            {% set colspan = colspan - 1 %}
        {% endif %}
        {% if hideThickness %}
            {% set colspan = colspan - 1 %}
        {% endif %}
    {% else %}
        {% set colspan = colspan - 3 %}
    {% endif %}
    {% if not showFinalAreas %}
        {% set colspan = colspan - 1 %}
    {% endif %}
    {% if not showEdges %}
        {% set colspan = colspan - 4 %}
    {% endif %}
    {% if not showFaces %}
        {% set colspan = colspan - 2 %}
    {% endif %}

    <table id="ladb_group_{{ group.id }}" data-group-id="{{ group.id }}" class="{% if groupHidden %}no-print {% endif %}table table-bordered ladb-cutlist-group ladb-group-type-{{ group.material_type }}">
        <thead>
        <tr class="table-heading">
            <td colspan="{{ colspan }}" class="text-middle">
                <button class="no-print btn btn-default btn-sm ladb-btn-toggle-no-print pull-left" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.show_hide_block'|i18next }}"><i class="ladb-opencutlist-icon-eye-{% if groupHidden %}close{% else %}open{% endif %}"></i></button>
                <div class="btn-group pull-right">
                    {% if group.material_type == 2 or group.material_type == 6 or group.material_type == 3 or group.material_type == 4 %}    {# 2 = TYPE_SHEET_GOOD, 6 = TYPE_VENEER, 3 = TYPE_DIMENSIONAL, 4 = TYPE_EDGE #}
                        <button class="no-print btn btn-default btn-sm ladb-btn-hiddable ladb-btn-group-packing"><i class="ladb-opencutlist-icon-packing-irregular"></i> {{ 'tab.cutlist.menu.group_cuttingdiagram'|i18next }}...</button>
                    {% endif %}
                    {% if capabilities.is_dev and not capabilities.is_rbz %}
                        {% if group.material_type == 2 or group.material_type == 6 %}     {# 2 = TYPE_SHEET_GOOD, 6 = TYPE_VENEER  #}
                            <button class="no-print btn btn-default btn-sm ladb-btn-hiddable ladb-btn-group-cuttingdiagram2d"><i class="ladb-opencutlist-icon-cuttingdiagram2d"></i></button>
                        {% endif %}
                        {% if group.material_type == 3 or group.material_type == 4 %}      {# 3 = TYPE_DIMENSIONAL, 4 = TYPE_EDGE #}
                            <button class="no-print btn btn-default btn-sm ladb-btn-hiddable ladb-btn-group-cuttingdiagram1d"><i class="ladb-opencutlist-icon-cuttingdiagram1d"></i></button>
                        {% endif %}
                    {% endif %}
                    {% if group.material_type > 0 and group.material_type != 5 %}    {# 5 = TYPE_HARDWARE #}
                        <button class="no-print btn btn-default btn-sm ladb-btn-hiddable ladb-btn-group-labels" data-toggle="tooltip" title="{{ 'tab.cutlist.menu.group_labels'|i18next }}..."><i class="ladb-opencutlist-icon-labels" style="font-size: 14px;"></i></button>
                    {% endif %}
                    {% if capabilities.sketchup_version_number >= 1800000000 and capabilities.webgl_available and group.material_type != 4 and group.material_type != 6 %}    {# 4 = TYPE_EDGE, 6 = TYPE_VENEER  #}
                        <button class="no-print btn btn-default btn-sm ladb-btn-hiddable ladb-btn-group-layout" data-toggle="tooltip" title="{{ 'tab.cutlist.menu.group_layout_parts'|i18next }}..."><i class="ladb-opencutlist-icon-layout" style="font-size: 14px;"></i></button>
                    {% endif %}
                    <button class="no-print btn btn-default btn-sm ladb-btn-hiddable ladb-btn-group-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ladb-opencutlist-icon-submenu"></i> <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        {% if not group.material_is_virtual %}
                            <li><a href="#" class="ladb-item-highlight-group-parts"><i class="ladb-opencutlist-icon-magnifier"></i> {{ 'tab.cutlist.menu.highlight_parts'|i18next }}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" class="ladb-item-export-2d-group-parts"><i class="ladb-opencutlist-icon-2d"></i> {{ 'tab.cutlist.menu.group_write_2d_parts'|i18next }}...</a></li>
                            <li><a href="#" class="ladb-item-export-3d-group-parts"><i class="ladb-opencutlist-icon-3d"></i> {{ 'tab.cutlist.menu.group_write_3d_parts'|i18next }}...</a></li>
                            <li role="separator" class="divider"></li>
                        {% endif %}
                        <li><a href="#" class="ladb-item-export-group-parts"><i class="ladb-opencutlist-icon-export"></i> {{ 'tab.cutlist.menu.group_export'|i18next }}...</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" class="ladb-item-estimate-group-parts"><i class="ladb-opencutlist-icon-estimate"></i> {{ 'tab.cutlist.menu.group_estimate'|i18next }}...</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" class="ladb-item-hide-all-other-groups"><i class="ladb-opencutlist-icon-eye-close"></i> {{ 'tab.cutlist.menu.hide_all_other_groups'|i18next }}</a></li>
                        <li><a href="#" class="ladb-item-show-all-groups"><i class="ladb-opencutlist-icon-eye-open"></i> {{ 'tab.cutlist.menu.show_all_groups'|i18next }}</a></li>
                        {% if group.material_type != 4 and group.material_type != 6 %}    {# 4 = TYPE_EDGE, 6 = TYPE_VENEER #}
                            <li role="separator" class="divider"></li>
                            <li><a class="ladb-item-numbers-save" href="#"><i class="ladb-opencutlist-icon-save"></i> {{ 'tab.cutlist.menu.group_numbers_save'|i18next }}</a></li>
                            <li><a class="ladb-item-numbers-reset" href="#"><i class="ladb-opencutlist-icon-refresh"></i> {{ 'tab.cutlist.menu.group_numbers_reset'|i18next }}</a></li>
                        {% endif %}
                        {% if group.material_display_name is not empty %}
                            <li role="separator" class="divider"></li>
                            <li><a href="#" class="ladb-item-edit-material"><i class="ladb-opencutlist-icon-materials"></i> {{ 'tab.cutlist.menu.edit_material'|i18next({ 'material_name':group.material_display_name }) }}...</a></li>
                        {% endif %}
                        {% if group.material_type > 0 and group.material_type != 4 and group.material_type != 5 and group.material_type != 6 %}    {# 4 = TYPE_EDGE, 5 = TYPE_HARDWARE, 5 = TYPE_VENEER #}
                            <li role="separator" class="divider"></li>
                            <li><a href="#" class="ladb-item-dimensions-help"><i class="ladb-opencutlist-icon-dimensions-help"></i> {{ 'tab.cutlist.list.dimensions_help'|i18next }}</a></li>
                        {% endif %}
                    </ul>
                </div>
                {% if group.material_display_name is not empty %}
                    {% include 'tabs/materials/_material-type-icon.twig' with { 'type':group.material_type, 'filled':group.material_type > 0, 'classes':'pull-left' } %}
                {% endif %}
                <div class="ladb-heading">{% include 'tabs/cutlist/_group-label.twig' with { 'hideAddBtn':false } %}{% if showGrain %}<span class="ladb-horizontal-left-separator ladb-heading-info"><i class="ladb-opencutlist-icon-grained-{{ group.material_grained ? '1' : '0' }}"></i> {{ ('tab.materials.edit_material.grained_'~(group.material_grained ? '1' : '0'))|i18next }}</span>{% endif %}</div>
            </td>
        </tr>
        <tr class="table-column-heading">
            <td rowspan="2" width="5%">{{ 'tab.cutlist.list.number'|i18next }}</td>
            <td rowspan="2">{{ 'tab.cutlist.list.name'|i18next }}<span class="ladb-minitools ladb-minitools-right no-print"><a href="#" class="ladb-btn-select-group-parts" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.select_unselect_all_parts'|i18next }}"><i class="ladb-opencutlist-icon-check-box-with-check-sign"></i></a></span></td>
            <td rowspan="2" width="8%">{{ 'tab.cutlist.list.count'|i18next }}</td>
            {% if showCuttingDimensions %}
                <td colspan="{{ hideWidth ? '1' : '2' }}">{{ 'tab.cutlist.list.cutting'|i18next }}</td>
            {% endif %}
            {% if showBoxDimensions %}
                <td colspan="{{ 3 - (hideWidth ? 1 : 0) - (hideThickness ? 1 : 0) }}">{{ 'tab.cutlist.list.bbox'|i18next }}</td>
            {% endif %}
            {% if showFinalAreas %}
                <td width="10%">{{ ('tab.cutlist.list.final')|i18next }}</td>
            {% endif %}
            {% if showEdges %}
                <td colspan="4">{{ ('tab.cutlist.list.edges')|i18next }}</td>
            {% endif %}
            {% if showFaces %}
                <td colspan="4">{{ ('tab.cutlist.list.faces')|i18next }}</td>
            {% endif %}
        </tr>
        <tr class="table-column-heading">
            {% if showCuttingDimensions %}
                {% for property in dimensionColumnOrderStrategy if (not hideWidth or property != 'width') and property != 'thickness' %}
                    <td width="8%">{{ ('tab.cutlist.list.'~property~'_short')|i18next }}</td>
                {% endfor %}
            {% endif %}
            {% if showBoxDimensions %}
                {% for property in dimensionColumnOrderStrategy if (not hideWidth or property != 'width') and (not hideThickness or property != 'thickness') %}
                    <td width="8%">{{ ('tab.cutlist.list.'~property~'_short')|i18next }}</td>
                {% endfor %}
            {% endif %}
            {% if showFinalAreas %}
                <td>{{ ('tab.cutlist.list.area_short')|i18next }}</td>
            {% endif %}
            {% if showEdges %}
                <td data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.edge_ymin'|i18next }}"><i class="ladb-opencutlist-icon-edge-0010"></i></td>
                <td data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.edge_ymax'|i18next }}"><i class="ladb-opencutlist-icon-edge-1000"></i></td>
                <td data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.edge_xmin'|i18next }}"><i class="ladb-opencutlist-icon-edge-0001"></i></td>
                <td data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.edge_xmax'|i18next }}"><i class="ladb-opencutlist-icon-edge-0100"></i></td>
            {% endif %}
            {% if showFaces %}
                <td data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.face_zmax'|i18next }}"><i class="ladb-opencutlist-icon-face-10"></i></td>
                <td data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.face_zmin'|i18next }}"><i class="ladb-opencutlist-icon-face-01"></i></td>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% set thickness = 0 %}
        {% set width = 0 %}
        {% for part in group.parts %}
            {% if showThicknessSeparators and showBoxDimensions and group.material_type == 1 and part.thickness != thickness and group.parts|length > 1 %}
                {% set thickness = part.thickness %}
                <tr class="table-row-section">
                    <td colspan="8">{{ 'tab.cutlist.list.thickness'|i18next }} {{ part.thickness }}</td>
                </tr>
            {% endif %}
            {% if showWidthSeparators and showBoxDimensions and group.material_type == 1 and part.width != width and group.parts|length > 1 %}
                {% set width = part.width %}
                <tr class="table-row-section">
                    <td colspan="8" class="separator">{{ 'tab.cutlist.list.width'|i18next }} {{ part.width }}</td>
                </tr>
            {% endif %}
            <tr id="ladb_part_{{ part.id }}" data-part-id="{{ part.id }}" class="ladb-cutlist-row{% if part.children %} ladb-cutlist-row-folder{% endif %} ladb-minitools-holder">
                {% include 'tabs/cutlist/_list-row-col-number.twig' %}
                {% include 'tabs/cutlist/_list-row-col-name.twig' %}
                {% include 'tabs/cutlist/_list-row-col-count.twig' %}
                {% if showCuttingDimensions %}
                    {% for property in dimensionColumnOrderStrategy if (not hideWidth or property != 'width') and property != 'thickness' %}
                        {% include 'tabs/cutlist/_list-row-col-cutting-dimension.twig' %}
                    {% endfor %}
                {% endif %}
                {% if showBoxDimensions %}
                    {% for property in dimensionColumnOrderStrategy if (not hideWidth or property != 'width') and (not hideThickness or property != 'thickness') %}
                        {% include 'tabs/cutlist/_list-row-col-box-dimension.twig' %}
                    {% endfor %}
                {% endif %}
                {% if showFinalAreas %}
                    <td class="ladb-cutlist-value ladb-cutlist-value-right">{% if part.final_area %}{{ part.final_area }}{% else %}-{% endif %}</td>
                {% endif %}
                {% if showEdges %}
                    {% include 'tabs/cutlist/_list-row-col-edge.twig' with { 'edge':'ymin' } %}
                    {% include 'tabs/cutlist/_list-row-col-edge.twig' with { 'edge':'ymax' } %}
                    {% include 'tabs/cutlist/_list-row-col-edge.twig' with { 'edge':'xmin' } %}
                    {% include 'tabs/cutlist/_list-row-col-edge.twig' with { 'edge':'xmax' } %}
                {% endif %}
                {% if showFaces %}
                    {% include 'tabs/cutlist/_list-row-col-face.twig' with { 'face':'zmax' } %}
                    {% include 'tabs/cutlist/_list-row-col-face.twig' with { 'face':'zmin' } %}
                {% endif %}
            </tr>
            {% if part.children %}
                {% for partChild in part.children %}
                    <tr id="ladb_part_{{ partChild.id }}" data-part-id="{{ partChild.id }}" class="ladb-cutlist-row ladb-cutlist-row-child hide" data-folder-id="{{ part.id }}">
                        {% include 'tabs/cutlist/_list-row-col-number.twig' with { 'part':partChild } %}
                        {% include 'tabs/cutlist/_list-row-col-name.twig' with { 'part':partChild, 'isChild':true } %}
                        {% include 'tabs/cutlist/_list-row-col-count.twig' with { 'part':partChild } %}
                        {% if showCuttingDimensions %}
                            {% for property in dimensionColumnOrderStrategy if (not hideWidth or property != 'width') and property != 'thickness' %}
                                <td></td>
                            {% endfor %}
                        {% endif %}
                        {% if showBoxDimensions %}
                            {% for property in dimensionColumnOrderStrategy if (not hideWidth or property != 'width') and (not hideThickness or property != 'thickness') %}
                                {% include 'tabs/cutlist/_list-row-col-box-dimension.twig' with { 'part':partChild, 'noValue':true } %}
                            {% endfor %}
                        {% endif %}
                        {% if showFinalAreas %}
                            <td></td>
                        {% endif %}
                        {% if showEdges %}
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        {% endif %}
                        {% if showFaces %}
                            <td></td>
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endfor %}