
{# set materialOrigin #}
{# set flat (facultative) #}
{# set noColor (facultative) #}
{# set noPrint (facultative) #}
{# set attr (facultative) #}

{% set flat = flat|default(false) %}
{% set noColor = noColor|default(false) %}
{% set noPrint = noPrint|default(false) %}

{% for materialOrigin in materialOrigins %}
    {% if materialOrigin > 1 %}  {# OWNED origin are ignored #}
        {% if flat %}
            <div class="media">
                <div class="media-left" style="width: 40px;"><i class="ladb-opencutlist-icon-material-origin-{{ materialOrigin }} ladb-opencutlist-icon-lg{% if not noColor %} ladb-color-info{% endif %}"></i></div>
                <div class="media-body">
                    {{ ('tab.cutlist.tooltip.material_origin_'~materialOrigin)|i18next }}
                </div>
            </div>
        {% else %}
            <a{% if attr is defined %} href="#"{% endif %}{% if not noColor %} class="ladb-tool-info{% if noPrint %} no-print{% endif %}"{% endif %}{% if attr is defined %} {{ attr }}{% endif %} data-toggle="tooltip" title="{{ ('tab.cutlist.tooltip.material_origin_'~materialOrigin)|i18next }}"><i class="ladb-opencutlist-icon-material-origin-{{ materialOrigin }}"></i></a>
        {% endif %}
    {% endif %}
{% endfor %}
