{% extends 'core/_modal.twig' %}

{% set id = 'ladb_cutlist_modal_options' %}
{% set title = 'default.options'|i18next %}

{% block headerToolsInner %}
    {% include 'components/_widget-preset.twig' %}
    <button class="btn btn-default btn-xs" data-help-page="cutlist.options"><i class="ladb-opencutlist-icon-help"></i> {{ 'default.help'|i18next }}</button>
{% endblock %}

{% block headerInner %}
    {{ parent() }}
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation"{% if tab == 'general' %} class="active"{% endif %}><a href="#tab_options_general" role="tab" data-toggle="tab">{{ 'tab.cutlist.option.general'|i18next }}</a></li>
        <li role="presentation"{% if tab == 'sorting' %} class="active"{% endif %}><a href="#tab_options_sorting" role="tab" data-toggle="tab"><i class="ladb-opencutlist-icon-sort-asc"></i> {{ 'tab.cutlist.option.sorting'|i18next }}</a></li>
        <li role="presentation"{% if tab == 'dimension_column_order_strategy' %} class="active"{% endif %}><a href="#tab_options_dimension_column_order_strategy" role="tab" data-toggle="tab"><i class="ladb-opencutlist-icon-sort-col"></i> {{ 'tab.cutlist.option.dimension_column_order_strategy'|i18next }}</a></li>
        <li role="presentation"{% if tab == 'tags' %} class="active"{% endif %}><a href="#tab_options_tags" role="tab" data-toggle="tab"><i class="ladb-opencutlist-icon-tag"></i> {{ 'tab.cutlist.option.tags'|i18next }}</a></li>
    </ul>
{% endblock %}

{% block bodyInner %}
    <div class="form form-horizontal">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane{% if tab == 'general' %} active{% endif %}" id="tab_options_general">
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.option.auto_orient_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_auto_orient"><i class="ladb-opencutlist-icon-auto-oriented"></i> {{ 'tab.cutlist.option.auto_orient'|i18next }}
                        </label>
                    </div>
                </div>
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.option.flipped_detection_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_flipped_detection"><i class="ladb-opencutlist-icon-flipped"></i> {{ 'tab.cutlist.option.flipped_detection'|i18next }}
                        </label>
                    </div>
                </div>
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.option.smart_material_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_smart_material"><i class="ladb-opencutlist-icon-materials"></i> {{ 'tab.cutlist.option.smart_material'|i18next }}
                        </label>
                    </div>
                </div>
                <br>
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.option.dynamic_attributes_name_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_dynamic_attributes_name"> {{ 'tab.cutlist.option.dynamic_attributes_name'|i18next }}
                        </label>
                    </div>
                </div>
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.option.part_number_with_letters_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_part_number_with_letters"> {{ 'tab.cutlist.option.part_number_with_letters'|i18next }}
                        </label>
                    </div>
                </div>
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.option.part_number_sequence_by_group_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_part_number_sequence_by_group"> {{ 'tab.cutlist.option.part_number_sequence_by_group'|i18next }}
                        </label>
                    </div>
                </div>
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.option.part_folding_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_part_folding"> {{ 'tab.cutlist.option.part_folding'|i18next }}
                        </label>
                    </div>
                </div>
                <br>
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.option.hide_entity_names_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_hide_entity_names"> {{ 'tab.cutlist.option.hide_entity_names'|i18next }}
                        </label>
                    </div>
                </div>
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.option.hide_descriptions_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_hide_descriptions"> {{ 'tab.cutlist.option.hide_descriptions'|i18next }}
                        </label>
                    </div>
                </div>
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.option.hide_tags_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_hide_tags"> {{ 'tab.cutlist.option.hide_tags'|i18next }}
                        </label>
                    </div>
                </div>
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.option.hide_cutting_dimensions_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_hide_cutting_dimensions"> {{ 'tab.cutlist.option.hide_cutting_dimensions'|i18next }}
                        </label>
                    </div>
                </div>
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.option.hide_bbox_dimensions_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_hide_bbox_dimensions"> {{ 'tab.cutlist.option.hide_bbox_dimensions'|i18next }}
                        </label>
                    </div>
                </div>
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.option.hide_final_areas_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_hide_final_areas"> <span>{{ 'tab.cutlist.option.hide_final_areas'|i18next }}</span>
                        </label>
                    </div>
                </div>
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.option.hide_edges_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_hide_edges"> <span>{{ 'tab.cutlist.option.hide_edges'|i18next }}</span>
                        </label>
                    </div>
                </div>
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.option.hide_faces_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_hide_faces"> <span>{{ 'tab.cutlist.option.hide_faces'|i18next }}</span>
                        </label>
                    </div>
                </div>
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.option.hide_material_colors_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_hide_material_colors"> <span>{{ 'tab.cutlist.option.hide_material_colors'|i18next }}</span>
                        </label>
                    </div>
                </div>
                <br>
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.option.minimize_on_highlight_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_minimize_on_highlight"> <span>{{ 'tab.cutlist.option.minimize_on_highlight'|i18next }}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'sorting' %} active{% endif %}" id="tab_options_sorting">
                <section>
                    <div style="font-weight: bold; text-align: center; margin: 5px 0;">{{ 'tab.cutlist.option.group_order_strategy'|i18next }}</div>
                    <p class="help-block text-center"><small>{{ 'tab.cutlist.option.group_order_strategy_help'|i18next }}</small></p>
                    <div class="row">
                        <div  class="col-xs-offset-2 col-xs-8">
                            <ul id="ladb_sortable_group_order_strategy" class="ladb-sortable-list"></ul>
                        </div>
                    </div>
                </section>
                <section>
                    <div style="font-weight: bold; text-align: center; margin: 5px 0;">{{ 'tab.cutlist.option.part_order_strategy'|i18next }}</div>
                    <p class="help-block text-center"><small>{{ 'tab.cutlist.option.part_order_strategy_help'|i18next }}</small></p>
                    <div class="row">
                        <div  class="col-xs-offset-2 col-xs-8">
                            <ul id="ladb_sortable_part_order_strategy" class="ladb-sortable-list"></ul>
                        </div>
                    </div>
                </section>
            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'dimension_column_order_strategy' %} active{% endif %}" id="tab_options_dimension_column_order_strategy">
                <p class="help-block text-center"><small>{{ 'tab.cutlist.option.dimension_column_order_strategy_help'|i18next }}</small></p>
                <div class="row">
                    <div  class="col-xs-offset-2 col-xs-8">
                        <ul id="ladb_sortable_dimension_column_order_strategy" class="ladb-sortable-list"></ul>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'tags' %} active{% endif %}" id="tab_options_tags">
                <div class="form-group">
                    <p class="help-block text-center"><small>{{ 'tab.cutlist.option.tags_help'|i18next }}</small></p>
                    <div class="row">
                        <div  class="col-xs-offset-2 col-xs-8">
                            <input type="text" class="form-control" id="ladb_input_tags" placeholder="{{ 'tab.cutlist.option.tags_placeholder'|i18next }} ; ...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerLeftInner %}
    <button class="btn btn-default" id="ladb_cutlist_options_setup_model_units"><i class="ladb-opencutlist-icon-settings"></i> {{ 'default.setup_model_units'|i18next }}...</button>
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button class="btn btn-primary btn-validate-modal" id="ladb_cutlist_options_update">{{ 'default.validate'|i18next }}</button>
{% endblock %}
