{% extends 'core/_modal.twig' %}

{% set id = 'ladb_cutlist_modal_cuttingdiagram_1d' %}
{% set title = ('tab.cutlist.cuttingdiagram.title'|i18next)~'<small class="ladb-horizontal-left-separator">'~group.material_name|escape('html')~' / '~group.std_dimension~'</small>' %}
{% set barStrippedname = group.material_type == 4 ? 'edge' : 'dimensional' %}  {# 4 = TYPE_EDGE #}

{% block headerToolsInner %}
    {% include 'components/_widget-preset.twig' %}
    <button class="btn btn-default btn-xs" data-help-page="cutlist.cuttingdiagram1d"><i class="ladb-opencutlist-icon-help"></i> {{ 'default.help'|i18next }}</button>
{% endblock %}

{% block headerInner %}
    {{ parent() }}
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation"{% if tab == 'material' %} class="active"{% endif %}><a href="#tab_cuttingdiagram_options_material" role="tab" data-toggle="tab"><i class="ladb-opencutlist-icon-material-type-3"></i> {{ 'tab.cutlist.cuttingdiagram.options_material'|i18next }}</a></li>
        <li role="presentation"{% if tab == 'config' %} class="active"{% endif %}><a href="#tab_cuttingdiagram_options_config" role="tab" data-toggle="tab"><i class="ladb-opencutlist-icon-settings"></i> {{ 'tab.cutlist.cuttingdiagram.options_config'|i18next }}</a></li>
        <li role="presentation"{% if tab == 'display' %} class="active"{% endif %}><a href="#tab_cuttingdiagram_options_display" role="tab" data-toggle="tab"><i class="ladb-opencutlist-icon-cutlist"></i> {{ 'tab.cutlist.cuttingdiagram.options_display'|i18next }}</a></li>
    </ul>
{% endblock %}

{% block bodyInner %}
    {% if isPartSelection %}
        <div class="alert alert-info text-center">{{ 'tab.cutlist.cuttingdiagram.warning.is_part_selection'|i18next }}</div>
    {% endif %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane{% if tab == 'material' %} active{% endif %}" id="tab_cuttingdiagram_options_material">
            <div class="form form-horizontal" style="margin-top: 15px;">
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ ('tab.cutlist.cuttingdiagram.option_std_bar_help')|i18next({ 'material_name':group.material_name }) }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-4">{{ ('tab.cutlist.cuttingdiagram.option_std_bar_'~barStrippedname)|i18next }}</label>
                    <div class="col-xs-7">
                        <select class="form-control" id="ladb_select_std_bar">
                            {% if material_attributes.std_lengths|length > 0 %}
                                {% for std_length in material_attributes.std_lengths|split(';') %}
                                    <option value="{{ std_length|escape('html') }}" data-content="<strong>{{ group.material_name|truncate(18)|escape('html') }}</strong> {{ std_length|escape('html') }}"></option>
                                {% endfor %}
                                <option data-divider="true"></option>
                            {% endif %}
                            <option value="add" data-content="<i class='ladb-opencutlist-icon-plus'></i> {{ ('tab.cutlist.cuttingdiagram.option_std_bar_add')|i18next }}..."></option>
                            <option data-divider="true"></option>
                            <option value="0" data-content="{{ ('tab.cutlist.cuttingdiagram.option_std_bar_none')|i18next }}"{% if material_attributes.std_lengths|length == 0 %} selected{% endif %}></option>
                        </select>
                        <input type="hidden" class="form-control" id="ladb_input_std_bar_length">
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ ('tab.cutlist.cuttingdiagram.option_scrap_bar_lengths_help')|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-4">{{ ('tab.cutlist.cuttingdiagram.option_scrap_bar_'~barStrippedname~'_lengths')|i18next }}</label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" id="ladb_input_scrap_bar_lengths" placeholder="{{ ('tab.cutlist.cuttingdiagram.option_scrap_bar_lengths_placeholder')|i18next }}">
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane{% if tab == 'config' %} active{% endif %}" id="tab_cuttingdiagram_options_config">
            <div class="form form-horizontal" style="margin-top: 15px;">
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.cuttingdiagram.option_saw_kerf_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.cuttingdiagram.option_saw_kerf'|i18next }}</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="ladb_input_saw_kerf">
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.cuttingdiagram.option_trimming_help_1d'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.cuttingdiagram.option_trimming'|i18next }}</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="ladb_input_trimming">
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane{% if tab == 'display' %} active{% endif %}" id="tab_cuttingdiagram_options_display">
            <div class="form form-horizontal" style="margin-top: 15px;">
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.cuttingdiagram.option_bar_folding_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ ('tab.cutlist.cuttingdiagram.option_bar_folding_'~barStrippedname)|i18next }}</label>
                    <div class="col-xs-6">
                        <select class="form-control" id="ladb_select_bar_folding">
                            <option value="1" data-content="{{ 'tab.cutlist.cuttingdiagram.option_bar_folding_1'|i18next }}"></option>
                            <option value="0" data-content="{{ 'tab.cutlist.cuttingdiagram.option_bar_folding_0'|i18next }}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.cuttingdiagram.option_hide_part_list_1d_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.cuttingdiagram.option_hide_part_list'|i18next }}</label>
                    <div class="col-xs-6">
                        <select class="form-control" id="ladb_select_hide_part_list">
                            <option value="0" data-content="{{ ('tab.cutlist.cuttingdiagram.option_hide_part_list_1d_'~barStrippedname~'_0')|i18next }}"></option>
                            <option value="1" data-content="{{ 'tab.cutlist.cuttingdiagram.option_hide_part_list_1'|i18next }}"></option>
                        </select>
                    </div>
                </div>
                <hr>
                {% if group.material_type != 4 %}   {# 4 = TYPE_EDGE #}
                    <div class="form-group">
                        <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.cuttingdiagram.option_part_drawing_type_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label class="control-label col-xs-5">{{ 'tab.cutlist.cuttingdiagram.option_part_drawing_type'|i18next }}</label>
                        <div class="col-xs-6">
                            <select class="form-control" id="ladb_select_part_drawing_type">
                                <option value="0" data-content="{{ 'tab.cutlist.cuttingdiagram.option_part_drawing_type_0'|i18next }}"></option>
                                <option value="1" data-content="<i class='ladb-opencutlist-icon-face-10'></i> {{ 'tab.cutlist.cuttingdiagram.option_part_drawing_type_1'|i18next }}"></option>
                                <option value="2" data-content="<i class='ladb-opencutlist-icon-face-01'></i> {{ 'tab.cutlist.cuttingdiagram.option_part_drawing_type_2'|i18next }}"></option>
                            </select>
                        </div>
                    </div>
                {% endif %}
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.cuttingdiagram.option_use_names_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.cuttingdiagram.option_use_names'|i18next }}</label>
                    <div class="col-xs-6">
                        <select class="form-control" id="ladb_select_use_names">
                            <option value="0" data-content="{{ 'tab.cutlist.cuttingdiagram.option_use_names_0'|i18next }}"></option>
                            <option value="1" data-content="{{ 'tab.cutlist.cuttingdiagram.option_use_names_1'|i18next }}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.cuttingdiagram.option_full_width_diagram_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.cuttingdiagram.option_full_width_diagram'|i18next }}</label>
                    <div class="col-xs-6">
                        <select class="form-control" id="ladb_select_full_width_diagram">
                            <option value="1" data-content="{{ 'tab.cutlist.cuttingdiagram.option_full_width_diagram_1'|i18next }}"></option>
                            <option value="0" data-content="{{ 'tab.cutlist.cuttingdiagram.option_full_width_diagram_0'|i18next }}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.cuttingdiagram.option_hide_cross_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.cuttingdiagram.option_hide_cross'|i18next }}</label>
                    <div class="col-xs-6">
                        <select class="form-control" id="ladb_select_hide_cross">
                            <option value="1" data-content="{{ 'tab.cutlist.cuttingdiagram.option_hide_cross_1'|i18next }}"></option>
                            <option value="0" data-content="{{ 'tab.cutlist.cuttingdiagram.option_hide_cross_0'|i18next }}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.cuttingdiagram.option_origin_corner_1d_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.cuttingdiagram.option_origin_corner'|i18next }}</label>
                    <div class="col-xs-6">
                        <select class="form-control" id="ladb_select_origin_corner">
                            <option value="0" data-content="<i class='ladb-opencutlist-icon-anchor-start'></i> {{ 'tab.cutlist.cuttingdiagram.option_origin_corner_1d_0'|i18next }}"></option>
                            <option value="1" data-content="<i class='ladb-opencutlist-icon-anchor-end'></i> {{ 'tab.cutlist.cuttingdiagram.option_origin_corner_1d_1'|i18next }}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.cuttingdiagram.option_wrap_length_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.cuttingdiagram.option_wrap_length'|i18next }}</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="ladb_input_wrap_length">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerLeftInner %}
    <button class="btn btn-default" id="ladb_btn_edit_material" style="max-width: 260px;"><i class="ladb-opencutlist-icon-materials"></i> {{ 'tab.cutlist.menu.edit_material'|i18next({ 'material_name':group.material_display_name }) }}...</button>
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button class="btn btn-primary btn-validate-modal" id="ladb_btn_generate">{{ 'default.generate'|i18next }}</button>
{% endblock %}
