{% extends 'core/_modal.twig' %}

{% set id = 'ladb_cutlist_modal_nesting_2d' %}
{% set title = ('tab.cutlist.cuttingdiagram.title'|i18next)~'<small class="ladb-horizontal-left-separator">'~group.material_name|escape('html')~' / '~group.std_dimension~'</small>' %}
{% set sheetStrippedname = group.material_type == 6 ? 'veneer' : 'good' %}  {# 6 = TYPE_VENEER #}

{% block headerToolsInner %}
    {% include 'components/_widget-preset.twig' %}
    <button class="btn btn-default btn-xs" data-help-page="cutlist.cuttingdiagram2d"><i class="ladb-opencutlist-icon-help"></i> {{ 'default.help'|i18next }}</button>
{% endblock %}

{% block headerInner %}
    {{ parent() }}
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation"{% if tab == 'material' %} class="active"{% endif %}><a href="#tab_nesting_options_material" role="tab" data-toggle="tab"><i class="ladb-opencutlist-icon-material-type-2"></i> {{ 'tab.cutlist.cuttingdiagram.options_material'|i18next }}</a></li>
        <li role="presentation"{% if tab == 'config' %} class="active"{% endif %}><a href="#tab_nesting_options_config" role="tab" data-toggle="tab"><i class="ladb-opencutlist-icon-settings"></i> {{ 'tab.cutlist.cuttingdiagram.options_config'|i18next }}</a></li>
    </ul>
{% endblock %}

{% block bodyInner %}
    {% if isPartSelection %}
        <div class="alert alert-info text-center">{{ 'tab.cutlist.cuttingdiagram.warning.is_part_selection'|i18next }}</div>
    {% endif %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane{% if tab == 'material' %} active{% endif %}" id="tab_nesting_options_material">
            <div class="form form-horizontal" style="margin-top: 15px;">
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.cuttingdiagram.option_std_sheet_help'|i18next({ 'material_name':group.material_name }) }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-4">{{ ('tab.cutlist.cuttingdiagram.option_std_sheet_'~sheetStrippedname)|i18next }}</label>
                    <div class="col-xs-7">
                        <select class="form-control" id="ladb_select_std_sheet">
                            {% if material_attributes.std_sizes|length > 0 %}
                                {% for std_size in material_attributes.std_sizes|split(';') %}
                                    <option value="{{ std_size|escape('html') }}" data-content="<i class='ladb-opencutlist-icon-grained-{{ material_attributes.grained ? '1' : '0' }}'></i> <strong>{{ group.material_name|truncate(18)|escape('html') }}</strong> {{ std_size|escape('html') }}"></option>
                                {% endfor %}
                                <option data-divider="true"></option>
                            {% endif %}
                            <option value="add" data-content="<i class='ladb-opencutlist-icon-plus'></i> {{ 'tab.cutlist.cuttingdiagram.option_std_sheet_add'|i18next }}..."></option>
                            <option data-divider="true"></option>
                            <option value="0x0" data-content="{{ 'tab.cutlist.cuttingdiagram.option_std_sheet_none'|i18next }}"{% if material_attributes.std_sizes|length == 0 %} selected{% endif %}></option>
                        </select>
                        <input type="hidden" class="form-control" id="ladb_input_std_sheet_length">
                        <input type="hidden" class="form-control" id="ladb_input_std_sheet_width">
                        <input type="hidden" class="form-control" id="ladb_input_grained">
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.cuttingdiagram.option_scrap_sheet_sizes_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-4">{{ ('tab.cutlist.cuttingdiagram.option_scrap_sheet_'~sheetStrippedname~'_sizes')|i18next }}</label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" id="ladb_input_scrap_sheet_sizes" placeholder="{{ 'tab.cutlist.cuttingdiagram.option_scrap_sheet_sizes_placeholder'|i18next }}">
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane{% if tab == 'config' %} active{% endif %}" id="tab_nesting_options_config">
            <div class="form form-horizontal" style="margin-top: 15px;">
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.cuttingdiagram.option_spacing_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.cuttingdiagram.option_spacing'|i18next }}</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="ladb_input_spacing">
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.cuttingdiagram.option_trimming_help_2d'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.cuttingdiagram.option_trimming'|i18next }}</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="ladb_input_trimming">
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.cuttingdiagram.option_rotations_help_2d'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.cuttingdiagram.option_rotations'|i18next }}</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="ladb_input_rotations">
                    </div>
                </div>
            </div>
        </div>
        <div class="form form-horizontal" style="margin-top: 15px;">
            <div class="checkbox text-center">
                <label>
                    <input type="checkbox" id="ladb_input_reload_lib">Recharger la lib
                </label>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerLeftInner %}
    <button class="btn btn-default" id="ladb_btn_edit_material" style="max-width: 260px;"><i class="ladb-opencutlist-icon-materials"></i> {{ 'tab.cutlist.menu.edit_material'|i18next({ 'material_name':group.material_display_name }) }}...</button>
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button class="btn btn-primary btn-validate-modal" id="ladb_btn_generate">{{ 'default.generate'|i18next }}</button>
{% endblock %}
