{% extends 'core/_modal.twig' %}

{% set id = 'ladb_cutlist_modal_packing' %}
{% set title = ('tab.cutlist.packing.title'|i18next)~'<small class="ladb-horizontal-left-separator">'~group.material_name|escape('html')~' / '~group.std_dimension~'</small>' %}
{% set binSuffix1 = group.material_is_1d ? '1d' : '2d' %}
{% set binSuffix2 = group.material_type_strippedname %}

{% block headerToolsInner %}
    {% include 'components/_widget-preset.twig' %}
    <button class="btn btn-default btn-xs" data-help-page="cutlist.packing"><i class="ladb-opencutlist-icon-help"></i> {{ 'default.help'|i18next }}</button>
{% endblock %}

{% block headerInner %}
    {{ parent() }}
    <div class="ladb-radios-group">
        <label>{{ 'tab.cutlist.packing.option_problem_type'|i18next }}</label>
        <div>
            <div class="btn-group btn-group-justified" data-toggle="buttons">
                <label class="btn btn-radio">
                    <input type="radio" name="ladb_radios_problem_type" value="onedimensional"><i class="ladb-opencutlist-icon-cuttingdiagram1d"></i> {{ 'tab.cutlist.packing.option_problem_type_onedimensional'|i18next }}
                </label>
                <label class="btn btn-radio{% if group.material_is_1d %} disabled{% endif %}">
                    <input type="radio" name="ladb_radios_problem_type" value="rectangleguillotine"><i class="ladb-opencutlist-icon-cuttingdiagram2d"></i> {{ 'tab.cutlist.packing.option_problem_type_rectangleguillotine'|i18next }}
                </label>
                <label class="btn btn-radio{% if group.material_is_1d %} disabled{% endif %}">
                    <input type="radio" name="ladb_radios_problem_type" value="rectangle"><i class="ladb-opencutlist-icon-packing-rectangle"></i> {{ 'tab.cutlist.packing.option_problem_type_rectangle'|i18next }}
                </label>
                <label class="btn btn-radio{% if group.material_is_virtual %} disabled{% endif %}">
                    <input type="radio" name="ladb_radios_problem_type" value="irregular"><i class="ladb-opencutlist-icon-packing-irregular"></i> {{ 'tab.cutlist.packing.option_problem_type_irregular'|i18next }}
                </label>
            </div>
        </div>
    </div>
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation"{% if tab == 'material' %} class="active"{% endif %}><a href="#tab_packing_options_material" role="tab" data-toggle="tab"><i class="ladb-opencutlist-icon-material-type-2"></i> {{ 'tab.cutlist.packing.options_material'|i18next }}</a></li>
        <li role="presentation"{% if tab == 'config' %} class="active"{% endif %}><a href="#tab_packing_options_config" role="tab" data-toggle="tab"><i class="ladb-opencutlist-icon-settings"></i> {{ 'tab.cutlist.packing.options_config'|i18next }}</a></li>
        <li role="presentation"{% if tab == 'display' %} class="active"{% endif %}><a href="#tab_packing_options_display" role="tab" data-toggle="tab"><i class="ladb-opencutlist-icon-cutlist"></i> {{ 'tab.cutlist.packing.options_display'|i18next }}</a></li>
    </ul>
{% endblock %}

{% block bodyInner %}
    {% if isPartSelection %}
        <div class="alert alert-info text-center">{{ 'tab.cutlist.packing.warning.is_part_selection'|i18next }}</div>
    {% endif %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane{% if tab == 'material' %} active{% endif %}" id="tab_packing_options_material">
            <div class="form form-horizontal" style="margin-top: 15px;">
                <div class="form-group">
                    {% include 'components/_editor-sizes.twig' with { 'id':'ladb_editor_std_bin_sizes', 'fieldName':('tab.cutlist.packing.option_std_bin_'~binSuffix1~'_'~binSuffix2)|i18next, 'fieldHelp':('tab.cutlist.packing.option_std_bin_'~binSuffix1~'_help')|i18next({ 'material_name':group.material_name }), 'emptyLabel': ('tab.cutlist.packing.option_std_bin_'~binSuffix1~'_none')|i18next } %}
                </div>
                <div class="form-group">
                    {% include 'components/_editor-sizes.twig' with { 'id':'ladb_editor_scrap_bin_sizes', 'fieldName':('tab.cutlist.packing.option_scrap_bin_'~binSuffix1~'_'~binSuffix2~'_sizes')|i18next, 'fieldHelp':('tab.cutlist.packing.option_scrap_bin_'~binSuffix1~'_sizes_help')|i18next, 'emptyLabel': ('tab.cutlist.packing.option_scrap_bin_'~binSuffix1~'_none')|i18next } %}
                </div>
                {% if group.material_is_2d %}
                    <p class="help-block text-center">
                        <small><i class="ladb-opencutlist-icon-grained-{{ material_attributes.grained ? '1' : '0' }}"></i> {{ ('tab.materials.edit_material.grained_'~(material_attributes.grained ? '1' : '0'))|i18next }}</small>
                    </p>
                {% endif %}
            </div>
        </div>
        <div role="tabpanel" class="tab-pane{% if tab == 'config' %} active{% endif %}" id="tab_packing_options_config">
            <div class="form form-horizontal" style="margin-top: 15px;">
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.packing.option_spacing_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.packing.option_spacing'|i18next }}</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="ladb_input_spacing">
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ ('tab.cutlist.packing.option_trimming_'~binSuffix1~'_help')|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.packing.option_trimming'|i18next }}</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="ladb_input_trimming">
                    </div>
                </div>
                <div class="form-group ladb-cutlist-packing-form-group-rectangleguillotine">
                    <hr>
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.packing.option_rectangleguillotine_cut_type_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.packing.option_rectangleguillotine_cut_type'|i18next }}</label>
                    <div class="col-xs-6">
                        <select class="form-control" id="ladb_select_rectangleguillotine_cut_type">
                            <option value="non-exact">{{ 'tab.cutlist.packing.option_rectangleguillotine_cut_type_non_exact'|i18next }}</option>
                            <option value="exact">{{ 'tab.cutlist.packing.option_rectangleguillotine_cut_type_exact'|i18next }}</option>
                            <option value="homogenous">{{ 'tab.cutlist.packing.option_rectangleguillotine_cut_type_homogenous'|i18next }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group ladb-cutlist-packing-form-group-rectangleguillotine">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.packing.option_rectangleguillotine_first_stage_orientation_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.packing.option_rectangleguillotine_first_stage_orientation'|i18next }}</label>
                    <div class="col-xs-6">
                        <select class="form-control" id="ladb_select_rectangleguillotine_first_stage_orientation">
                            <option value="horizontal">{{ 'tab.cutlist.packing.option_rectangleguillotine_first_stage_orientation_horizontal'|i18next }}</option>
                            <option value="vertical">{{ 'tab.cutlist.packing.option_rectangleguillotine_first_stage_orientation_vertical'|i18next }}</option>
                            <option value="any">{{ 'tab.cutlist.packing.option_rectangleguillotine_first_stage_orientation_any'|i18next }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group ladb-cutlist-packing-form-group-rectangleguillotine">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.packing.option_rectangleguillotine_number_of_stages_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.packing.option_rectangleguillotine_number_of_stages'|i18next }}</label>
                    <div class="col-xs-6">
                        <select class="form-control" id="ladb_select_rectangleguillotine_number_of_stages">
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                </div>
                <div class="form-group ladb-cutlist-packing-form-group-rectangleguillotine">
                    <hr>
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.packing.option_rectangleguillotine_keep_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.packing.option_rectangleguillotine_keep'|i18next }}</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" id="ladb_input_rectangleguillotine_keep_size">
                    </div>
                </div>
                <div class="form-group ladb-cutlist-packing-form-group-irregular">
                    <hr>
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.packing.option_irregular_allowed_rotations_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.packing.option_irregular_allowed_rotations'|i18next }}</label>
                    <div class="col-xs-6">
                        <select class="form-control" id="ladb_select_irregular_allowed_rotations">
                            <option value="0">{{ 'tab.cutlist.packing.option_irregular_allowed_rotations_0'|i18next }}</option>
                            <option value="180">{{ 'tab.cutlist.packing.option_irregular_allowed_rotations_180'|i18next }}</option>
                            <option value="90"{% if group.material_grained or group.material_is_1d %} disabled{% endif %}>{{ 'tab.cutlist.packing.option_irregular_allowed_rotations_90'|i18next }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group ladb-cutlist-packing-form-group-irregular">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.packing.option_irregular_allow_mirroring_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.packing.option_irregular_allow_mirroring'|i18next }}</label>
                    <div class="col-xs-6">
                        <select class="form-control" id="ladb_select_irregular_allow_mirroring">
                            <option value="0">{{ 'tab.cutlist.packing.option_irregular_allow_mirroring_0'|i18next }}</option>
                            <option value="1">{{ 'tab.cutlist.packing.option_irregular_allow_mirroring_1'|i18next }}</option>
                        </select>
                    </div>
                </div>
                <div style="position: absolute; left: 50%; bottom: -14px;">
                    <button class="btn btn-default btn-sm ladb-cutlist-packing-btn-expert" style="border:none; color:#aaa;" type="button"><i class="ladb-opencutlist-icon-plus"></i></button>
                </div>
                <div class="collapse" id="ladb-cutlist-packing-collapse-expert">
                    <div class="form-group">
                        <hr>
                        <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.packing.option_objective_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label class="control-label col-xs-5">{{ 'tab.cutlist.packing.option_objective'|i18next }}</label>
                        <div class="col-xs-6">
                            <select class="form-control" id="ladb_select_objective">
                                <option value="auto">Auto</option>
                                <option value="bin-packing">BinPacking</option>
                                <option value="bin-packing-with-leftovers">BinPackingWithLeftovers</option>
                                <option value="variable-sized-bin-packing">VariableSizedBinPacking</option>
                                <option value="knapsack">Knapsack</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.packing.option_optimization_mode_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label class="control-label col-xs-5">{{ 'tab.cutlist.packing.option_optimization_mode'|i18next }}</label>
                        <div class="col-xs-6">
                            <select class="form-control" id="ladb_select_optimization_mode">
                                <option value="auto">Auto</option>
                                <option value="anytime">Anytime</option>
                                <option value="not-anytime">NotAnytime</option>
                                <option value="not-anytime-deterministic">NotAnytimeDeterministic</option>
                                <option value="not-anytime-sequential">NotAnytimeSequential</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.packing.option_time_limit_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label class="control-label col-xs-5">{{ 'tab.cutlist.packing.option_time_limit'|i18next }}</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" id="ladb_input_time_limit">
                        </div>
                    </div>
                    <div class="form-group ladb-cutlist-packing-form-group-debug">
                        <div style="position:relative;">
                            <hr><i class="ladb-opencutlist-icon-bug" style="position: absolute; top: -6px; left: 50%; background: #fff; padding: 0 10px;"></i>
                        </div>
                        <label class="control-label col-xs-5">not_anytime_tree_search_queue_size</label>
                        <div class="col-xs-6">
                            <input type="text" class="form-control" id="ladb_input_not_anytime_tree_search_queue_size">
                        </div>
                    </div>
                    <div class="form-group ladb-cutlist-packing-form-group-debug">
                        <label class="control-label col-xs-5">verbosity_level</label>
                        <div class="col-xs-6">
                            <select class="form-control" id="ladb_select_verbosity_level">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group ladb-cutlist-packing-form-group-debug">
                        <label class="control-label col-xs-5">input_to_json_bin_dir</label>
                        <div class="col-xs-6">
                            <select class="form-control" id="ladb_select_input_to_json_bin_dir">
                                <option value="">none</option>
                                <option value="osx">osx</option>
                                <option value="win">win</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group ladb-cutlist-packing-form-group-debug">
                        <div class="col-xs-6 col-xs-offset-5">
                            <button class="btn btn-default btn-xs" id="ladb_btn_unload_lib"><i class="ladb-opencutlist-icon-refresh"></i> Unload Packy</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane{% if tab == 'display' %} active{% endif %}" id="tab_packing_options_display">
            <div class="form form-horizontal" style="margin-top: 15px;">
                <div class="form-group" style="padding-top: 10px;">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.packing.option_items_formula_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-3">{{ 'tab.cutlist.packing.option_items_formula'|i18next }} <small style="font-weight: normal;">(Ruby)</small></label>
                    <div class="col-xs-8">
                        <textarea id="ladb_textarea_items_formula" class="form-control" placeholder="{{ 'tab.cutlist.export.number'|i18next }}"></textarea>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ ('tab.cutlist.packing.option_hide_part_list_'~binSuffix1~'_help')|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.packing.option_hide_part_list'|i18next }}</label>
                    <div class="col-xs-6">
                        <select class="form-control" id="ladb_select_hide_part_list">
                            <option value="1" data-content="{{ 'tab.cutlist.packing.option_hide_part_list_1'|i18next }}"></option>
                            <option value="0" data-content="{{ ('tab.cutlist.packing.option_hide_part_list_'~binSuffix1~'_'~binSuffix2~'_0')|i18next }}"></option>
                        </select>
                    </div>
                </div>
                {% if not group.material_is_virtual %}
                    <div class="form-group">
                        <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw">
                            <a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.packing.option_part_drawing_type_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a>
                        </div>
                        <label class="control-label col-xs-5">{{ 'tab.cutlist.packing.option_part_drawing_type'|i18next }}</label>
                        <div class="col-xs-6">
                            <select class="form-control" id="ladb_select_part_drawing_type">
                                <option value="0" data-content="{{ 'tab.cutlist.packing.option_part_drawing_type_0'|i18next }}"></option>
                                <option value="1" data-content="<i class='ladb-opencutlist-icon-face-10'></i> {{ 'tab.cutlist.packing.option_part_drawing_type_1'|i18next }}"></option>
                                <option value="2" data-content="<i class='ladb-opencutlist-icon-face-01'></i> {{ 'tab.cutlist.packing.option_part_drawing_type_2'|i18next }}"></option>
                            </select>
                        </div>
                    </div>
                {% endif %}
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.packing.option_colorization_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.packing.option_colorization'|i18next }}</label>
                    <div class="col-xs-6">
                        <select class="form-control" id="ladb_select_colorization">
                            <option value="0" data-content="{{ 'tab.cutlist.packing.option_colorization_0'|i18next }}"></option>
                            <option value="1" data-content="{{ 'tab.cutlist.packing.option_colorization_1'|i18next }}"></option>
                            <option value="2" data-content="{{ 'tab.cutlist.packing.option_colorization_2'|i18next }}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group ladb-cutlist-packing-form-group-not-irregular">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.cuttingdiagram.option_origin_corner_2d_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.cuttingdiagram.option_origin_corner'|i18next }}</label>
                    <div class="col-xs-6">
                        <select class="form-control" id="ladb_select_origin_corner">
                            <option value="0" data-content="<i class='ladb-opencutlist-icon-anchor-start-top'></i> {{ 'tab.cutlist.cuttingdiagram.option_origin_corner_2d_0'|i18next }}"></option>
                            <option value="1" data-content="<i class='ladb-opencutlist-icon-anchor-start'></i> {{ 'tab.cutlist.cuttingdiagram.option_origin_corner_2d_1'|i18next }}"></option>
                            <option value="2" data-content="<i class='ladb-opencutlist-icon-anchor-end-top'></i> {{ 'tab.cutlist.cuttingdiagram.option_origin_corner_2d_2'|i18next }}"></option>
                            <option value="3" data-content="<i class='ladb-opencutlist-icon-anchor-end'></i> {{ 'tab.cutlist.cuttingdiagram.option_origin_corner_2d_3'|i18next }}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group ladb-cutlist-packing-form-group-not-irregular">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.packing.option_hide_edges_preview_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label class="control-label col-xs-5">{{ 'tab.cutlist.packing.option_hide_edges_preview'|i18next }}</label>
                    <div class="col-xs-6">
                        <select class="form-control" id="ladb_select_hide_edges_preview">
                            <option value="1" data-content="{{ 'tab.cutlist.packing.option_hide_edges_preview_1'|i18next }}"></option>
                            <option value="0" data-content="{{ 'tab.cutlist.packing.option_hide_edges_preview_0'|i18next }}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerLeftInner %}
    <button class="btn btn-default" id="ladb_btn_edit_material" style="max-width: 260px;"><i class="ladb-opencutlist-icon-materials"></i> {{ 'tab.cutlist.menu.edit_material'|i18next({ 'material_name':group.material_display_name }) }}...</button>
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button class="btn btn-primary btn-validate-modal" id="ladb_btn_generate">{{ 'default.generate'|i18next }}</button>
{% endblock %}
