{% extends 'core/_modal.twig' %}

{% set id = 'ladb_cutlist_modal_report' %}
{% set title = 'tab.cutlist.report.title'|i18next %}

{% block bodyInner %}
    <div class="media">
        <div class="media-left"><i class="ladb-opencutlist-icon-report ladb-opencutlist-icon-xl"></i></div>
        <div class="media-body">
            <p>{{ 'tab.cutlist.report.objective_info_1'|i18next }}</p>
            <div class="panel panel-default">
                <div class="panel-heading" style="font-size: 120%;">
                    <span style="font-weight: bold;">{{ 'tab.cutlist.report.objective'|i18next }}</span><span id="ladb_objective_progress_label" style="margin-left: 10px; border-left: 1px solid #ccc; padding-left: 10px; display: none;"></span>
                    <span id="ladb_objective_goal_label" class="pull-right"></span>
                </div>
                <div class="panel-body">
                    {% include 'core/_loading.twig' with { 'noHidden':true } %}
                    <div class="progress" style="margin-bottom: 0; display: none;">
                        <div class="progress-bar progress-bar-striped active" style="background-color: #e84fa9;"></div>
                    </div>
                </div>
            </div>
            <p>{{ 'tab.cutlist.report.objective_info_2'|i18next }}</p>
        </div>
    </div>
{% endblock %}

{% block footerInner %}
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <a href="https://opencollective.com/lairdubois-opencutlist-sketchup-extension#section-contribute" target="_blank" class="btn btn-primary btn-sponsor" id="ladb_sponsor_btn"><i class="ladb-opencutlist-icon-sponsor"></i> {{ 'tab.sponsor.contribute'|i18next }}...</a>
{% endblock %}