{% extends 'core/_modal.twig' %}

{% set id = 'ladb_cutlist_modal_cuttingdiagram' %}
{% set title = 'tab.cutlist.cuttingdiagram.title'|i18next %}

{% block bodyInner %}
    <div class="form form-horizontal">
        <div class="form-group">
            <label for="ladb_select_sizes" class="control-label col-xs-4">{{ 'tab.cutlist.cuttingdiagram.option_base_sheet'|i18next }}</label>
            <div class="col-xs-6">
                <select class="form-control" id="ladb_select_sizes">
                    {% if material_attributes.std_sizes|length > 0 %}
                        {% for std_size in material_attributes.std_sizes %}
                            <option value="{{ std_size.length|escape('html') }}x{{ std_size.width|escape('html') }}|{{ material_attributes.grained }}" data-content="<i class='ladb-opencutlist-icon-grained-{{ material_attributes.grained ? '1' : '0' }}'></i> <strong>{{ group.material_name|truncate(18)|escape('html') }}</strong> {{ std_size.length|escape('html') }} x {{ std_size.width|escape('html') }}"></option>
                        {% endfor %}
                        <option data-divider="true"></option>
                    {% endif %}
                    <option value="0x0" data-content="{{ 'tab.cutlist.cuttingdiagram.option_custom_sheet'|i18next }}">0x0</option>
                </select>
            </div>
        </div>
        <div id="ladb_base_sheet_values">
            <div class="form-group">
                <label for="ladb_input_base_sheet_length" class="control-label col-xs-4">{{ 'tab.cutlist.cuttingdiagram.option_base_sheet_length'|i18next }}</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="ladb_input_base_sheet_length">
                </div>
            </div>
            <div class="form-group">
                <label for="ladb_input_base_sheet_width" class="control-label col-xs-4">{{ 'tab.cutlist.cuttingdiagram.option_base_sheet_width'|i18next }}</label>
                <div class="col-xs-6">
                    <input type="text" class="form-control" id="ladb_input_base_sheet_width">
                </div>
            </div>
            <div class="checkbox">
                <div class="col-xs-offset-4 col-xs-8">
                    <label>
                        <input type="checkbox" id="ladb_input_rotatable"> {{ 'tab.cutlist.cuttingdiagram.option_rotatable'|i18next }}
                    </label>
                </div>
            </div>
        </div>
        <hr>
        <div class="form-group">
            <label for="ladb_input_kerf" class="control-label col-xs-4">{{ 'tab.cutlist.cuttingdiagram.option_kerf'|i18next }}</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="ladb_input_kerf">
            </div>
        </div>
        <div class="form-group">
            <label for="ladb_input_trimming" class="control-label col-xs-4">{{ 'tab.cutlist.cuttingdiagram.option_trimming'|i18next }}</label>
            <div class="col-xs-6">
                <input type="text" class="form-control" id="ladb_input_trimming">
            </div>
        </div>
        <div class="form-group">
            <label for="ladb_select_presort" class="control-label col-xs-4">{{ 'tab.cutlist.cuttingdiagram.option_presort'|i18next }}</label>
            <div class="col-xs-6">
                <select class="form-control" id="ladb_select_presort">
                    <option value="0" data-content="{{ 'tab.cutlist.cuttingdiagram.presort.input_order'|i18next }}">0</option>
                    <option value="1" data-content="{{ 'tab.cutlist.cuttingdiagram.presort.width_decr'|i18next }}">1</option>
                    <option value="2" data-content="{{ 'tab.cutlist.cuttingdiagram.presort.length_decr'|i18next }}">2</option>
                    <option value="3" data-content="{{ 'tab.cutlist.cuttingdiagram.presort.area_decr'|i18next }}">3</option>
                    <option value="4" data-content="{{ 'tab.cutlist.cuttingdiagram.presort.perimeter_decr'|i18next }}">4</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="ladb_select_stacking" class="control-label col-xs-4">{{ 'tab.cutlist.cuttingdiagram.option_stacking'|i18next }}</label>
            <div class="col-xs-6">
                <select class="form-control" id="ladb_select_stacking">
                    <option value="0" data-content="{{ 'tab.cutlist.cuttingdiagram.stacking.none'|i18next }}">0</option>
                    <option value="1" data-content="{{ 'tab.cutlist.cuttingdiagram.stacking.length'|i18next }}">1</option>
                    <option value="2" data-content="{{ 'tab.cutlist.cuttingdiagram.stacking.width'|i18next }}">2</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="ladb_select_bbox" class="control-label col-xs-4">{{ 'tab.cutlist.cuttingdiagram.option_bbox'|i18next }}</label>
            <div class="col-xs-6">
                <select class="form-control" id="ladb_select_bbox">
                    <option value="0" data-content="{{ 'tab.cutlist.cuttingdiagram.bbox.none'|i18next }}">0</option>
                    <option value="1" data-content="{{ 'tab.cutlist.cuttingdiagram.bbox.only_final'|i18next }}">1</option>
                    <option value="2" data-content="{{ 'tab.cutlist.cuttingdiagram.bbox.full'|i18next }}">2</option>
                </select>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerInner %}
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button type="button" class="btn btn-primary" id="ladb_cutlist_cuttingdiagram">{{ 'tab.cutlist.menu.group_cuttingdiagram'|i18next }}</button>
{% endblock %}