{% extends 'core/_modal.twig' %}

{% set id = 'ladb_cutlist_modal_labels' %}
{% set title = 'tab.cutlist.labels.title'|i18next %}
{% if group and group.material_type != 0 %} {# 0 = TYPE_UNKNOWN #}
    {% set title = title~'<small class="ladb-horizontal-left-separator">'~group.material_name|escape('html')~(group.std_dimension ? ' / '~group.std_dimension : '')~'</small>' %}
{% endif %}

{% block headerToolsInner %}
    {% include 'components/_widget-preset.twig' %}
    <button class="btn btn-default btn-xs" data-help-page="cutlist.labels"><i class="ladb-opencutlist-icon-help"></i> {{ 'default.help'|i18next }}</button>
{% endblock %}

{% block headerInner %}
    {{ parent() }}
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation"{% if tab == 'layout' %} class="active"{% endif %}><a href="#tab_labels_options_layout" role="tab" data-toggle="tab"><i class="ladb-opencutlist-icon-labels"></i> {{ 'tab.cutlist.labels.options_layout'|i18next }}</a></li>
        <li role="presentation"{% if tab == 'settings' %} class="active"{% endif %}><a href="#tab_labels_options_settings" role="tab" data-toggle="tab"><i class="ladb-opencutlist-icon-settings"></i> {{ 'tab.cutlist.labels.options_settings'|i18next }}</a></li>
        <li role="presentation"{% if tab == 'part_order_strategy' %} class="active"{% endif %}><a href="#tab_labels_options_part_order_strategy" role="tab" data-toggle="tab"><i class="ladb-opencutlist-icon-sort-asc"></i> {{ 'tab.cutlist.labels.options_part_order_strategy'|i18next }}{% if isBinSorterDisabled %} <i class="ladb-opencutlist-icon-warning ladb-color-warning"></i>{% endif %}</a></li>
        <li role="presentation"{% if tab == 'offset' %} class="active"{% endif %}><a href="#tab_labels_options_offset" role="tab" data-toggle="tab"><i class="ladb-opencutlist-icon-labels-offset"></i> {{ 'tab.cutlist.labels.options_offset'|i18next }}</a></li>
    </ul>
{% endblock %}

{% block bodyInner %}
    {% if isGroupSelection %}
        <div class="alert alert-info text-center">{{ 'tab.cutlist.labels.warning.is_group_selection'|i18next }}</div>
    {% endif %}
    {% if isPartSelection %}
        <div class="alert alert-info text-center">{{ 'tab.cutlist.labels.warning.is_part_selection'|i18next }}</div>
    {% endif %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane{% if tab == 'layout' %} active{% endif %}" id="tab_labels_options_layout">
            <div id="ladb_editor_label_layout" class="ladb-editor-label-layout"></div>
        </div>
        <div role="tabpanel" class="tab-pane{% if tab == 'settings' %} active{% endif %}" id="tab_labels_options_settings">
            <div class="row">
                <div class="col-xs-6 form form-horizontal">
                    <section>
                        <h4>{{ 'tab.cutlist.labels.option_page'|i18next }}</h4>
                        <div class="form-group">
                            <label class="control-label col-xs-4">{{ 'tab.cutlist.labels.option_page_format'|i18next }}</label>
                            <div class="col-xs-7">
                                <select class="form-control" id="ladb_select_page_format">
                                    <option value="210mmx297mm" data-content="A4 - {{ 'tab.cutlist.labels.option_page_format_portrait'|i18next }}"></option>
                                    <option value="297mmx210mm" data-content="A4 - {{ 'tab.cutlist.labels.option_page_format_landscape'|i18next }}"></option>
                                    <option data-divider="true"></option>
                                    <option value='8.5"x11"' data-content="Letter - {{ 'tab.cutlist.labels.option_page_format_portrait'|i18next }}"></option>
                                    <option value='11"x8.5"' data-content="Letter - {{ 'tab.cutlist.labels.option_page_format_landscape'|i18next }}"></option>
                                    <option data-divider="true"></option>
                                    <option value="0" data-content="{{ 'tab.cutlist.labels.option_page_format_custom'|i18next }}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">{{ 'tab.cutlist.labels.option_page_width'|i18next }}</label>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" id="ladb_input_page_width">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">{{ 'tab.cutlist.labels.option_page_height'|i18next }}</label>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" id="ladb_input_page_height">
                            </div>
                        </div>
                    </section>
                    <section>
                        <h4>{{ 'tab.cutlist.labels.option_grid'|i18next }}</h4>
                        <div class="form-group">
                            <label class="control-label col-xs-4">{{ 'tab.cutlist.labels.option_col_count'|i18next }}</label>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" id="ladb_input_col_count">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">{{ 'tab.cutlist.labels.option_row_count'|i18next }}</label>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" id="ladb_input_row_count">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-4">{{ 'tab.cutlist.labels.option_cutting_marks'|i18next }}</label>
                            <div class="col-xs-7">
                                <select class="form-control" id="ladb_select_cutting_marks">
                                    <option value="0" data-content="{{ 'tab.cutlist.labels.option_cutting_marks_0'|i18next }}"></option>
                                    <option value="1" data-content="{{ 'tab.cutlist.labels.option_cutting_marks_1'|i18next }}"></option>
                                </select>
                            </div>
                        </div>
                    </section>
                </div>
                <div class="col-xs-6 form form-horizontal">
                    <section>
                        <h4>{{ 'tab.cutlist.labels.option_margin'|i18next }}</h4>
                        <div class="form-group">
                            <label class="control-label col-xs-5">{{ 'tab.cutlist.labels.option_margin_top'|i18next }}</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" id="ladb_input_margin_top">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">{{ 'tab.cutlist.labels.option_margin_bottom'|i18next }}</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" id="ladb_input_margin_bottom">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">{{ 'tab.cutlist.labels.option_margin_right'|i18next }}</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" id="ladb_input_margin_right">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">{{ 'tab.cutlist.labels.option_margin_left'|i18next }}</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" id="ladb_input_margin_left">
                            </div>
                        </div>
                    </section>
                    <section>
                        <h4>{{ 'tab.cutlist.labels.option_spacing'|i18next }}</h4>
                        <div class="form-group">
                            <label class="control-label col-xs-5">{{ 'tab.cutlist.labels.option_spacing_h'|i18next }}</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" id="ladb_input_spacing_h">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-5">{{ 'tab.cutlist.labels.option_spacing_v'|i18next }}</label>
                            <div class="col-xs-6">
                                <input type="text" class="form-control" id="ladb_input_spacing_v">
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane{% if tab == 'part_order_strategy' %} active{% endif %}" id="tab_labels_options_part_order_strategy">
            <p class="help-block text-center"><small>{{ 'tab.cutlist.labels.part_order_strategy_help'|i18next }}</small></p>
            <div class="row">
                <div  class="col-xs-offset-2 col-xs-8">
                    <ul id="ladb_sortable_part_order_strategy" class="ladb-sortable-list"></ul>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane{% if tab == 'offset' %} active{% endif %}" id="tab_labels_options_offset">
            <p class="help-block text-center"><small>{{ 'tab.cutlist.labels.offset_help'|i18next }}</small></p>
            <div id="ladb_editor_label_offset" class="ladb-editor-label-offset"></div>
        </div>
    </div>
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button class="btn btn-primary btn-validate-modal" id="ladb_cutlist_labels_btn_generate">{{ 'default.generate'|i18next }}</button>
{% endblock %}
