{% extends 'core/_modal.twig' %}

{% set id = 'ladb_cutlist_modal_report' %}
{% set title = ('tab.cutlist.report.title'|i18next)~'<small class="ladb-horizontal-left-separator">'~('tab.cutlist.report.raw_materials'|i18next)~'</small>' %}

{% block headerToolsInner %}
    {% include 'components/_widget-preset.twig' %}
    <button class="btn btn-default btn-xs" data-help-page="cutlist.report"><i class="ladb-opencutlist-icon-help"></i> {{ 'default.help'|i18next }}</button>
{% endblock %}

{% block headerInner %}
    {{ parent() }}
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation"{% if tab == 'general' %} class="active"{% endif %}><a href="#tab_report_options_general" role="tab" data-toggle="tab"><i class="ladb-opencutlist-icon-settings"></i> {{ 'tab.cutlist.report.options_general'|i18next }}</a></li>
        <li role="presentation"{% if tab == 'solid_wood' %} class="active"{% endif %}><a href="#tab_report_options_solid_wood" role="tab" data-toggle="tab"><i class="ladb-opencutlist-icon-material-type-1"></i> {{ 'tab.cutlist.report.options_solid_wood'|i18next }}</a></li>
    </ul>
{% endblock %}

{% block bodyInner %}
    {% if isGroupSelection %}
        <div class="alert alert-info text-center">{{ 'tab.cutlist.report.warning.is_group_selection'|i18next }}</div>
    {% endif %}
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane{% if tab == 'general' %} active{% endif %}" id="tab_report_options_general">
            <div class="row">
                <div class="col-xs-push-1 col-xs-10">
                    {{ 'tab.cutlist.report.info_0'|i18next }}
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane{% if tab == 'solid_wood' %} active{% endif %}" id="tab_report_options_solid_wood">
            <div class="form form-horizontal" style="margin-top: 15px;">
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw"><a tabindex="-1" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.cutlist.report.option_solid_wood_coefficient_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label for="ladb_input_solid_wood_coefficient" class="control-label col-xs-5">{{ 'tab.cutlist.report.option_solid_wood_coefficient'|i18next }}</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control text-right" id="ladb_input_solid_wood_coefficient">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button class="btn btn-primary btn-validate-modal" id="ladb_cutlist_report_btn_generate">{{ 'default.generate'|i18next }}</button>
{% endblock %}
