{% extends 'core/_modal.twig' %}

{% set id = 'ladb_cutlist_modal_help' %}
{% set title = 'tab.cutlist.list.dimensions_help'|i18next %}

{% set showCuttingDimensions = group.show_cutting_dimensions and not generateOptions.hide_cutting_dimensions %}
{% set showFinalAreas = group.material_type == 2 and not generateOptions.hide_final_areas %}  {# 2 = TYPE_SHEET_GOOD #}

{% block bodyInner %}
    <div style="font-size: 120%;">
        {% include 'tabs/materials/_material-type-icon.twig' with { 'type':group.material_type, 'filled':true } %} {% include 'tabs/cutlist/_group-label.twig' %}
    </div>
    <div>
        <svg width="100%" height="400" viewBox="0 0 1261 916" style="fill-rule:evenodd;clip-rule:evenodd;stroke-miterlimit:10;">
            {% if group.material_type == 1 %}
            <g>
                <g class="part">
                    <path d="M985.554,276.89l-433.965,301.437l-4.296,-88.097l453.042,-293.251l-14.781,79.911Z" style="fill:#dbdbdb;"/>
                    <path d="M1000.34,196.979l-453.042,293.251l-174.321,-116.623l517.404,-278.356l74.339,28.684l-58.681,34.243l49.851,20.512l44.45,18.289Z" style="fill:#ededed;"/>
                    <path d="M906.034,158.178l58.681,-34.243l-8.83,54.755l-49.851,-20.512Z" style="fill:#dbdbdb;"/>
                    <path d="M399.078,616.429l-119.983,-96.045l-6.674,-31.831l121.924,95.564l4.733,32.312Z" style="fill:#dedede;"/>
                    <path d="M399.078,616.429l-4.733,-32.312l128.249,-82.699l2.031,31.912l-18.689,12.37l-106.858,70.729Z" style="fill:#dbdbdb;"/>
                    <path d="M394.345,584.117l-121.924,-95.564l108.148,-61.174l18.499,-10.464l123.526,84.503l-128.249,82.699Z" style="fill:#ededed;"/>
                    <path d="M551.589,578.327l-45.653,-32.627l18.689,-12.37l-2.031,-31.912l-123.526,-84.503l-18.499,10.464l-7.597,-53.772l174.321,116.623l4.296,88.097Z" style="fill:#dedede;"/>
                    <path d="M551.589,578.327l433.965,-301.437" class="edge2"/>
                    <path d="M547.293,490.23l453.042,-293.251" class="edge1"/>
                    <path d="M890.376,95.251l-517.404,278.356" class="edge2"/>
                    <path d="M964.715,123.935l-74.339,-28.684" class="edge2"/>
                    <path d="M964.715,123.935l-58.681,34.243" class="edge1"/>
                    <path d="M964.715,123.935l-8.83,54.754" class="edge2"/>
                    <path d="M1000.34,196.979l-14.781,79.911" class="edge2"/>
                    <path d="M279.095,520.384l119.983,96.045" class="edge2"/>
                    <path d="M399.078,616.429l-4.733,-32.312" class="edge1"/>
                    <path d="M394.345,584.117l-121.924,-95.564" class="edge1"/>
                    <path d="M272.421,488.553l6.674,31.831" class="edge2"/>
                    <path d="M505.936,545.7l45.653,32.627" class="edge2"/>
                    <path d="M551.589,578.327l-4.296,-88.097" class="edge1"/>
                    <path d="M372.972,373.607l174.321,116.623" class="edge1"/>
                    <path d="M380.569,427.379l-7.597,-53.772" class="edge2"/>
                    <path d="M522.594,501.418l-123.525,-84.503" class="edge1"/>
                    <path d="M524.625,533.33l-2.031,-31.912" class="edge1"/>
                    <path d="M394.345,584.117l128.249,-82.699" class="edge1"/>
                    <path d="M906.034,158.178l49.851,20.512" class="edge2"/>
                    <path d="M955.885,178.69l44.45,18.289" class="edge2"/>
                    <path d="M399.078,616.429l106.858,-70.729" class="edge2"/>
                    <path d="M505.936,545.7l18.689,-12.37" class="edge2"/>
                    <path d="M272.421,488.553l108.148,-61.174" class="edge2"/>
                    <path d="M380.569,427.379l18.499,-10.464" class="edge2"/>
                </g>
                <g class="bbox">
                    <g class="box">
                        <path d="M1057.73,159.826l-167.356,-64.575"/>
                        <path d="M890.376,95.251l-645.999,347.539"/>
                        <path d="M416.371,574.975l641.361,-415.149"/>
                        <path d="M244.377,442.79l171.994,132.185"/>
                        <path d="M244.377,442.79l19.215,87.27"/>
                        <path d="M263.592,530.06l164.546,134.017"/>
                        <path d="M416.371,574.975l11.767,89.103"/>
                        <path d="M279.565,520.761l-15.973,9.299"/>
                        <path d="M1057.73,159.826l-16.435,78.344"/>
                        <path d="M428.138,664.078l613.159,-425.908"/>
                        <path d="M1041.3,238.17l-45.065,-19.009"/>
                    </g>
                    <g class="dim">
                        <path d="M260.182,532.045l-73.847,42.992"/>
                        <path d="M424.814,666.386l-75.918,52.734"/>
                        <path d="M190.04,572.88l58.473,51.615"/>
                        <path d="M285.897,657.495l66.812,58.976"/>
                        <path d="M190.04,572.88l11.412,4.358l-7.79,4.573l-3.622,-8.931Z" class="arrow"/>
                        <path d="M352.709,716.471l-11.867,-4.798l7.215,-4.967l4.652,9.765Z" class="arrow"/>
                        <text x="261.618px" y="650.495px">{{ 'tab.cutlist.list.width_short'|i18next }}</text>
                    </g>
                    <g class="dim">
                        <path d="M1044.65,239.583l62.261,26.261"/>
                        <path d="M431.129,666.514l67.185,54.72"/>
                        <path d="M1103.51,264.412l-226.904,169.125"/>
                        <path d="M832.334,466.537l-337.695,251.704"/>
                        <path d="M1103.51,264.412l-3.007,6.953l-8.036,-3.418l11.043,-3.535Z" class="arrow"/>
                        <path d="M494.639,718.241l7.061,-9.911l6.003,4.837l-13.064,5.074Z" class="arrow"/>
                        <text x="848.163px" y="456.537px">{{ 'tab.cutlist.list.length_short'|i18next }}</text>
                    </g>
                    <g class="dim">
                        <path d="M261.066,528.003l-102.232,-83.266"/>
                        <path d="M241.811,440.818l-105.96,-81.435"/>
                        <path d="M161.22,446.681l-6.754,-25.185"/>
                        <path d="M145.615,388.496l-7.3,-27.22"/>
                        <path d="M160.868,438.182l0.352,8.499l-5.266,-12.474l4.914,3.975Z" class="arrow"/>
                        <path d="M138.835,370.292l-0.52,-9.016l5.319,12.733l-4.799,-3.717Z" class="arrow"/>
                        <text x="145.306px" y="414.496px">{{ 'tab.cutlist.list.thickness_short'|i18next }}</text>
                    </g>
                </g>
                {% if showCuttingDimensions %}
                    <g class="cutting">
                        <g class="box">
                            <path d="M297.612,641.312l826.435,-530.943"/>
                            <path d="M1124.05,110.369l-183.49,-65.155"/>
                            <path d="M940.557,45.214l-830.009,434.049"/>
                            <path d="M110.548,479.263l187.064,162.049"/>
                            <path d="M323.501,762.255l776.025,-548.244"/>
                            <path d="M146.62,598.393l176.881,163.862"/>
                            <path d="M279.725,520.889l-133.105,77.504"/>
                            <path d="M1099.53,214.011l-140.254,-56.328"/>
                            <path d="M940.557,45.214l-9.475,65.744"/>
                            <path d="M110.548,479.263l36.072,119.13"/>
                            <path d="M1124.05,110.369l-24.521,103.642"/>
                            <path d="M297.612,641.312l25.889,120.943"/>
                        </g>
                        <g class="dim">
                            <path d="M1102.87,215.352l106.181,42.644"/>
                            <path d="M326.366,764.909l116.537,107.959"/>
                            <path d="M1205.65,256.632l-273.59,218.688"/>
                            <path d="M890.776,508.321l-451.67,361.031"/>
                            <path d="M1205.65,256.632l-2.311,6.9l-8.379,-3.391l10.69,-3.509Z" class="arrow"/>
                            <path d="M439.106,869.352l7.434,-10.927l5.821,5.333l-13.255,5.594Z" class="arrow"/>
                            <text x="906.253px" y="498.471px">{{ 'tab.cutlist.list.length_short'|i18next }} + {{ material_attributes.length_increase }}</text>
                        </g>
                        <g class="dim">
                            <path d="M108.23,477.255l-56.64,-49.066"/>
                            <path d="M141.469,586.833l-54.338,-50.086"/>
                            <path d="M53.93,430.216l12.903,39.526"/>
                            <path d="M77.605,502.742l11.779,36.081"/>
                            <path d="M55.087,438.711l-1.157,-8.495l5.681,12.438l-4.524,-3.943Z" class="arrow"/>
                            <path d="M88.481,531.032l0.903,7.791l-5.577,-12.076l4.674,4.285Z" class="arrow"/>
                            <text x="66.632px" y="495.742px">{{ group.std_thickness }}</text>
                        </g>
                        <g class="dim">
                            <path d="M143.035,600.481l-67.727,39.436"/>
                            <path d="M319.984,764.739l-70.619,49.892"/>
                            <path d="M79.165,637.671l65.479,65.439"/>
                            <path d="M177.664,736.11l75.725,75.678"/>
                            <path d="M79.165,637.671l11.048,4.57l-8.172,4.796l-2.876,-9.366Z" class="arrow"/>
                            <path d="M253.389,811.788l-11.544,-5.108l7.55,-5.289l3.994,10.397Z" class="arrow"/>
                            <text x="155.567px" y="729.11px">{{ 'tab.cutlist.list.width_short'|i18next }} + {{ material_attributes.width_increase }}</text>
                        </g>
                    </g>
                {% endif %}
            </g>
            {% elseif group.material_type == 2 %}
            <g>
                <g class="part">
                    <path d="M319.914,628.938l-183.979,-341.744l-10.568,-41.301l185.767,337.78l8.78,45.265Z" style="fill:#bfbfbf;"/>
                    <path d="M311.134,583.673l-185.767,-337.78l428.875,-109.426l80.947,73.843l138.879,-39.263l298.483,231.055l-572.055,222.064l-189.362,-40.493Zm31.234,-275.199l13.329,-2.775l11.97,-4.482l4.513,-2.701l2.347,-1.405l2.905,-1.739l4.643,-4.554l2.259,-2.216l2.473,-4.932l1.141,-2.276l0.143,-7.146l-3.267,-6.605l-6.398,-5.642l-9.068,-4.33l-11.126,-2.759l-12.465,-1.026l-13.015,0.767l-12.746,2.515l-11.663,4.116l-9.818,5.472l-7.301,6.49l-4.249,7.096l-0.848,7.23l2.683,6.865l0.777,0.766l5.315,5.241l1.126,0.581l7.994,4.122l1.019,0.269l3.929,1.036l6.576,1.735l13.102,1.139l13.72,-0.852Z" style="fill:#ededed;"/>
                    {% if showFinalAreas %}
                        <path d="M311.134,583.673l-185.767,-337.78l428.875,-109.426l80.947,73.843l138.879,-39.263l298.483,231.055l-572.055,222.064l-189.362,-40.493Zm31.234,-275.199l13.329,-2.775l11.97,-4.482l4.513,-2.701l2.347,-1.405l2.905,-1.739l4.643,-4.554l2.259,-2.216l2.473,-4.932l1.141,-2.276l0.143,-7.146l-3.267,-6.605l-6.398,-5.642l-9.068,-4.33l-11.126,-2.759l-12.465,-1.026l-13.015,0.767l-12.746,2.515l-11.663,4.116l-9.818,5.472l-7.301,6.49l-4.249,7.096l-0.848,7.23l2.683,6.865l0.777,0.766l5.315,5.241l1.126,0.581l7.994,4.122l1.019,0.269l3.929,1.036l6.576,1.735l13.102,1.139l13.72,-0.852Z" class="final"/>
                    {% endif %}
                    <path d="M500.496,624.166l572.055,-222.064l-11.022,43.739l-557.494,223.74l-3.539,-45.415Z" style="fill:#f1f1f1;"/>
                    <path d="M311.134,583.673l189.362,40.493l3.539,45.415l-184.121,-40.643l-8.78,-45.265Z" style="fill:#fcfcfc;"/>
                    <path d="M288.81,294.437l-2.683,-6.865l0.848,-7.23l2.612,14.861l-0.777,-0.766Z" style="fill:#8a8a8a;"/>
                    <path d="M286.975,280.342l4.249,-7.096l4.804,27.779l-1.126,-0.581l-5.315,-5.241l-2.612,-14.861Z" style="fill:#909090;"/>
                    <path d="M291.224,273.246l7.301,-6.49l6.516,38.66l-1.019,-0.269l-7.994,-4.122l-4.804,-27.779Z" style="fill:#b3b3b3;"/>
                    <path d="M298.525,266.756l9.818,-5.472l6.777,41.588l-6.15,3.58l-3.929,-1.036l-6.516,-38.66Z" style="fill:#d1d1d1;"/>
                    <path d="M308.343,261.284l11.663,-4.116l6.5,41.512l-11.386,4.192l-6.777,-41.588Z" style="fill:#e9e9e9;"/>
                    <path d="M320.006,257.168l12.746,-2.515l6.211,41.465l-12.457,2.562l-6.5,-41.512Z" style="fill:#f9f9f9;"/>
                    <path d="M332.752,254.653l13.015,-0.767l5.927,41.451l-12.731,0.781l-6.211,-41.465Z" style="fill:#fff;"/>
                    <path d="M345.767,253.886l12.465,1.026l5.666,41.469l-12.204,-1.044l-5.927,-41.451Z" style="fill:#fff;"/>
                    <path d="M358.232,254.912l11.126,2.759l5.169,39.44l-2.347,1.405l-8.282,-2.135l-5.666,-41.469Z" style="fill:#f6f6f6;"/>
                    <path d="M369.358,257.671l9.068,4.33l3.649,28.817l-4.643,4.554l-2.905,1.739l-5.169,-39.44Z" style="fill:#e5e5e5;"/>
                    <path d="M378.426,262.001l6.398,5.642l1.983,16.027l-2.473,4.932l-2.259,2.216l-3.649,-28.817Z" style="fill:#cdcdcd;"/>
                    <path d="M384.824,267.643l3.267,6.605l-0.143,7.145l-1.141,2.276l-1.983,-16.026Z" style="fill:#aeaeae;"/>
                    <path d="M135.935,287.194l183.979,341.744" class="edge2"/>
                    <path d="M125.367,245.893l185.767,337.78" class="edge1"/>
                    <path d="M135.935,287.194l-10.568,-41.301" class="edge2"/>
                    <path d="M1072.55,402.102l-298.483,-231.055" class="edge2"/>
                    <path d="M355.697,305.698l-13.329,2.776" class="edge2"/>
                    <path d="M342.368,308.474l-13.72,0.852" class="edge2"/>
                    <path d="M328.648,309.326l-13.102,-1.139" class="edge2"/>
                    <path d="M288.81,294.437l-2.683,-6.865" class="edge2"/>
                    <path d="M286.127,287.572l0.848,-7.23" class="edge1"/>
                    <path d="M286.975,280.342l4.249,-7.096" class="edge1"/>
                    <path d="M291.224,273.246l7.301,-6.49" class="edge1"/>
                    <path d="M298.525,266.756l9.818,-5.472" class="edge1"/>
                    <path d="M308.343,261.284l11.663,-4.116" class="edge1"/>
                    <path d="M320.006,257.168l12.746,-2.515" class="edge1"/>
                    <path d="M332.752,254.653l13.015,-0.767" class="edge1"/>
                    <path d="M345.767,253.886l12.465,1.026" class="edge1"/>
                    <path d="M358.232,254.912l11.126,2.759" class="edge1"/>
                    <path d="M369.358,257.671l9.068,4.33" class="edge1"/>
                    <path d="M378.426,262.001l6.398,5.642" class="edge1"/>
                    <path d="M384.824,267.643l3.267,6.605" class="edge1"/>
                    <path d="M388.091,274.248l-0.143,7.145" class="edge2"/>
                    <path d="M367.667,301.217l-11.97,4.481" class="edge2"/>
                    <path d="M363.898,296.381l8.282,2.135" class="edge2"/>
                    <path d="M351.694,295.337l12.204,1.044" class="edge2"/>
                    <path d="M338.963,296.118l12.731,-0.781" class="edge2"/>
                    <path d="M326.506,298.68l12.457,-2.562" class="edge2"/>
                    <path d="M315.12,302.872l11.386,-4.192" class="edge2"/>
                    <path d="M308.97,306.452l6.15,-3.58" class="edge2"/>
                    <path d="M500.496,624.166l572.055,-222.064" class="edge1"/>
                    <path d="M311.134,583.673l189.362,40.493" class="edge1"/>
                    <path d="M319.914,628.938l184.121,40.643" class="edge2"/>
                    <path d="M500.496,624.166l3.539,45.415" class="edge1"/>
                    <path d="M311.134,583.673l8.78,45.265" class="edge1"/>
                    <path d="M504.035,669.581l557.494,-223.74" class="edge2"/>
                    <path d="M1072.55,402.102l-11.022,43.739" class="edge2"/>
                    <path d="M554.242,136.467l-428.875,109.426" class="edge2"/>
                    <path d="M554.242,136.467l80.947,73.843" class="edge2"/>
                    <path d="M635.189,210.31l138.879,-39.263" class="edge2"/>
                    <path d="M315.546,308.187l-6.576,-1.735" class="edge2"/>
                    <path d="M304.022,305.147l-7.994,-4.122" class="edge2"/>
                    <path d="M296.028,301.025l-1.126,-0.581" class="edge2"/>
                    <path d="M294.902,300.444l-5.315,-5.241" class="edge2"/>
                    <path d="M289.587,295.203l-0.777,-0.766" class="edge2"/>
                    <path d="M387.948,281.394l-1.141,2.276" class="edge2"/>
                    <path d="M386.807,283.67l-2.473,4.932" class="edge2"/>
                    <path d="M384.334,288.602l-2.259,2.216" class="edge2"/>
                    <path d="M382.075,290.818l-4.643,4.554" class="edge2"/>
                    <path d="M372.18,298.516l-4.513,2.701" class="edge2"/>
                    <path d="M308.97,306.452l-3.929,-1.036" class="edge2"/>
                    <path d="M305.041,305.416l-1.019,-0.269" class="edge2"/>
                    <path d="M377.432,295.372l-2.905,1.739" class="edge2"/>
                    <path d="M374.527,297.111l-2.347,1.405" class="edge2"/>
                </g>
                <g class="bbox">
                    <g class="box">
                        <path d="M684.813,140.999l-97.218,25.894"/>
                        <path d="M735.44,181.967l-50.627,-40.968"/>
                        <path d="M370.62,723.125l690.909,-277.284"/>
                        <path d="M135.935,287.194l234.685,435.931"/>
                        <path d="M684.813,140.999l1.163,-38.144"/>
                        <path d="M1072.55,402.102l-386.575,-299.247"/>
                        <path d="M1061.53,445.841l11.022,-43.739"/>
                        <path d="M362.801,677.617l709.75,-275.515"/>
                        <path d="M370.62,723.125l-7.819,-45.508"/>
                        <path d="M125.367,245.893l237.434,431.724"/>
                        <path d="M135.935,287.194l-10.568,-41.301"/>
                        <path d="M685.976,102.855l-560.609,143.038"/>
                    </g>
                    <g class="dim">
                        <path d="M372.25,726.152l31.002,57.588"/>
                        <path d="M1064.26,448.049l46.394,37.542"/>
                        <path d="M401.325,780.16l362.932,-152.53"/>
                        <path d="M820.257,604.095l287.515,-120.835"/>
                        <path d="M401.325,780.16l10.8,-8.429l3.475,6.336l-14.275,2.093Z" class="arrow"/>
                        <path d="M1107.77,483.26l-7.008,6.879l-6.343,-5.185l13.351,-1.694Z" class="arrow"/>
                        <text x="786.606px" y="622.755px">{{ 'tab.cutlist.list.length_short'|i18next }}</text>
                    </g>
                    <g class="dim">
                        <path d="M132.041,288.231l-45.798,12.198"/>
                        <path d="M366.217,724.892l-62.141,24.939"/>
                        <path d="M90.119,299.397l82.364,168.485"/>
                        <path d="M188.615,500.882l120.677,246.856"/>
                        <path d="M90.119,299.397l7.805,5.396l-9.147,2.454l1.342,-7.85Z" class="arrow"/>
                        <path d="M309.292,747.738l-8.833,-7.605l8.552,-3.407l0.281,11.012Z" class="arrow"/>
                        <text x="176.104px" y="490.871px">{{ 'tab.cutlist.list.width_short'|i18next }}</text>
                    </g>
                </g>
                {% if showCuttingDimensions %}
                    <g class="cutting">
                        <g class="box">
                            <path d="M1100.02,406.632l-409.245,-312.311"/>
                            <path d="M690.774,94.321l-585.832,148.204"/>
                            <path d="M104.942,242.525l244.162,459.452"/>
                            <path d="M349.104,701.977l750.915,-295.346"/>
                            <path d="M104.942,242.525l10.966,41.236"/>
                            <path d="M115.908,283.761l241.563,463.726"/>
                            <path d="M349.104,701.977l8.367,45.51"/>
                            <path d="M690.774,94.321l-1.238,37.928"/>
                            <path d="M689.536,132.249l-108.502,28.658"/>
                            <path d="M133.844,279.024l-17.936,4.737"/>
                            <path d="M1100.02,406.632l-11.739,43.794"/>
                            <path d="M1088.28,450.426l-23.234,-18.54"/>
                            <path d="M747.553,178.543l-58.017,-46.294"/>
                            <path d="M357.471,747.487l730.809,-297.061"/>
                        </g>
                        <g class="dim">
                            <path d="M359.069,750.554l42.294,81.19"/>
                            <path d="M1091.03,452.623l64.557,51.512"/>
                            <path d="M399.423,828.02l391.759,-169.677"/>
                            <path d="M847.182,634.088l305.464,-132.302"/>
                            <path d="M399.423,828.02l10.81,-8.691l3.467,6.533l-14.277,2.158Z" class="arrow"/>
                            <path d="M1152.65,501.787l-6.759,6.981l-6.53,-5.263l13.289,-1.719Z" class="arrow"/>
                            <text x="812.151px" y="654.72px">{{ 'tab.cutlist.list.length_short'|i18next }} + {{ material_attributes.length_increase }}</text>
                        </g>
                        <g class="dim">
                            <path d="M112.028,284.786l-77.692,20.521"/>
                            <path d="M353.047,749.285l-107.242,43.592"/>
                            <path d="M38.225,304.28l79.428,181.428"/>
                            <path d="M132.1,518.708l119.075,271.987"/>
                            <path d="M38.225,304.28l7.54,5.421l-9.267,2.465l1.727,-7.886Z" class="arrow"/>
                            <path d="M251.175,790.695l-8.54,-7.822l8.684,-3.505l-0.144,11.327Z" class="arrow"/>
                            <text x="120.695px" y="509.084px">{{ 'tab.cutlist.list.width_short'|i18next }} + {{ material_attributes.width_increase }}</text>
                        </g>
                    </g>
                {% endif %}
                <g class="dim">
                    <path d="M1075.86,400.817l98.391,-38.194"/>
                    <path d="M1064.81,444.525l96.382,-38.681"/>
                    <path d="M1170.9,363.922l-1.617,5.379"/>
                    <path d="M1159.37,402.301l-1.461,4.861"/>
                    <path d="M1170.9,363.922l0.024,9.58l-6.591,2.58l6.567,-12.16Z" class="arrow"/>
                    <path d="M1157.91,407.162l-0.118,-9.407l6.685,-2.661l-6.567,12.068Z" class="arrow"/>
                    <text x="1158.74px" y="395.301px">{{ 'tab.cutlist.list.thickness_short'|i18next }} = {{ group.std_thickness }}</text>
                </g>
            </g>
            {% elseif group.material_type == 3 %}
            <g>
                <g class="part">
                    <path d="M278.547,541.185l-29.489,-145.468l271.182,43.495l8.835,147.287l-250.528,-45.314Z" style="fill:#fff;"/>
                    <path d="M249.058,395.717l610.12,-295.511l151.038,58.741l-489.976,280.266l-271.182,-43.496Z" style="fill:#eaeaea;"/>
                    <path d="M1010.22,158.947l-23.414,130.62l-457.727,296.932l-8.835,-147.286l489.976,-280.266Z" style="fill:#dfdfdf;"/>
                    <path d="M249.058,395.717l29.489,145.468" class="edge2"/>
                    <path d="M859.178,100.206l-610.12,295.511" class="edge2"/>
                    <path d="M986.802,289.567l23.414,-130.62" class="edge2"/>
                    <path d="M1010.22,158.947l-489.976,280.266" class="edge1"/>
                    <path d="M520.24,439.213l8.835,147.286" class="edge1"/>
                    <path d="M529.075,586.499l457.727,-296.932" class="edge2"/>
                    <path d="M249.058,395.717l271.182,43.496" class="edge1"/>
                    <path d="M859.178,100.206l151.038,58.741" class="edge2"/>
                    <path d="M278.547,541.185l250.528,45.314" class="edge2"/>
                </g>
                <g class="bbox">
                    <g class="box">
                        <path d="M278.547,541.185l-29.489,-145.468"/>
                        <path d="M249.058,395.717l149.573,113.055"/>
                        <path d="M859.178,100.206l151.038,58.741"/>
                        <path d="M1010.22,158.947l-23.414,130.62"/>
                        <path d="M278.547,541.185l139.7,117.208"/>
                        <path d="M398.631,508.772l611.585,-349.825"/>
                        <path d="M418.247,658.393l-19.616,-149.621"/>
                        <path d="M249.058,395.717l610.12,-295.511"/>
                        <path d="M986.802,289.567l-568.555,368.826"/>
                    </g>
                    <g class="dim">
                        <path d="M421.096,660.784l66.653,55.921"/>
                        <path d="M990.062,291.043l64.375,29.144"/>
                        <path d="M484.271,713.787l305.707,-213.101"/>
                        <path d="M837.318,467.686l213.771,-149.015"/>
                        <path d="M484.271,713.787l7.398,-9.594l5.822,4.83l-13.22,4.764Z" class="arrow"/>
                        <path d="M1051.09,318.671l-3.606,7.012l-7.784,-3.554l11.39,-3.458Z" class="arrow"/>
                        <text x="806.333px" y="492.752px">{{ 'tab.cutlist.list.length_short'|i18next }}</text>
                    </g>
                </g>
                {% if showCuttingDimensions %}
                    <g class="cutting">
                        <g class="box">
                            <path d="M1062.68,128.939l-777.32,444.626"/>
                            <path d="M315.981,724.734l720.921,-467.667"/>
                            <path d="M285.358,573.565l30.623,151.169"/>
                            <path d="M1036.9,257.067l25.775,-128.128"/>
                            <path d="M913.094,74.093l-773.442,374.614"/>
                            <path d="M907.342,118.938l5.752,-44.845"/>
                            <path d="M179.284,596.353l99.263,-55.168"/>
                            <path d="M139.652,448.707l39.632,147.646"/>
                            <path d="M1036.9,257.067l-41.119,-17.603"/>
                            <path d="M1062.68,128.939l-149.583,-54.846"/>
                            <path d="M315.981,724.734l-136.697,-128.381"/>
                            <path d="M285.358,573.565l-145.706,-124.858"/>
                        </g>
                        <g class="dim">
                            <path d="M318.674,727.263l131.093,123.118"/>
                            <path d="M1040.13,258.45l125.653,53.791"/>
                            <path d="M446.164,846.997l411.054,-307.725"/>
                            <path d="M901.299,506.272l261.113,-195.476"/>
                            <path d="M446.164,846.997l7.657,-10.497l5.692,5.285l-13.349,5.212Z" class="arrow"/>
                            <path d="M1162.41,310.796l-2.841,6.957l-8.172,-3.526l11.013,-3.431Z" class="arrow"/>
                            <text x="871.073px" y="530.987px">{{ 'tab.cutlist.list.length_short'|i18next }} + {{ material_attributes.length_increase }}</text>
                        </g>
                    </g>
                {% endif %}
                <g class="dim">
                    <path d="M275.152,543.072l-160.532,89.22"/>
                    <path d="M245.472,397.453l-177.531,85.987"/>
                    <path d="M118.532,630.118l-16.994,-54.678"/>
                    <path d="M91.281,542.44l-18.992,-61.106"/>
                    <path d="M118.532,630.118l-7.096,-7.343l8.206,-4.522l-1.11,11.865Z" class="arrow"/>
                    <path d="M72.289,481.334l7.334,8.341l-8.246,4.034l0.912,-12.375Z" class="arrow"/>
                    <text x="90.822px" y="568.44px">{{ 'tab.cutlist.list.thickness_short'|i18next }} = {{ group.std_thickness }}</text>
                </g>
                <g class="dim">
                    <path d="M275.16,543.067l-160.52,89.214"/>
                    <path d="M526.012,588.485l-277.094,179.754"/>
                    <path d="M118.532,630.118l47.593,47.968"/>
                    <path d="M118.532,630.118l10.945,4.638l-8.167,4.576l-2.778,-9.214Z" class="arrow"/>
                    <path d="M252.966,765.612l-11.334,-5.075l7.677,-4.938l3.657,10.013Z" class="arrow"/>
                    <path d="M198.867,711.086l54.099,54.526"/>
                    <text x="178.908px" y="704.086px">{{ 'tab.cutlist.list.width_short'|i18next }} = {{ group.std_width }}</text>
                </g>
            </g>
            {% endif %}
        </svg>
    </div>
    <div class="text-center">
        <div class="btn-group" role="group">
            {% if showCuttingDimensions %}
                <button id="ladb_btn_cutting_toggle" type="button" class="btn btn-default"><i class="ladb-opencutlist-icon-tick"></i> {{ 'tab.cutlist.list.cutting'|i18next }}</button>
            {% endif %}
            <button id="ladb_btn_bbox_toggle" type="button" class="btn btn-default"><i class="ladb-opencutlist-icon-tick"></i> {{ 'tab.cutlist.list.bbox'|i18next }}</button>
            {% if showFinalAreas %}
                <button id="ladb_btn_final_toggle" type="button" class="btn btn-default"><i class="ladb-opencutlist-icon-tick"></i> {{ 'tab.cutlist.list.final'|i18next }}</button>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.close'|i18next }}</button>
{% endblock %}
