<div style="margin-bottom: 20px;">
    <div>{{ (solution.summary.efficiency * 100)|number_format(2, capabilities.decimal_separator, ' ') }}%</div>
    {% if solution.summary.total_used_cost %}<div>{{ solution.summary.total_used_cost }}</div>{% endif %}
</div>
<div>
    <div>
        {{ solution.bins[0].light_svg }}
        <div style="margin-top: 5px;">1 / {{ solution.summary.total_used_count }}</div>
    </div>
    {% if solution.summary.total_used_count > 1 %}
        {% if solution.summary.total_used_count > 2 %}
            <div>...</div>
        {% endif %}
        <div>
            {{ solution.bins[solution.bins.length - 1].light_svg }}
            <div style="margin-top: 5px;">{{ solution.summary.total_used_count }} / {{ solution.summary.total_used_count }}</div>
        </div>
    {% endif %}
</div>
