<div class="ladb-progress-preview-thumbnails">
    <div class="ladb-progress-preview-thumbnail">
        {{ solution.bins[0].light_svg }}
        <div class="ladb-progress-preview-thumbnail-counter">1 / {{ solution.summary.total_used_count }}</div>
    </div>
    {% if solution.summary.total_used_count > 1 %}
        {% if solution.summary.total_used_count > 2 %}
            <div class="ladb-progress-preview-thumbnail-separator">...</div>
        {% endif %}
        <div class="ladb-progress-preview-thumbnail">
            {{ solution.bins[solution.bins.length - 1].light_svg }}
            <div class="ladb-progress-preview-thumbnail-counter">{{ solution.summary.total_used_count }} / {{ solution.summary.total_used_count }}</div>
        </div>
    {% endif %}
</div>
<div class="ladb-progress-preview-stats">
    <div>{{ 'tab.cutlist.packing.list.total_fill_rate'|i18next }}&nbsp;:&nbsp;{{ (solution.summary.efficiency * 100)|number_format(2, capabilities.decimal_separator, ' ') }}%</div>
    {% if solution.summary.total_used_cost %}<div>{{ 'tab.cutlist.packing.list.total_cost'|i18next }}&nbsp;:&nbsp;{{ solution.summary.total_used_cost }}</div>{% endif %}
</div>
