{% extends 'tabs/base-slide.twig' %}

{% set id = 'ladb_cutlist_slide_report' %}
{% set out = true %}

{% block headerInner %}
    {{ parent() }}
    <ul class="ladb-file-tabs nav nav-tabs">
        {% include 'tabs/cutlist/_file-tab.twig' with { 'generatedAt':'000' } %}
    </ul>
{% endblock %}

{% block headerHeadingInner %}
    {{ 'tab.cutlist.report.title'|i18next}}
{% endblock %}

{% block headerToolsInner %}
    <button id="ladb_btn_report" class="btn btn-primary"><i class="ladb-opencutlist-icon-refresh"></i> {{ 'tab.cutlist.report.title'|i18next }}...</button>
    <button id="ladb_btn_print" class="btn btn-default"><i class="ladb-opencutlist-icon-print"></i> {{ 'default.print'|i18next }}</button>
    <button id="ladb_btn_close" class="btn btn-default"><i class="ladb-opencutlist-icon-close"></i> {{ 'default.close'|i18next }}</button>
{% endblock %}

{% block containerInner %}
    {{ parent() }}
    <div class="ladb-page">

        {% include 'core/_alert-errors.twig' with { 'errors':report.errors } %} {# TYPE_SHEET_GOOD, TYPE_DIMENSIONAL, TYPE_ACCESSORY #}

        {% if report.groups|length > 0 %}
            <table id="ladb_group_summary" class="table table-bordered ladb-cutlist-group ladb-cutlist-group-dark">
                <thead>
                <tr class="table-heading">
                    <td colspan="2">
                        <button class="no-print btn btn-default btn-sm ladb-btn-toggle-no-print pull-left" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.show_hide_block'|i18next }}"><i class="ladb-opencutlist-icon-eye-{% if groupSummaryHidden %}open{% else %}close{% endif %}"></i></button>
                        <div class="ladb-heading">{{ 'tab.cutlist.list.summary'|i18next }}</div>
                    </td>
                </tr>
                <tr class="table-column-heading">
                    <td class="text-center" width="50%">{{ 'tab.cutlist.report.total_mass'|i18next }}</td>
                    <td class="text-center" width="50%">{{ 'tab.cutlist.report.total_cost'|i18next }}</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center" style="font-size: 200%;">{{ report.total_mass ? report.total_mass|format_mass : '-' }}</td>
                    <td class="text-center" style="font-size: 200%;">{{ report.total_cost ? report.total_cost|format_currency('EUR') : '-' }}</td>
                </tr>
                </tbody>
            </table>
        {% endif %}

        {% for group in report.groups %}

            {% set foldableRow = group.material_type == 2 or group.material_type == 3 or group.material_type == 5 %}

            <table class="table table-bordered ladb-cutlist-group ladb-material-type-{{ group.material_type }}">
                <thead>
                <tr class="table-heading">
                    <td colspan="5">
                        <button class="no-print btn btn-default btn-sm ladb-btn-toggle-no-print pull-left" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.show_hide_block'|i18next }}"><i class="ladb-opencutlist-icon-eye-{% if groupSummaryHidden %}open{% else %}close{% endif %}"></i></button>
                        {% include 'tabs/materials/_material-type-icon.twig' with { 'type':group.material_type, 'filled':true, 'classes':'pull-left' } %}
                        <div class="ladb-heading">{{ ('tab.materials.type_'~group.material_type)|i18next }}</div>
                    </td>
                </tr>
                <tr class="table-column-heading">
                    <td class="text-center">{{ 'tab.cutlist.list.material_thickness'|i18next }}</td>
                    {% if group.material_type == 1 %} {# TYPE_SOLID_WOOD #}
                        <td class="text-center" width="12%">{{ 'tab.cutlist.report.total_volume'|i18next }}</td>
                    {% elseif group.material_type == 2 %} {# TYPE_SHEET_GOOD #}
                        <td class="text-center" width="12%">{{ 'tab.cutlist.report.total_count'|i18next }}</td>
                        <td class="text-center" width="12%">{{ 'tab.cutlist.report.total_area'|i18next }}</td>
                    {% elseif group.material_type == 3 %} {# TYPE_DIMENSIONAL #}
                        <td class="text-center" width="12%">{{ 'tab.cutlist.report.total_count'|i18next }}</td>
                        <td class="text-center" width="12%">{{ 'tab.cutlist.report.total_length'|i18next }}</td>
                    {% elseif group.material_type == 4 %} {# TYPE_EDGE #}
                        <td class="text-center" width="12%">{{ 'tab.cutlist.report.total_length'|i18next }}</td>
                    {% elseif group.material_type == 5 %} {# TYPE_ACCESSORY #}
                        <td class="text-center" width="12%">{{ 'tab.cutlist.report.total_count'|i18next }}</td>
                    {% endif %}
                    <td class="text-center" width="12%">{{ 'tab.cutlist.report.total_mass'|i18next }}</td>
                    <td class="text-center" width="12%">{{ 'tab.cutlist.report.total_cost'|i18next }}</td>
                </tr>
                </thead>
                <tbody>
                    {% for entry in group.entries %}
                        <tr class="ladb-cutlist-row ladb-minitools-holder{% if foldableRow %} ladb-cutlist-row-folder{% endif %}" data-part-id="{{ entry.id }}">
                            <td>
                                {% if foldableRow %}
                                    <div class="ladb-minitools ladb-minitools-right no-print">
                                        <span class="ladb-separator"></span>
                                        <a href="#" class="ladb-btn-folding-toggle-part ladb-click-tool" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.folding_part'|i18next }}"><i class="ladb-opencutlist-icon-arrow-down"></i></a>
                                    </div>
                                {% endif %}
                                {% include 'tabs/cutlist/_group-label.twig' with { 'group':entry } %}
                            </td>
                            {% if group.material_type == 1 %} {# TYPE_SOLID_WOOD #}
                                <td class="ladb-cutlist-dimension-value" width="12%">{{ entry.total_volume }}</td>
                            {% elseif group.material_type == 2 %} {# TYPE_SHEET_GOOD #}
                                <td class="text-center" width="12%">{{ entry.total_count }}</td>
                                <td class="ladb-cutlist-dimension-value" width="12%">{{ entry.total_area }}</td>
                            {% elseif group.material_type == 3 %} {# TYPE_DIMENSIONAL #}
                                <td class="text-center" width="12%">{{ entry.total_count }}</td>
                                <td class="ladb-cutlist-dimension-value" width="12%">{{ entry.total_length }}</td>
                            {% elseif group.material_type == 4 %} {# TYPE_EDGE #}
                                <td class="ladb-cutlist-dimension-value" width="12%">{{ entry.total_length }}</td>
                            {% elseif group.material_type == 5 %} {# TYPE_ACCESSORY #}
                                <td class="text-center" width="12%">{{ entry.total_count }}</td>
                            {% endif %}
                            <td class="ladb-cutlist-dimension-value">{{ entry.total_mass ? entry.total_mass|format_mass : '-' }}</td>
                            <td class="ladb-cutlist-dimension-value">{{ entry.total_cost ? entry.total_cost|format_currency('EUR') : '-' }}</td>
                        </tr>
                        {% if group.material_type == 2 %} {# TYPE_SHEET_GOOD #}
                            {% for sheet in entry.sheets %}
                                <tr class="ladb-cutlist-row ladb-cutlist-row-child hide" data-folder-id="{{ entry.id }}">
                                    <td style="padding-left: 40px;">{{ sheet.length}} x {{ sheet.width }} - <em>{{ ('tab.cutlist.cuttingdiagram.list.sheet_type_'~sheet.type)|i18next }}</em></td>
                                    <td class="text-center">{{ sheet.count }}</td>
                                    <td class="ladb-cutlist-dimension-value">{{ sheet.total_area }}</td>
                                    <td class="ladb-cutlist-dimension-value">{{ sheet.total_mass ? sheet.total_mass|format_mass : '-' }}</td>
                                    <td class="ladb-cutlist-dimension-value">{{ sheet.total_cost ? sheet.total_cost|format_currency('EUR') : '-' }}</td>
                                </tr>
                            {% endfor %}
                        {% elseif group.material_type == 3 %} {# TYPE_DIMENSIONAL #}
                            {% for bar in entry.bars %}
                                <tr class="ladb-cutlist-row ladb-cutlist-row-child hide" data-folder-id="{{ group.id }}">
                                    <td style="padding-left: 40px;">{{ bar.length}} - <em>{{ ('tab.cutlist.cuttingdiagram.list.bar_type_'~bar.type)|i18next }}</em></td>
                                    <td class="text-center">{{ bar.count }}</td>
                                    <td class="ladb-cutlist-dimension-value">{{ bar.total_length }}</td>
                                    <td class="ladb-cutlist-dimension-value">{{ bar.total_mass ? bar.total_mass|format_mass : '-' }}</td>
                                    <td class="ladb-cutlist-dimension-value">{{ bar.total_cost ? bar.total_cost|format_currency('EUR') : '-' }}</td>
                                </tr>
                            {% endfor %}
                        {% elseif group.material_type == 5 %} {# TYPE_ACCESSORY #}
                            {% for part in entry.parts %}
                                <tr class="ladb-cutlist-row ladb-cutlist-row-child hide" data-folder-id="{{ group.id }}">
                                    <td style="padding-left: 40px;">{{ part.name }}</td>
                                    <td class="text-center">{{ part.count }}</td>
                                    <td class="ladb-cutlist-dimension-value">{{ part.total_mass ? part.total_mass|format_mass : '-' }}</td>
                                    <td class="ladb-cutlist-dimension-value">{{ part.total_cost ? part.total_cost|format_currency('EUR') : '-' }}</td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    <tr class="ladb-cutlist-row ladb-cutlist-row-total">
                        <td class="text-right">{{ 'tab.cutlist.report.total'|i18next }}</td>
                        {% if group.material_type == 1 %} {# TYPE_SOLID_WOOD #}
                            <td class="ladb-cutlist-dimension-value">{{ group.total_volume }}</td>
                        {% elseif group.material_type == 2 %} {# TYPE_SHEET_GOOD #}
                            <td class="text-center">{{ group.total_count }}</td>
                            <td class="ladb-cutlist-dimension-value">{{ group.total_area }}</td>
                        {% elseif group.material_type == 3 %} {# TYPE_DIMENSIONAL #}
                            <td class="text-center">{{ group.total_count }}</td>
                            <td class="ladb-cutlist-dimension-value">{{ group.total_length }}</td>
                        {% elseif group.material_type == 4 %} {# TYPE_EDGE #}
                            <td class="ladb-cutlist-dimension-value">{{ group.total_length }}</td>
                        {% elseif group.material_type == 5 %} {# TYPE_ACCESSORY #}
                            <td class="text-center">{{ group.total_count }}</td>
                        {% endif %}
                        <td class="ladb-cutlist-dimension-value">{{ group.total_mass ? group.total_mass|format_mass : '-' }}</td>
                        <td class="ladb-cutlist-dimension-value">{{ group.total_cost ? group.total_cost|format_currency('EUR') : '-' }}</td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}

    </div>
{% endblock %}
