{% extends 'tabs/base-slide.twig' %}

{% set id = 'ladb_cutlist_slide_cuttingdiagram_2d' %}
{% set out = true %}

{% set sheetDimensionFontSize = 16 %}
{% set dimensionFontSize = 12 %}
{% set numberFontSize = 26 %}
{% set minNumberFontSize = 8 %}

{% set textFontWidthFactor = 0.6 %}

{% set dimensionOffset = 1 %}
{% set sheetDimensionOffset = 10 %}
{% set leftoverBulletOffset = 10 %}

{% set sheetOutlineWidth = 1 %}
{% set partOutlineWidth = 2 %}
{% set cutOutlineWidth = 2 %}
{% set edgeWidth = 2 %}

{% set showCuttingDimensions = group.show_cutting_dimensions %}
{% set showEdges = group.show_edges and not generateOptions.hide_edges %}
{% set showFaces = group.show_faces and not generateOptions.hide_faces %}

{% set sheetStrippedname = group.material_type == 6 ? 'veneer' : 'good' %}  {# 6 = TYPE_VENEER #}

{% macro part_tooltip(part) %}
{% spaceless %}
    <div class='tt-header'><span class='tt-number'>{{ part.number }}</span><span class='tt-name'>{{ part.name|escape('html') }}</span></div>
    <div class='tt-data'><i class='ladb-opencutlist-icon-size-length-width'></i> {{ part.cutting_length|escape('html') }}&nbsp;x&nbsp;{{ part.cutting_width|escape('html') }}</div>
    {% if part.edge_count > 0 %}
        <div class='tt-section'>
            {% if part.edge_material_names.ymin %}<div><i class='ladb-opencutlist-icon-edge-0010'></i>&nbsp;{{ part.edge_material_names.ymin|escape('html') }}&nbsp;<small>{{ part.edge_std_dimensions.ymin|escape('html') }}</small></div>{% endif %}
            {% if part.edge_material_names.ymax %}<div><i class='ladb-opencutlist-icon-edge-1000'></i>&nbsp;{{ part.edge_material_names.ymax|escape('html') }}&nbsp;<small>{{ part.edge_std_dimensions.ymax|escape('html') }}</small></div>{% endif %}
            {% if part.edge_material_names.xmin %}<div><i class='ladb-opencutlist-icon-edge-0001'></i>&nbsp;{{ part.edge_material_names.xmin|escape('html') }}&nbsp;<small>{{ part.edge_std_dimensions.xmin|escape('html') }}</small></div>{% endif %}
            {% if part.edge_material_names.xmax %}<div><i class='ladb-opencutlist-icon-edge-0100'></i>&nbsp;{{ part.edge_material_names.xmax|escape('html') }}&nbsp;<small>{{ part.edge_std_dimensions.xmax|escape('html') }}</small></div>{% endif %}
        </div>
    {% endif %}
    {% if part.face_count > 0 %}
        <div class='tt-section'>
            {% if part.face_material_names.zmin %}<div><i class='ladb-opencutlist-icon-face-01'></i>&nbsp;{{ part.face_material_names.zmin|escape('html') }}&nbsp;<small>{{ part.face_std_dimensions.zmin|escape('html') }}</small></div>{% endif %}
            {% if part.face_material_names.zmax %}<div><i class='ladb-opencutlist-icon-face-10'></i>&nbsp;{{ part.face_material_names.zmax|escape('html') }}&nbsp;<small>{{ part.face_std_dimensions.zmax|escape('html') }}</small></div>{% endif %}
        </div>
    {% endif %}
{% endspaceless %}
{% endmacro %}
{% macro leftover_tooltip(leftover) %}
{% spaceless %}
    <div class='tt-header'><span class='tt-name'>{{ ('tab.cutlist.cuttingdiagram.list.leftover_'~(leftover.to_keep ? 'to_keep' : 'to_throw_away'))|i18next }}</span></div>
    <div class='tt-data'><i class='ladb-opencutlist-icon-size-length-width'></i> {{ leftover.length|escape('html') }}&nbsp;x&nbsp;{{ leftover.width|escape('html') }}</div>
{% endspaceless %}
{% endmacro %}
{% macro cut_tooltip(cut, options) %}
{% spaceless %}
    <div class='tt-header'><span class='tt-name'>{{ ('tab.cutlist.cuttingdiagram.list.cut'~(cut.is_trimming ? '_trimming' : (cut.is_bounding ? '_bounding' : (cut.is_internal_through ? '_internal_through' : ''))))|i18next }}</span></div>
    <div class='tt-data'>{{ _self.cut_position(cut, options) }}</div>
    <div class='tt-data'><i class='ladb-opencutlist-icon-saw'></i> {{ options.saw_kerf|escape('html') }}</div>
{% endspaceless %}
{% endmacro %}
{% macro cut_position(cut, options) %}
{% spaceless %}
    {% if cut.is_horizontal %}<i class='ladb-opencutlist-icon-horizontal-cut-{% if options.origin_corner == 1 or options.origin_corner == 3 %}{# 1 = ORIGIN_CORNER_BOTTOM_LEFT, 3 = ORIGIN_CORNER_BOTTOM_RIGHT #}top{% else %}bottom{% endif %}'></i> {{ cut.y|escape('html') }}{% else %}<i class='ladb-opencutlist-icon-vertical-cut-{% if options.origin_corner == 2 or options.origin_corner == 3 %}{# 2 = ORIGIN_CORNER_TOP_RIGHT, 3 = ORIGIN_CORNER_BOTTOM_RIGHT #}left{% else %}right{% endif %}'></i> {{ cut.x|escape('html') }}{% endif %}
{% endspaceless %}
{% endmacro %}

{% import _self as fn %}

{% block headerInner %}
    {{ parent() }}
    {% include 'tabs/cutlist/_header-extra.twig' %}
{% endblock %}

{% block headerHeadingInner %}
    {{ 'tab.cutlist.cuttingdiagram.title'|i18next}} <small>| {{ group.material_name|escape('html') }} / <strong>{{ group.std_dimension}}</strong></small>
{% endblock %}

{% block headerToolsInner %}
    <button id="ladb_btn_cuttingdiagram" class="btn btn-primary"><i class="ladb-opencutlist-icon-refresh"></i> {{ 'tab.cutlist.menu.group_cuttingdiagram'|i18next }}...</button>
    <button id="ladb_btn_print" class="btn btn-default"{% if sheets|length == 0 %} disabled{% endif %}><i class="ladb-opencutlist-icon-print"></i> {{ 'default.print'|i18next }}</button>
    <button id="ladb_btn_export" class="btn btn-default"{% if sheets|length == 0 %} disabled{% endif %}><i class="ladb-opencutlist-icon-export"></i> {{ 'default.export'|i18next }}</button>
    &nbsp;
    <button id="ladb_btn_labels" class="btn btn-default"><i class="ladb-opencutlist-icon-labels"></i> {{ 'tab.cutlist.labels.title'|i18next }}...</button>
    &nbsp;
    <button class="btn btn-default" data-help-page="cutlist.cuttingdiagram2d"><i class="ladb-opencutlist-icon-help"></i></button>
    &nbsp;
    <button id="ladb_btn_close" class="btn btn-default"><i class="ladb-opencutlist-icon-close"></i> {{ 'default.close'|i18next }}</button>
{% endblock %}

{% block containerInner %}
    {{ parent() }}
    <table class="ladb-page">

        {% include 'core/_alert-errors.twig' %}
        {% include 'core/_alert-warnings.twig' %}
        {% include 'core/_alert-tips.twig' %}

        {% if unplaced_parts|length > 0 %}
            {% set colspan = 7 %}
            {% if not showCuttingDimensions %}
                {% set colspan = colspan - 2 %}
            {% endif %}
            <table id="ladb_cuttingdiagram_unplaced_parts" data-group-id="cuttingdiagram_unplaced_parts" class="{% if 'cuttingdiagram_unplaced_parts' in generateOptions.hidden_group_ids %}no-print {% endif %}table table-bordered table-danger ladb-cutlist-group">
                <thead>
                <tr class="table-heading">
                    <td colspan="{{ colspan }}">
                        <button class="no-print btn btn-default btn-sm ladb-btn-toggle-no-print pull-left"><i class="ladb-opencutlist-icon-eye-close"></i></button>
                        {% if not generateOptions.part_folding %}
                            <div class="btn-group pull-right">
                                <button class="no-print btn btn-default btn-sm ladb-btn-hiddable" id="ladb_btn_select_unplaced_parts" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.select_parts_in_cutlist'|i18next({ 'count':unplaced_parts|length }) }}"><i class="ladb-opencutlist-icon-check-box-with-check-sign"></i> {{ 'tab.cutlist.select_part'|i18next({ 'count':unplaced_parts|length }) }}</button>
                            </div>
                        {% endif %}
                        <div class="ladb-heading text-danger"><i class="ladb-opencutlist-icon-warning"></i> {{ 'tab.cutlist.cuttingdiagram.list.unplaced_parts'|i18next }}</div>
                    </td>
                </tr>
                <tr class="table-column-heading">
                    <td rowspan="2" width="5%">{{ 'tab.cutlist.list.number'|i18next }}</td>
                    <td rowspan="2">{{ 'tab.cutlist.list.name'|i18next }}</td>
                    <td rowspan="2" width="5%">{{ 'tab.cutlist.list.count'|i18next }}</td>
                    {% if showCuttingDimensions %}
                        <td colspan="2">{{ 'tab.cutlist.list.cutting'|i18next }}</td>
                    {% endif %}
                    <td colspan="2">{{ 'tab.cutlist.list.bbox'|i18next }}</td>
                </tr>
                <tr class="table-column-heading">
                    {% if showCuttingDimensions %}
                        {% for property in dimensionColumnOrderStrategy if property != 'thickness' %}
                            <td width="8%">{{ ('tab.cutlist.list.'~property~'_short')|i18next }}</td>
                        {% endfor %}
                    {% endif %}
                    {% for property in dimensionColumnOrderStrategy if property != 'thickness' %}
                        <td width="8%">{{ ('tab.cutlist.list.'~property~'_short')|i18next }}</td>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for part in unplaced_parts  %}
                    <tr class="ladb-cutlist-row ladb-minitools-holder" data-part-id="{{ part.id }}">
                        <td class="text-center">
                            {{ part.number }}
                        </td>
                        <td>
                            <div class="ladb-minitools ladb-minitools-right no-print">
                                <span class="ladb-separator"></span>
                                <a href="#" class="ladb-btn-highlight-part ladb-click-tool" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.highlight_part'|i18next }}"><i class="ladb-opencutlist-icon-magnifier"></i></a>
                            </div>
                            {{ part.name|escape }}
                        </td>
                        <td class="text-center">
                            {{ part.count }}
                        </td>
                        {% if showCuttingDimensions %}
                            {% for property in dimensionColumnOrderStrategy if property != 'thickness' %}
                                {% include 'tabs/cutlist/_list-row-col-cutting-dimension.twig' %}
                            {% endfor %}
                        {% endif %}
                        {% for property in dimensionColumnOrderStrategy if property != 'thickness' %}
                            <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ part[property] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {% if summary.sheets is not empty  %}
            <table id="ladb_cuttingdiagram_summary" data-group-id="cuttingdiagram_summary" class="{% if 'cuttingdiagram_summary' in generateOptions.hidden_group_ids %}no-print {% endif %}table table-bordered ladb-cutlist-group ladb-cutlist-group-dark ladb-cutlist-group-summary">
                <thead>
                <tr class="table-heading">
                    <td colspan="6">
                        <button class="no-print btn btn-default btn-sm ladb-btn-toggle-no-print pull-left"><i class="ladb-opencutlist-icon-eye-close"></i></button>
                        <div class="ladb-heading">{{ 'tab.cutlist.cuttingdiagram.list.summary'|i18next }}</div>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="6">
                        <small>
                            <div class="row">
                                <div class="col-xs-6">
                                    <span style="margin-left: 10px;">{{ 'tab.cutlist.cuttingdiagram.list.settings'|i18next }}</span>
                                    <ul>
                                        <li><strong>{{ 'tab.cutlist.cuttingdiagram.option_optimization'|i18next }} : </strong>{{ ('tab.cutlist.cuttingdiagram.option_optimization_'~options.optimization)|i18next }}</li>
                                        <li><strong>{{ 'tab.cutlist.cuttingdiagram.option_stacking'|i18next }} : </strong>{{ ('tab.cutlist.cuttingdiagram.option_stacking_'~options.stacking)|i18next }}</li>
                                        <li><strong>{{ 'tab.cutlist.cuttingdiagram.option_saw_kerf'|i18next }} : </strong>{{ options.saw_kerf }}</li>
                                        <li><strong>{{ 'tab.cutlist.cuttingdiagram.option_trimming'|i18next }} : </strong>{{ options.trimming }}</li>
                                        <li><strong>{{ 'tab.cutlist.cuttingdiagram.option_part_drawing_type'|i18next }} : </strong>{{ ('tab.cutlist.cuttingdiagram.option_part_drawing_type_'~options.part_drawing_type)|i18next }}</li>
                                    </ul>
                                </div>
                                <div class="col-xs-6">
                                    <span style="margin-left: 10px;">{{ 'tab.cutlist.cuttingdiagram.list.stats'|i18next }}</span>
                                    <ul>
                                        <li><strong>{{ 'tab.cutlist.cuttingdiagram.list.total_cut_count'|i18next }} : </strong>{{ summary.total_cut_count }}</li>
                                        <li><strong>{{ 'tab.cutlist.cuttingdiagram.list.total_cut_length'|i18next }} : </strong>{{ summary.total_cut_length }}</li>
                                        <li><strong>{{ 'tab.cutlist.cuttingdiagram.list.overall_efficiency'|i18next }} : </strong>{{ summary.overall_efficiency|number_format(2, capabilities.decimal_separator, ' ') }}%</li>
                                        <li><strong>{{ 'tab.cutlist.cuttingdiagram.list.leftover_to_keep_plural'|i18next }} : </strong>{{ to_keep_leftovers|length }} <em>({{ 'tab.cutlist.list.length_short'|i18next }} x {{ 'tab.cutlist.list.width_short'|i18next }} > {{ options.keep_length }} x {{ options.keep_width }})</em></li>
                                    </ul>
                                </div>
                            </div>
                        </small>
                    </td>
                </tr>
                <tr>
                    <td class="text-center" style="vertical-align: middle !important;">{{ 'tab.cutlist.cuttingdiagram.list.sheet'|i18next }}</td>
                    <td class="text-center" style="vertical-align: middle !important;" width="5%">{{ 'tab.cutlist.cuttingdiagram.list.count'|i18next }}</td>
                    <td class="text-center" width="12%">{{ 'tab.cutlist.cuttingdiagram.list.length'|i18next }}</td>
                    <td class="text-center" width="12%">{{ 'tab.cutlist.cuttingdiagram.list.width'|i18next }}</td>
                    <td class="text-center" width="12%">{{ 'tab.cutlist.cuttingdiagram.list.total_area'|i18next }}</td>
                    <td class="text-center" width="12%">{{ 'tab.cutlist.cuttingdiagram.list.total_part_count'|i18next }}</td>
                </tr>
                {% set isFirstUsed = summary.sheets|length > 0 and summary.sheets[0].is_used %}
                {% for sheet in summary.sheets  %}
                    <tr class="ladb-cutlist-row{% if sheet.is_used and not isFirstUsed %} ladb-cutlist-row-separator{% set isFirstUsed = true %}{% endif %}"{% if not sheet.is_used %} data-toggle="tooltip" data-placement="left" title="{{ 'tab.cutlist.cuttingdiagram.list.unused'|i18next }}" style="text-decoration: line-through;color: #888;"{% endif %}>
                        <td>
                            <i class="ladb-opencutlist-icon-material-type-2"></i>{% if not generateOptions.hide_material_colors %} {% include 'tabs/materials/_material-color-drop.twig' with { 'material_color':group.material_color } %}{% endif %} {{ group.material_name|escape('html') }} / <strong>{{ group.std_dimension }}</strong> - {{ ('tab.cutlist.cuttingdiagram.list.sheet_'~sheetStrippedname~'_type_'~sheet.type)|i18next }}
                            {% if sheet.is_used %}
                                <div class="ladb-minitools ladb-minitools-right no-print">
                                    <a href="#ladb_cuttingdiagram_group_{{ sheet.type_id }}" class="ladb-btn-scrollto ladb-click-tool" data-toggle="tooltip" title="{{ 'tab.cutlist.cuttingdiagram.tooltip.scroll_to_block_2d'|i18next }}"><i class="ladb-opencutlist-icon-arrow-circle-down"></i></a>
                                </div>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {{ sheet.count }}
                        </td>
                        <td class="ladb-cutlist-value ladb-cutlist-value-right">
                            {{ sheet.length }}
                        </td>
                        <td class="ladb-cutlist-value ladb-cutlist-value-right">
                            {{ sheet.width }}
                        </td>
                        <td class="ladb-cutlist-value ladb-cutlist-value-right">
                            {{ sheet.total_area }}
                        </td>
                        <td class="ladb-cutlist-value ladb-cutlist-value-right">
                            {{ sheet.total_part_count ? sheet.total_part_count : '-' }}
                        </td>
                    </tr>
                {% endfor %}
                {% if summary.sheets|length > 1 %}
                    <tr class="ladb-cutlist-row ladb-cutlist-row-total">
                        <td class="text-right">{{ 'tab.cutlist.cuttingdiagram.list.total_used'|i18next }}</td>
                        <td class="text-center">{{ summary.total_used_count }}</td>
                        <td></td>
                        <td></td>
                        <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ summary.total_used_area }}</td>
                        <td class="text-right">{{ summary.total_used_part_count }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
            <table id="ladb_cuttingdiagram_group_leftovers" class="no-print table table-bordered ladb-cutlist-group">
                <thead>
                <tr class="table-heading">
                    <td colspan="6">
                        <button class="no-print btn btn-default btn-sm ladb-btn-toggle-no-print pull-left"><i class="ladb-opencutlist-icon-eye-open"></i></button>
                        {% if to_keep_leftovers|length > 0 %}
                            <div class="btn-group pull-right">
                                <button class="no-print btn btn-default btn-sm ladb-btn-hiddable" id="ladb_btn_copy_leftovers_to_clipboard" data-toggle="tooltip" title="{{ 'tab.cutlist.cuttingdiagram.tooltip.copy_leftovers_to_clipboard'|i18next }}"><i class="ladb-opencutlist-icon-copy"></i> {{ 'default.copy'|i18next }}</button>
                            </div>
                        {% endif %}
                        <div class="ladb-heading">{{ to_keep_leftovers|length }} {{ 'tab.cutlist.cuttingdiagram.list.leftover_to_keep'|i18next({ 'count':(to_keep_leftovers|length) }) }}</div>
                    </td>
                </tr>
                </thead>
                <tbody>
                {% if to_keep_leftovers|length > 0 %}
                    <tr class="table-column-heading">
                        <td>{{ 'tab.cutlist.list.name'|i18next }}</td>
                        <td width="8%">{{ 'tab.cutlist.list.count'|i18next }}</td>
                        {% for property in dimensionColumnOrderStrategy if property != 'thickness' %}
                            <td width="8%">{{ ('tab.cutlist.list.'~property~'_short')|i18next }}</td>
                        {% endfor %}
                        <td width="8%">{{ 'tab.cutlist.list.area'|i18next }}</td>
                    </tr>
                    {% for leftover in to_keep_leftovers %}
                        <tr class="ladb-cutlist-row ladb-minitools-holder">
                            <td><span class="ladb-cutlist-part-name">{{ 'tab.cutlist.cuttingdiagram.list.leftover_to_keep'|i18next }}</span></td>
                            <td class="text-center">{{ leftover.count }}</td>
                            {% for property in dimensionColumnOrderStrategy if property != 'thickness' %}
                                {% include 'tabs/cutlist/_list-row-col-box-dimension.twig' with { 'part':leftover } %}
                            {% endfor %}
                            <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ leftover.area }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        {% endif %}
        {% if options.hide_part_list %}
            {% set colspan = 1 %}
        {% else %}
            {% set colspan = 13 %}
            {% if not showCuttingDimensions %}
                {% set colspan = colspan - 2 %}
            {% endif %}
            {% if not showEdges %}
                {% set colspan = colspan - 4 %}
            {% endif %}
            {% if not showFaces %}
                {% set colspan = colspan - 2 %}
            {% endif %}
        {% endif %}
        {% set maxSheetLength = 0 %}
        {% for sheet in sheets %}
            {% set maxSheetLength = max(maxSheetLength, sheet.px_length) %}
        {% endfor %}
        {% set sheetIndex = 1 %}
        {% for sheet in sheets %}
            <table id="ladb_cuttingdiagram_group_{{ sheet.type_id }}" data-group-id="{{ group.id }}_{{ sheet.type_id }}" data-sheet-index="{{ loop.index }}" class="table table-bordered ladb-cutlist-group ladb-cutlist-cuttingdiagram-group">
                <thead>
                <tr class="table-heading">
                    <td colspan="{{ colspan }}">
                        <button class="no-print btn btn-default btn-sm ladb-btn-toggle-no-print pull-left"><i class="ladb-opencutlist-icon-eye-close"></i></button>
                        {% if sheets|length > 1 %}
                            <div class="no-print btn-group pull-right" role="group">
                                <button class="btn btn-default btn-sm ladb-btn-scrollto-prev-group" {% if loop.first %}disabled{% endif %}><i class="ladb-opencutlist-icon-chevron-left"></i></button>
                                <button class="btn btn-default btn-sm ladb-btn-scrollto-next-group" {% if loop.last %}disabled{% endif %}><i class="ladb-opencutlist-icon-chevron-right"></i></button>
                            </div>
                        {% endif %}
                        <div class="ladb-heading pull-right" style="margin-right: 10px;"><strong>{{ sheetIndex }}{% if sheet.count > 1 %} ... {{ sheetIndex + sheet.count - 1 }}{% endif%} / {{ summary.total_used_count }}</strong></div>
                        {% set sheetIndex = sheetIndex + sheet.count %}
                        {% if sheet.count > 1 %}
                            <div class="ladb-heading-count pull-right">x&nbsp;{{ sheet.count }}</div>
                        {% endif %}
                        <div class="ladb-heading"><i class="ladb-opencutlist-icon-material-type-2"></i>{% if not generateOptions.hide_material_colors %} {% include 'tabs/materials/_material-color-drop.twig' with { 'material_color':group.material_color } %}{% endif %} {{ group.material_name|escape('html') }} / <strong>{{ group.std_dimension }}</strong> - <i class="ladb-opencutlist-icon-size-length-width"></i> <em>{{ sheet.length }} x {{ sheet.width }}</em> - <span style="padding: 2px 5px; border: 1px solid #000; font-size: 80%;">{{ ('tab.cutlist.cuttingdiagram.list.sheet_'~sheetStrippedname~'_type_'~sheet.type)|i18next }}</span></div>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="{{ colspan }}">

                        {% set viewBoxOffsetX = (maxSheetLength - sheet.px_length) / 2 %}
                        {% set viewBoxX = (sheetOutlineWidth + sheetDimensionOffset + sheetDimensionFontSize + viewBoxOffsetX) * -1 %}
                        {% set viewBoxY = (sheetOutlineWidth + sheetDimensionOffset + sheetDimensionFontSize) * -1 %}
                        {% set viewBoxWidth = sheet.px_length + (sheetOutlineWidth + sheetDimensionOffset + sheetDimensionFontSize + viewBoxOffsetX) * 2 %}
                        {% set viewBoxHeight = sheet.px_width + (sheetOutlineWidth + sheetDimensionOffset + sheetDimensionFontSize) * 2 %}

                        <svg viewBox="{{ viewBoxX }} {{ viewBoxY }} {{ viewBoxWidth }} {{ viewBoxHeight }}"{% if options.full_width_diagram %} class="full-width-diagram"{% else %} style="max-height: {{ viewBoxHeight }}px"{% endif %}>
                            <text class="sheet-dimension" x="{{ sheet.px_length / 2 }}" y="-{{ sheetOutlineWidth + sheetDimensionOffset }}" font-size="{{ sheetDimensionFontSize }}px" text-anchor="middle" dominant-baseline="alphabetic">{{ sheet.length }}</text>
                            <text class="sheet-dimension" x="-{{ sheetOutlineWidth + sheetDimensionOffset }}" y="{{ sheet.px_width / 2 }}" font-size="{{ sheetDimensionFontSize }}px" text-anchor="middle" dominant-baseline="alphabetic" transform="rotate(-90 -{{ sheetOutlineWidth + sheetDimensionOffset }},{{ sheet.px_width / 2 }})">{{ sheet.width }}</text>
                            <g class="sheet" data-toggle="tooltip" data-html="true" title="<span style='font-size: 120%;'>{{ 'tab.cutlist.cuttingdiagram.list.trimming'|i18next }}</span>&nbsp;{{ options.trimming|escape('html') }}">
                                <rect class="sheet-outer" x="-1" y="-1" width="{{ sheet.px_length + 2 }}" height="{{ sheet.px_width + 2 }}" />
                                <rect class="sheet-inner" x="0" y="0" width="{{ sheet.px_length }}" height="{{ sheet.px_width }}" />
                            </g>
                            {% for leftover in sheet.leftovers %}
                                <g class="leftover" data-toggle="tooltip" data-html="true" title="{{ fn.leftover_tooltip(leftover) }}">
                                    <rect class="leftover-inner" x="{{ leftover.px_x }}" y="{{ leftover.px_y }}" width="{{ leftover.px_length }}" height="{{ leftover.px_width }}" />
                                    {% set _hideCross = options.hide_cross or leftover.px_length < dimensionFontSize or leftover.px_width < dimensionFontSize %}
                                    {% if not _hideCross %}
                                        <line class="leftover-cross" x1="{{ leftover.px_x + leftover.px_length }}" y1="{{ leftover.px_y }}" x2="{{ leftover.px_x }}" y2="{{ leftover.px_y + leftover.px_width }}" />
                                        <line class="leftover-cross" x1="{{ leftover.px_x }}" y1="{{ leftover.px_y }}" x2="{{ leftover.px_x + leftover.px_length }}" y2="{{ leftover.px_y + leftover.px_width }}" />
                                    {% endif %}
                                    {% set _hideLength = leftover.px_width < (dimensionFontSize + dimensionOffset * 2) or leftover.px_length <= leftover.length|length * dimensionFontSize * textFontWidthFactor %}
                                    {% if not _hideLength %}
                                        {% set _yCenteredValue = dimensionFontSize + (partOutlineWidth + dimensionOffset) * 2 > leftover.px_width %}
                                        {% set _x = leftover.px_x + leftover.px_length / 2 %}
                                        {% set _y = leftover.px_y + (_yCenteredValue ? leftover.px_width / 2 : dimensionOffset + dimensionFontSize) %}
                                        <text class="leftover-dimension" x="{{ _x }}" y="{{ _y }}" font-size="{{ dimensionFontSize }}px" text-anchor="middle"{% if _yCenteredValue %} dominant-baseline="central"{% endif %}>{{ leftover.length }}</text>
                                    {% endif %}
                                    {% set _hideWidth = leftover.px_length < (dimensionFontSize + dimensionOffset * 2) or leftover.px_width <= leftover.width|length * dimensionFontSize * textFontWidthFactor %}
                                    {% if not _hideWidth %}
                                        {% set _xCenteredValue = dimensionFontSize + (partOutlineWidth + dimensionOffset) * 2 > leftover.px_length %}
                                        {% set _x = leftover.px_x + (_xCenteredValue ? leftover.px_length / 2 : dimensionOffset + dimensionFontSize) %}
                                        {% set _y = leftover.px_y + leftover.px_width / 2 %}
                                        <text class="leftover-dimension" x="{{ _x }}" y="{{ _y }}" font-size="{{ dimensionFontSize }}px" text-anchor="middle"{% if _xCenteredValue %} dominant-baseline="central"{% endif %} transform="rotate(-90 {{ _x }},{{ _y }})">{{ leftover.width }}</text>
                                    {% endif %}
                                    {% if leftover.to_keep %}<circle class="leftover-bullet" cx="{{ leftover.px_x + leftover.px_length / 2 }}" cy="{{ leftover.px_y + leftover.px_width / 2 }}" r="3" />{% endif %}
                                </g>
                            {% endfor %}
                            {% for part in sheet.parts|reverse %}
                                <g class="part" data-part-id="{{ part.id }}" data-toggle="tooltip" data-html="true" title="{{ fn.part_tooltip(part) }}">
                                    {% if projections[part.id] %}
                                        <rect class="part-projection-outer" x="{{ part.px_x }}" y="{{ part.px_y }}" width="{{ part.px_length }}" height="{{ part.px_width }}" />
                                        <g class="part-projection" transform="{% if part.rotated %}translate({{ part.px_x - part.px_x_offset + part.px_length }} {{ part.px_y - part.px_y_offset + part.px_width }}) rotate(-90 0 0){% else %}translate({{ part.px_x + part.px_x_offset }} {{ part.px_y - part.px_y_offset + part.px_width }}){% endif %}">
                                            {% for layer in projections[part.id] %}
                                                <path class="part-projection-{% if loop.first %}shape{% else %}machining{% endif %}" d="{{ layer.path }}" />
                                            {% endfor %}
                                        </g>
                                    {% else %}
                                        <rect class="part-outer" x="{{ part.px_x }}" y="{{ part.px_y }}" width="{{ part.px_length }}" height="{{ part.px_width }}" />
                                        <rect class="part-inner" x="{{ part.px_x + partOutlineWidth }}" y="{{ part.px_y + partOutlineWidth }}" width="{{ part.px_length - partOutlineWidth * 2 }}" height="{{ part.px_width - partOutlineWidth * 2 }}" />
                                    {% endif %}
                                    {% if not options.hide_edges_preview %}
                                        {% if part.rotated and part.edge_material_names.xmax or not part.rotated and part.edge_material_names.ymax %}
                                            <rect class="part-edge" x="{{ part.px_x + partOutlineWidth }}" y="{{ part.px_y + partOutlineWidth }}" width="{{ part.px_length - partOutlineWidth * 2 }}" height="{{ edgeWidth }}" fill="{{ generateOptions.hide_material_colors ? '#668eee': (part.rotated ? part.edge_material_colors.xmax : part.edge_material_colors.ymax) }}" />
                                        {% endif %}
                                        {% if part.rotated and part.edge_material_names.xmin or not part.rotated and part.edge_material_names.ymin %}
                                            <rect class="part-edge" x="{{ part.px_x + partOutlineWidth }}" y="{{ part.px_y + part.px_width - edgeWidth - partOutlineWidth }}" width="{{ part.px_length - partOutlineWidth * 2 }}" height="{{ edgeWidth }}" fill="{{ generateOptions.hide_material_colors ? '#668eee': (part.rotated ? part.edge_material_colors.xmin : part.edge_material_colors.ymin) }}" />
                                        {% endif %}
                                        {% if part.rotated and part.edge_material_names.ymax or not part.rotated and part.edge_material_names.xmin %}
                                            <rect class="part-edge" x="{{ part.px_x + partOutlineWidth }}" y="{{ part.px_y + partOutlineWidth }}" width="{{ edgeWidth }}" height="{{ part.px_width - partOutlineWidth * 2 }}" fill="{{ generateOptions.hide_material_colors ? '#668eee': (part.rotated ? part.edge_material_colors.ymax : part.edge_material_colors.xmin) }}" />
                                        {% endif %}
                                        {% if part.rotated and part.edge_material_names.ymin or not part.rotated and part.edge_material_names.xmax %}
                                            <rect class="part-edge" x="{{ part.px_x + part.px_length - edgeWidth - partOutlineWidth }}" y="{{ part.px_y + partOutlineWidth }}" width="{{ edgeWidth }}" height="{{ part.px_width - partOutlineWidth * 2 }}" fill="{{ generateOptions.hide_material_colors ? '#668eee': (part.rotated ? part.edge_material_colors.ymin : part.edge_material_colors.xmax) }}" />
                                        {% endif %}
                                    {% endif %}
                                    {% set _dimHText = (part.rotated ? part.cutting_width : part.cutting_length)|trim_tilde %}
                                    {% set _dimHTextLength = _dimHText|length %}
                                    {% set _dimVText = (part.rotated ? part.cutting_length : part.cutting_width)|trim_tilde %}
                                    {% set _dimVTextLength = _dimVText|length %}
                                    {% set _numberText = options.use_names ? part.name : part.number %}
                                    {% set _numberTextLength = _numberText|length %}
                                    {% set _numberFontSize = max(minNumberFontSize, min(numberFontSize, (part.px_length - dimensionOffset * 2 - edgeWidth * 2 - dimensionFontSize * _dimHTextLength * 0.7) / (part.rotated ? 1 : _numberTextLength), (part.px_width - dimensionOffset * 2 - edgeWidth * 2 - dimensionFontSize * _dimVTextLength * 0.7) / (part.rotated ? _numberTextLength : 1))) %}
                                    {% set _numberFontWidth = _numberFontSize * _numberTextLength * textFontWidthFactor %}
                                    <text class="part-number" x="{{ part.px_x + part.px_length / 2 }}" y="{{ part.px_y + part.px_width / 2 }}" font-size="{{ _numberFontSize }}px" text-anchor="middle" dominant-baseline="central"{% if part.rotated %} transform="rotate(-90 {{ part.px_x + part.px_length / 2 }},{{ part.px_y + part.px_width / 2 }})"{% endif %}>{{ _numberText|escape }}</text>
                                    {% set _dimFontSize = min(dimensionFontSize, _numberFontSize * 0.8) %}
                                    {% set _dimPxWidth = _dimHTextLength * _dimFontSize * textFontWidthFactor %}
                                    {% set _hideDimH = part.px_width < (_numberFontSize + (partOutlineWidth + dimensionOffset + _dimFontSize) * 2) and (part.px_length - _numberFontSize) / 2 < _dimPxWidth or part.px_length < _dimPxWidth %}
                                    {% if not _hideDimH %}
                                        {% set _xCenteredValue = _dimPxWidth + (partOutlineWidth + dimensionOffset + edgeWidth) * 2 > part.px_length %}
                                        {% set _yCenteredValue = _dimFontSize + (partOutlineWidth + dimensionOffset + edgeWidth) * 2 > part.px_width %}
                                        {% set _x = part.px_x + (_xCenteredValue ? part.px_length / 2 : part.px_length - partOutlineWidth - dimensionOffset - edgeWidth) %}
                                        {% set _y = part.px_y + (_yCenteredValue ? part.px_width / 2 : partOutlineWidth + dimensionOffset + _dimFontSize) %}
                                        <text class="part-dimension" data-x="{{ _yCenteredValue }}" x="{{ _x }}" y="{{ _y }}" font-size="{{ _dimFontSize }}px" text-anchor="{% if _xCenteredValue %}middle{% else %}end{% endif %}"{% if _yCenteredValue %} dominant-baseline="central"{% endif %}{% if showCuttingDimensions %} style="fill: red;"{% endif %}>{{ _dimHText }}</text>
                                    {% endif %}
                                    {% set _dimPxWidth = _dimVTextLength * _dimFontSize * textFontWidthFactor %}
                                    {% set _hideDimV = part.px_length < (_numberFontWidth + (partOutlineWidth + dimensionOffset + _dimFontSize) * 2) and (part.px_width - _numberFontSize) / 2 < _dimPxWidth or part.px_width < _dimPxWidth %}
                                    {% if not _hideDimV %}
                                        {% set _xCenteredValue = _dimFontSize + (partOutlineWidth + dimensionOffset + edgeWidth) * 2 > part.px_length %}
                                        {% set _yCenteredValue = _dimPxWidth + (partOutlineWidth + dimensionOffset + edgeWidth) * 2 > part.px_width %}
                                        {% set _x = part.px_x + (_xCenteredValue ? part.px_length / 2 : partOutlineWidth + dimensionOffset + _dimFontSize) %}
                                        {% set _y = part.px_y + (_yCenteredValue ? part.px_width / 2 : part.px_width - partOutlineWidth - dimensionOffset - edgeWidth) %}
                                        <text class="part-dimension" x="{{ _x }}" y="{{ _y }}" font-size="{{ _dimFontSize }}px" text-anchor="{% if _yCenteredValue %}middle{% else %}start{% endif %}"{% if _xCenteredValue %} dominant-baseline="central"{% endif %}{% if showCuttingDimensions %} style="fill: red;"{% endif %} transform="rotate(-90 {{ _x }},{{ _y }})">{{ _dimVText }}</text>
                                    {% endif %}
                                </g>
                            {% endfor %}
                            {% for cut in sheet.cuts %}
                                <g class="cut{% if options.highlight_primary_cuts %} cut-highlighted{% endif %}{% if cut.is_trimming %} cut-trimming{% elseif cut.is_bounding %} cut-bounding{% elseif cut.is_internal_through %} cut-internal-through{% endif %}" data-toggle="tooltip" data-html="true" title="{{ fn.cut_tooltip(cut, options) }}">
                                    <rect class="cut-outer" x="{{ cut.px_x - cutOutlineWidth }}" y="{{ cut.px_y - cutOutlineWidth }}" width="{{ (cut.is_horizontal ? cut.px_length : options.px_saw_kerf) + cutOutlineWidth * 2 }}" height="{{ (cut.is_horizontal ? options.px_saw_kerf : cut.px_length) + cutOutlineWidth * 2 }}" />
                                    <rect class="cut-inner" x="{{ cut.px_x }}" y="{{ cut.px_y }}" width="{{ cut.is_horizontal ? cut.px_length : options.px_saw_kerf }}" height="{{ cut.is_horizontal ? options.px_saw_kerf : cut.px_length }}" />
                                </g>
                            {% endfor %}
                            {% if group.material_grained %}
                                {% include 'core/_grain-direction-arrow.twig' with { 'centerX':sheet.px_length / 2, 'centerY':sheet.px_width + 20 } %}
                            {% endif %}
                        </svg>

                        {% if options.highlight_primary_cuts %}
                            <div class="col-xs-3 col-xs-offset-3 ladb-cutlist-cuttingdiagram-cuts-summary ladb-cutlist-cuttingdiagram-cuts-summary-final">
                                <div>{{ 'tab.cutlist.cuttingdiagram.list.cut_bounding_plural'|i18next }}</div>
                                {% for cut in sheet.cuts if cut.is_bounding %}
                                    <div>{{ fn.cut_position(cut, options) }}</div>
                                {% else %}
                                    <div><em>{{ 'tab.cutlist.cuttingdiagram.list.cut_none'|i18next }}</em></div>
                                {% endfor %}
                            </div>
                            <div class="col-xs-3 ladb-cutlist-cuttingdiagram-cuts-summary ladb-cutlist-cuttingdiagram-cuts-summary-through">
                                <div>{{ 'tab.cutlist.cuttingdiagram.list.cut_internal_through_plural'|i18next }}</div>
                                {% for cut in sheet.cuts if cut.is_internal_through and not cut.is_bounding %}
                                    <div>{{ fn.cut_position(cut, options) }}</div>
                                {% else %}
                                    <div><em>{{ 'tab.cutlist.cuttingdiagram.list.cut_none'|i18next }}</em></div>
                                {% endfor %}
                            </div>
                        {% endif %}

                    </td>
                </tr>
                {% if not options.hide_part_list %}
                    <tr class="table-column-heading">
                        <td rowspan="2" width="5%">{{ 'tab.cutlist.list.number'|i18next }}</td>
                        <td rowspan="2">{{ 'tab.cutlist.list.name'|i18next }}</td>
                        <td rowspan="2" width="8%">{{ 'tab.cutlist.list.count'|i18next }}</td>
                        {% if showCuttingDimensions %}
                            <td colspan="2">{{ 'tab.cutlist.list.cutting'|i18next }}</td>
                        {% endif %}
                        <td colspan="2">{{ 'tab.cutlist.list.bbox'|i18next }}</td>
                        {% if showEdges %}
                            <td colspan="4">{{ ('tab.cutlist.list.edges')|i18next }}</td>
                        {% endif %}
                        {% if showFaces %}
                            <td colspan="4">{{ ('tab.cutlist.list.faces')|i18next }}</td>
                        {% endif %}
                    </tr>
                    <tr class="table-column-heading">
                        {% if showCuttingDimensions %}
                            {% for property in dimensionColumnOrderStrategy if property != 'thickness' %}
                                <td width="8%">{{ ('tab.cutlist.list.'~property~'_short')|i18next }}</td>
                            {% endfor %}
                        {% endif %}
                        {% for property in dimensionColumnOrderStrategy if property != 'thickness' %}
                            <td width="8%">{{ ('tab.cutlist.list.'~property~'_short')|i18next }}</td>
                        {% endfor %}
                        {% if showEdges %}
                            <td data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.edge_ymin'|i18next }}"><i class="ladb-opencutlist-icon-edge-0010"></i></td>
                            <td data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.edge_ymax'|i18next }}"><i class="ladb-opencutlist-icon-edge-1000"></i></td>
                            <td data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.edge_xmin'|i18next }}"><i class="ladb-opencutlist-icon-edge-0001"></i></td>
                            <td data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.edge_xmax'|i18next }}"><i class="ladb-opencutlist-icon-edge-0100"></i></td>
                        {% endif %}
                        {% if showFaces %}
                            <td data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.face_zmax'|i18next }}"><i class="ladb-opencutlist-icon-face-10"></i></td>
                            <td data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.face_zmin'|i18next }}"><i class="ladb-opencutlist-icon-face-01"></i></td>
                        {% endif %}
                    </tr>
                    {% for part in sheet.grouped_parts %}
                        <tr class="ladb-cutlist-row ladb-minitools-holder" data-part-id="{{ part.id }}">
                            {% include 'tabs/cutlist/_list-row-col-number.twig' %}
                            <td>
                                {% if group.material_type != 6 %}   {# 6 = TYPE_VENEER #}
                                    <div class="ladb-minitools ladb-minitools-right">
                                        {% if part.thickness_layer_count > 1 %}<a href="#" class="ladb-tool-info" data-toggle="tooltip" data-html="true" title="{{ 'tab.cutlist.tooltip.thickness_layer_count'|i18next({ 'count':part.thickness_layer_count }) }}"><i class="ladb-opencutlist-icon-thickness-layers"></i></a>{% endif %}
                                        {% if part.flipped %}<a href="#" class="ladb-tool-info" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.flipped'|i18next }}"><i class="ladb-opencutlist-icon-flipped"></i></a>{% endif %}
                                        {% if part.edge_count > 0 %}<a href="#" class="ladb-tool-info" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.has_edges'|i18next({ 'count':part.edge_count }) }}"><i class="ladb-opencutlist-icon-edge-{{ part.edge_pattern }}"></i></a>{% endif %}
                                        {% if part.face_count > 0 %}<a href="#" class="ladb-tool-info" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.has_faces'|i18next({ 'count':part.face_count }) }}"><i class="ladb-opencutlist-icon-face-{{ part.face_pattern }}"></i></a>{% endif %}
                                        <span class="ladb-separator no-print"></span>
                                        <a href="#" class="ladb-btn-highlight-part ladb-click-tool no-print" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.highlight_part'|i18next }}"><i class="ladb-opencutlist-icon-magnifier"></i></a>
                                    </div>
                                {% endif %}
                                <span class="ladb-cutlist-part-name">{{ part.name|escape }}</span>
                                {% if not generateOptions.hide_descriptions and part.description is not empty %}
                                    <div class="ladb-part-description">{{ part.description|nl2br }}</div>
                                {% endif %}
                                {% if not generateOptions.hide_tags and part.tags is not empty %}
                                    <ul class="ladb-cutlist-part-tags">
                                        {% for tag in part.tags %}
                                            <li><a href="#" class="no-hover">{{ tag }}</a></li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </td>
                            <td class="text-center">{{ part.count }}</td>
                            {% if showCuttingDimensions %}
                                {% for property in dimensionColumnOrderStrategy if property != 'thickness' %}
                                    {% include 'tabs/cutlist/_list-row-col-cutting-dimension.twig' %}
                                {% endfor %}
                            {% endif %}
                            {% for property in dimensionColumnOrderStrategy if property != 'thickness' %}
                                {% include 'tabs/cutlist/_list-row-col-box-dimension.twig' %}
                            {% endfor %}
                            {% if showEdges %}
                                {% include 'tabs/cutlist/_list-row-col-edge.twig' with { 'edge':'ymin' } %}
                                {% include 'tabs/cutlist/_list-row-col-edge.twig' with { 'edge':'ymax' } %}
                                {% include 'tabs/cutlist/_list-row-col-edge.twig' with { 'edge':'xmin' } %}
                                {% include 'tabs/cutlist/_list-row-col-edge.twig' with { 'edge':'xmax' } %}
                            {% endif %}
                            {% if showFaces %}
                                {% include 'tabs/cutlist/_list-row-col-face.twig' with { 'face':'zmax' } %}
                                {% include 'tabs/cutlist/_list-row-col-face.twig' with { 'face':'zmin' } %}
                            {% endif %}
                        </tr>
                    {% endfor %}
                {% endif %}
                <tr>
                    <td colspan="{{ colspan }}">
                        <span class="ladb-horizontal-left-separator pull-right"><strong>{{ 'tab.cutlist.cuttingdiagram.list.efficiency'|i18next }} : </strong>{{ sheet.efficiency|number_format(2, capabilities.decimal_separator, ' ') }}%</span>
                        <span class="pull-right"><strong>{{ 'tab.cutlist.cuttingdiagram.list.total_cut_length'|i18next }} : </strong>{{ sheet.total_cut_length }}</span>
                        <span class="pull-left"><i class="ladb-opencutlist-icon-grained-{{ group.material_grained ? '1' : '0' }}"></i> {{ ('tab.materials.edit_material.grained_'~(group.material_grained ? '1' : '0'))|i18next }}</span>
                        {% if not options.trimming|slice(0, 1) == '0' %}<span class="ladb-horizontal-left-separator pull-left"><strong>{{ 'tab.cutlist.cuttingdiagram.list.trimming'|i18next }} : </strong>{{ options.trimming }}</span>{% endif %}
                        <span class="ladb-horizontal-left-separator pull-left">{{ ('tab.cutlist.cuttingdiagram.list.parts')|i18next({ 'count':sheet.parts|length }) }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        {% endfor %}
    </table>
{% endblock %}
