{% extends 'tabs/base-slide.twig' %}

{% set id = 'ladb_cutlist_slide_nesting_2d' %}
{% set out = true %}

{% block headerInner %}
    {{ parent() }}
    {% include 'tabs/cutlist/_header-extra.twig' %}
{% endblock %}

{% block headerHeadingInner %}
    {{ 'tab.cutlist.cuttingdiagram.title'|i18next}} <small>| {{ group.material_name|escape('html') }} / <strong>{{ group.std_dimension}}</strong></small>
{% endblock %}

{% block headerToolsInner %}
    <button id="ladb_btn_nesting" class="btn btn-primary"><i class="ladb-opencutlist-icon-refresh"></i> {{ 'tab.cutlist.menu.group_cuttingdiagram'|i18next }}...</button>
    &nbsp;
    <button id="ladb_btn_close" class="btn btn-default"><i class="ladb-opencutlist-icon-close"></i> {{ 'default.close'|i18next }}</button>
{% endblock %}

{% block containerInner %}
    {{ parent() }}
    <table class="ladb-page">
        {% for svg in svgs %}
            <div>{{ svg|raw }}</div>
        {% endfor %}
    </table>
{% endblock %}
