{% extends 'tabs/base-slide.twig' %}

{% set id = 'ladb_cutlist_slide_layout' %}
{% set out = true %}
{% set slideClasses = 'ladb-slide-fullpage print-no-header' %}

{% block headerHeadingInner %}
    {{ 'tab.cutlist.layout.title'|i18next}}{% if group and group.material_type != 0 %} {# 0 = TYPE_UNKNOW #} <small>| {{ group.material_name|escape('html') }} / <strong>{{ group.std_dimension}}</strong></small>{% endif %}
{% endblock %}

{% block headerToolsInner %}
    <button id="ladb_btn_layout" class="btn btn-primary"><i class="ladb-opencutlist-icon-refresh"></i> {{ 'tab.cutlist.layout.title'|i18next }}...</button>
    <button id="ladb_btn_print" class="btn btn-default"><i class="ladb-opencutlist-icon-print"></i> {{ 'default.print'|i18next }}</button>
    &nbsp;
    <button id="ladb_btn_close" class="btn btn-default"><i class="ladb-opencutlist-icon-close"></i> {{ 'default.close'|i18next }}</button>
{% endblock %}

{% block pageHeaderTimeUnitExtra %}<span class="ladb-horizontal-left-separator ladb-lbl-scale"></span>{% endblock %}

{% block containerFluidOuter %}
    {% include 'core/_alert-errors.twig' %}
    {% if not errors or errors|length == 0 %}
        {% embed 'components/_three-viewer.twig' with { 'viewerClasses':'ladb-three-viewer-slide-layout', 'iframeClasses':'ladb-paper-page-body' } %}

            {% macro btn_view(viewName, icon, THREE_CAMERA_VIEWS, ttPlacement = 'right') %}
                <button class="btn btn-default btn-sm" data-command="set_view" data-params="{{ { view:THREE_CAMERA_VIEWS[viewName] }|json_encode|escape('html') }}" data-toggle="tooltip" data-placement="{{ ttPlacement }}" title="{{ 'core.component.three_viewer.view'|i18next({ 'view':('core.component.three_viewer.view_'~viewName)|i18next }) }}"><i class="ladb-opencutlist-icon-{{ icon }}"></i></button>
            {% endmacro %}
            {% macro btn_zoom(zoomValue, ttLabel, btnLabel, btnLabelSize, classes) %}
                <button class="btn btn-default btn-sm{% if classes %} {{ classes }}{% endif %}" data-command="set_zoom" data-params="{{ { zoom:zoomValue }|json_encode|escape('html') }}" data-toggle="tooltip" data-placement="right" title="{{ 'core.component.three_viewer.zoom'|i18next({ 'zoom':ttLabel }) }}">{% if btnLabelSize %}<span style="font-size:{{ btnLabelSize }}px">{% endif %}{{ btnLabel }}{% if btnLabelSize %}</span>{% endif %}</button>
            {% endmacro %}

            {% import _self as fn %}

            {% block iframeOutter %}
                <div class="ladb-paper-page">
                    {% if pageHeader %}
                        <div class="ladb-paper-page-header">
                            <div class="ladb-header">
                                <div class="container-fluid">
                                    <h1 class="ladb-heading">{{ block('headerHeadingInner') }}</h1>
                                    {% include 'tabs/cutlist/_header-extra.twig' with { 'printPreview':true, 'timeUnitExtra':block('pageHeaderTimeUnitExtra') } %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {{ parent() }}
                </div>
            {% endblock %}
            {% block uiLeft %}
                {{ fn.btn_view('isometric', 'view-isometric', THREE_CAMERA_VIEWS) }}
                {{ fn.btn_view('top', 'arrow-down', THREE_CAMERA_VIEWS) }}
                <div class="ladb-flex">
                    {{ fn.btn_view('left', 'arrow-right', THREE_CAMERA_VIEWS, 'left') }}
                    {{ fn.btn_view('front', 'view-front', THREE_CAMERA_VIEWS, 'top') }}
                    {{ fn.btn_view('right', 'arrow-left', THREE_CAMERA_VIEWS) }}
                </div>
                {{ fn.btn_view('bottom', 'arrow-up', THREE_CAMERA_VIEWS) }}
                {{ fn.btn_view('back', 'view-back', THREE_CAMERA_VIEWS) }}
                <span>&nbsp;</span>
                {{ fn.btn_zoom(null, 'tab.cutlist.layout.option_camera_zoom_auto'|i18next, '<i class="ladb-opencutlist-icon-zoom-auto"></i>') }}
                {{ fn.btn_zoom(2, '2:1', '2:1', null, 'hide-lt-600h') }}
                {{ fn.btn_zoom(1, '1:1', '1:1') }}
                {{ fn.btn_zoom(0.5, '1:2', '1:2') }}
                {{ fn.btn_zoom(0.2, '1:5', '1:5') }}
                {{ fn.btn_zoom(0.1, '1:10', '1:10', 8) }}
                {{ fn.btn_zoom(0.05, '1:20', '1:20', 8, 'hide-lt-600h') }}
                {{ fn.btn_zoom(0.02, '1:50', '1:50', 8, 'hide-lt-600h') }}
            {% endblock %}
        {% endembed %}
    {% endif %}
{% endblock %}

