{% extends 'tabs/base-slide.twig' %}

{% set id = 'ladb_cutlist_slide_estimate' %}
{% set out = true %}

{% macro summary_widget(estimate, key) %}
    <div class="ladb-cutlist-estimate-summary-widget">
        <table style="width: 100%;">
            <tbody>
            <tr>
                <td style="font-size: 80%;">{{ 'tab.cutlist.estimate.total_used'|i18next }}</td>
                <td class="text-right">{{ estimate['total_used_'~key]|default('-') }}</td>
            </tr>
            <tr>
                <td style="font-size: 80%;">{{ 'tab.cutlist.estimate.total_unused'|i18next }}{% if estimate['total_unused_'~key~'_ratio'] %} <small>({{ (estimate['total_unused_'~key~'_ratio'] * 100)|number_format }}%)</small>{% endif %}</td>
                <td class="text-right">{{ estimate['total_unused_'~key]|default('-') }}</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td>{{ 'tab.cutlist.estimate.total'|i18next }}</td>
                <td class="text-right">{{ estimate['total_'~key]|default('-') }}</td>
            </tr>
            </tfoot>
        </table>
        {% if estimate['total_'~key] is not null %}
            <div class="no-print progress" style="height: 10px; margin-top: 20px;">
                {% for group in estimate.groups if group[key~'_ratio'] %}
                    <div class="progress-bar progress-bar-group-type-{{ group.type }}" style="width: {{ group[key~'_ratio'] * 100 }}%;" data-group-id="{{ group.type }}" data-toggle="tooltip" data-html="true" title="<div class='tt-header'><strong>{{ ('tab.cutlist.estimate.type_'~group.type)|i18next|capitalize }}</strong> ({{ (group[key~'_ratio'] * 100)|number_format }}%)</div><div class='tt-section'>{% if group['total_used_'~key] %}<div class='tt-section-flex'><div class='tt-section-flex-grow-1'>{{ 'tab.cutlist.estimate.total_used'|i18next }}</div><div class='tt-section-flex-grow-0'>{{ group['total_used_'~key] }}</div></div>{% endif %}{% if group['total_unused_'~key] %}<div class='tt-section-flex'><div class='tt-section-flex-grow-1'>{{ 'tab.cutlist.estimate.total_unused'|i18next }}</div><div class='tt-section-flex-grow-0'>{{ group['total_unused_'~key] }}</div></div>{% endif %}</div><div class='tt-section'><div class='tt-section-flex'><div class='tt-section-flex-grow-1'>{{ 'tab.cutlist.estimate.total'|i18next }}</div><div class='tt-section-flex-grow-0'>{{ group['total_'~key] }}</div></div></div>"></div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro group_icon(group) %}
    {% if group.type >= 0 %}
        {% include 'tabs/materials/_material-type-icon.twig' with { 'type':group.type, 'filled':true, 'classes':'pull-left' } %}
    {% else %}
        {% include 'core/_group_icon.twig' with { 'icon':'saw', 'type':-1, 'filled':true, 'classes':'pull-left' } %}
    {% endif %}
{% endmacro%}

{% macro entry_std_cell(std, value) %}
    <td class="ladb-cutlist-value ladb-cutlist-value-right"{% if std %} data-toggle="tooltip" data-html="true" title="{{ std }}{% if std and not value %}<br>{{ 'tab.cutlist.estimate.tooltip.incompatible_unit'|i18next }}{% endif %}"{% endif %}>{% if std and not value %}<div class="ladb-minitools ladb-minitools-left"><a href="#" class="ladb-tool-warning"><i class="ladb-opencutlist-icon-warning"></i></a></div>{% endif %}{{ value|default('-') }}</td>
{% endmacro %}

{% macro entry_item_std_cell(std, value) %}
    <td class="ladb-cutlist-value ladb-cutlist-value-right"{% if std %} data-toggle="tooltip" title="{{ std }}"{% endif %}>{{ value|default('-') }}</td>
{% endmacro %}

{% import _self as fn %}

{% block headerInner %}
    {{ parent() }}
    {% include 'tabs/cutlist/_header-extra.twig' %}
{% endblock %}

{% block headerHeadingInner %}
    {{ 'tab.cutlist.estimate.title'|i18next }}
{% endblock %}

{% block headerToolsInner %}
    <button id="ladb_btn_estimate" class="btn btn-primary"><i class="ladb-opencutlist-icon-refresh"></i> {{ 'default.estimate'|i18next }}...</button>
    <button id="ladb_btn_print" class="btn btn-default"><i class="ladb-opencutlist-icon-print"></i> {{ 'default.print'|i18next }}</button>
    &nbsp;
    <button class="btn btn-default" data-help-page="cutlist.report"><i class="ladb-opencutlist-icon-help"></i></button>
    <div class="btn-group">
        <button id="ladb_btn_menu" class="no-print btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ladb-opencutlist-icon-submenu"></i> <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a class="ladb-item-show-all-groups" href="#"><i class="ladb-opencutlist-icon-eye-open"></i> {{ 'tab.cutlist.menu.show_all_groups'|i18next }}</a></li>
            <li role="separator" class="divider"></li>
            <li><a id="ladb_item_expand_all" href="#"><i class="ladb-opencutlist-icon-arrow-down"></i> {{ 'tab.cutlist.menu.expand_all'|i18next }}</a></li>
            <li><a id="ladb_item_collapse_all" href="#"><i class="ladb-opencutlist-icon-arrow-up"></i> {{ 'tab.cutlist.menu.collapse_all'|i18next }}</a></li>
        </ul>
    </div>
    &nbsp;
    <button id="ladb_btn_close" class="btn btn-default"><i class="ladb-opencutlist-icon-close"></i> {{ 'default.close'|i18next }}</button>
{% endblock %}

{% block containerInner %}
    {{ parent() }}
    <div class="ladb-page">

        {% include 'core/_alert-errors.twig' with { 'errors':estimate.errors } %}
        {% include 'core/_alert-warnings.twig' with { 'warnings':estimate.warnings } %}
        {% include 'core/_alert-tips.twig' with { 'tips':estimate.tips } %}

        {% if estimate.groups|length > 0 %}
            <table data-group-id="estimate_summary" class="{% if 'estimate_summary' in estimateOptions.hidden_group_ids %}no-print {% endif %}table table-bordered ladb-cutlist-group ladb-cutlist-group-dark">
                <thead>
                <tr class="table-heading">
                    <td colspan="2">
                        <button class="no-print btn btn-default btn-sm ladb-btn-toggle-no-print pull-left" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.show_hide_block'|i18next }}"><i class="ladb-opencutlist-icon-eye-{% if groupSummaryHidden %}close{% else %}open{% endif %}"></i></button>
                        <div class="btn-group pull-right">
                            <button class="no-print btn btn-default ladb-btn-group-menu btn-sm ladb-btn-hiddable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ladb-opencutlist-icon-submenu"></i> <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="ladb-item-hide-all-other-groups"><i class="ladb-opencutlist-icon-eye-close"></i> {{ 'tab.cutlist.menu.hide_all_other_groups'|i18next }}</a></li>
                                <li><a href="#" class="ladb-item-show-all-groups"><i class="ladb-opencutlist-icon-eye-open"></i> {{ 'tab.cutlist.menu.show_all_groups'|i18next }}</a></li>
                            </ul>
                        </div>
                        <div class="ladb-heading">{{ 'tab.cutlist.list.summary'|i18next }}</div>
                    </td>
                </tr>
                <tr class="table-column-heading">
                    <td width="50%">{{ 'tab.cutlist.estimate.total_mass'|i18next }}</td>
                    <td width="50%">{{ 'tab.cutlist.estimate.total_cost'|i18next }}</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        {{ fn.summary_widget(estimate, 'mass') }}
                    </td>
                    <td>
                        {{ fn.summary_widget(estimate, 'cost') }}
                    </td>
                </tr>
                </tbody>
            </table>
        {% endif %}

        {% for group in estimate.groups %}

            {% set foldableGroup = group.type == 2 or group.type == 3 or group.type == 4 or group.type == 5 or group.type == 6 or group.type == -1 %}    {# 2 = TYPE_SHEET_GOOD, 3 = TYPE_DIMENSIONAL, 4 = TYPE_EDGE, 5 = TYPE_HARDWARE, 6 = TYPE_VENEER, -1 = TYPE_CUT #}
            {% set editableGroup = group.type == 1 or group.type == 2 or group.type == 3 or group.type == 4 or group.type == 6 or group.type == -1 %}    {# 1 = TYPE_SOLID_WOOD, 2 = TYPE_SHEET_GOOD, 3 = TYPE_DIMENSIONAL, 4 = TYPE_EDGE, 6 = TYPE_VENEER, -1 = TYPE_CUT #}

            <table data-group-id="{{ group.type }}" class="{% if group.type in estimateOptions.hidden_group_ids %}no-print {% endif %}table table-bordered ladb-cutlist-group ladb-group-type-{{ group.type }}">
                <thead>
                <tr class="table-heading">
                    <td colspan="24">
                        <button class="no-print btn btn-default btn-sm ladb-btn-toggle-no-print pull-left" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.show_hide_block'|i18next }}"><i class="ladb-opencutlist-icon-eye-{% if groupSummaryHidden %}close{% else %}open{% endif %}"></i></button>
                        {{ fn.group_icon(group) }}
                        <div class="btn-group pull-right">
                            <button class="no-print btn btn-default ladb-btn-group-menu btn-sm ladb-btn-hiddable" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ladb-opencutlist-icon-submenu"></i> <span class="caret"></span></button>
                            <ul class="dropdown-menu">
                                <li><a href="#" class="ladb-item-hide-all-other-groups"><i class="ladb-opencutlist-icon-eye-close"></i> {{ 'tab.cutlist.menu.hide_all_other_groups'|i18next }}</a></li>
                                <li><a href="#" class="ladb-item-show-all-groups"><i class="ladb-opencutlist-icon-eye-open"></i> {{ 'tab.cutlist.menu.show_all_groups'|i18next }}</a></li>
                            </ul>
                        </div>
                        <div class="ladb-heading">
                            {{ ('tab.cutlist.estimate.type_'~group.type)|i18next|capitalize }}
                        </div>
                    </td>
                </tr>
                <tr class="table-column-heading">
                    <td rowspan="2">{{ 'tab.cutlist.list.material_thickness'|i18next }}</td>
                    {% if group.type == 1 %} {# 1 = TYPE_SOLID_WOOD #}
                        <td colspan="2">{{ 'tab.cutlist.estimate.total_volume'|i18next }}</td>
                    {% elseif group.type == 2 %} {# 2 = TYPE_SHEET_GOOD #}
                        <td width="10%" rowspan="2">{{ 'tab.cutlist.estimate.total_count'|i18next }}</td>
                        <td colspan="2">{{ 'tab.cutlist.estimate.total_area'|i18next }}</td>
                    {% elseif group.type == 3 %} {# 3 = TYPE_DIMENSIONAL #}
                        <td width="10%" rowspan="2">{{ 'tab.cutlist.estimate.total_count'|i18next }}</td>
                        <td colspan="2">{{ 'tab.cutlist.estimate.total_length'|i18next }}</td>
                    {% elseif group.type == 4 %} {# 4 = TYPE_EDGE #}
                        <td width="10%" rowspan="2">{{ 'tab.cutlist.estimate.total_count'|i18next }}</td>
                        <td colspan="2">{{ 'tab.cutlist.estimate.total_length'|i18next }}</td>
                    {% elseif group.type == 5 %} {# 5 = TYPE_HARDWARE #}
                        <td width="10%" rowspan="2">{{ 'tab.cutlist.estimate.total_count'|i18next }}</td>
                        <td colspan="2">{{ 'tab.cutlist.estimate.total_instance_count'|i18next }}</td>
                    {% elseif group.type == 6 %} {# 2 = TYPE_VENEER #}
                        <td width="10%" rowspan="2">{{ 'tab.cutlist.estimate.total_count'|i18next }}</td>
                        <td colspan="2">{{ 'tab.cutlist.estimate.total_area'|i18next }}</td>
                    {% elseif group.type == -1 %} {# -1 = TYPE_CUT #}
                        <td width="10%">{{ 'tab.cutlist.estimate.total_count'|i18next }}</td>
                        <td width="10%">{{ 'tab.cutlist.estimate.total_length'|i18next }}</td>
                        <td width="10%">{{ 'tab.cutlist.estimate.total_cost'|i18next }}</td>
                    {% endif %}
                    {% if group.type >= 0 %}
                        <td colspan="2">{{ 'tab.cutlist.estimate.total_mass'|i18next }}</td>
                        <td colspan="2">{{ 'tab.cutlist.estimate.total_cost'|i18next }}</td>
                    {% endif %}
                </tr>
                {% if group.type >= 0 %}
                    <tr class="table-column-heading">
                        {% if group.type == 1 %} {# 1 = TYPE_SOLID_WOOD #}
                            <td width="8%">{{ 'tab.cutlist.estimate.total_used'|i18next }}</td>
                            <td width="8%">{{ 'tab.cutlist.estimate.total'|i18next }}</td>
                        {% elseif group.type == 2 %} {# 2 = TYPE_SHEET_GOOD #}
                            <td width="8%">{{ 'tab.cutlist.estimate.total_used'|i18next }}</td>
                            <td width="8%">{{ 'tab.cutlist.estimate.total'|i18next }}</td>
                        {% elseif group.type == 3 %} {# 3 = TYPE_DIMENSIONAL #}
                            <td width="8%">{{ 'tab.cutlist.estimate.total_used'|i18next }}</td>
                            <td width="8%">{{ 'tab.cutlist.estimate.total'|i18next }}</td>
                        {% elseif group.type == 4 %} {# 4 = TYPE_EDGE #}
                            <td width="8%">{{ 'tab.cutlist.estimate.total_used'|i18next }}</td>
                            <td width="8%">{{ 'tab.cutlist.estimate.total'|i18next }}</td>
                        {% elseif group.type == 5 %} {# 5 = TYPE_HARDWARE #}
                            <td width="8%">{{ 'tab.cutlist.estimate.total_used'|i18next }}</td>
                            <td width="8%">{{ 'tab.cutlist.estimate.total'|i18next }}</td>
                        {% elseif group.type == 6 %} {# 2 = TYPE_VENEER #}
                            <td width="8%">{{ 'tab.cutlist.estimate.total_used'|i18next }}</td>
                            <td width="8%">{{ 'tab.cutlist.estimate.total'|i18next }}</td>
                        {% endif %}
                        <td width="8%">{{ 'tab.cutlist.estimate.total_used'|i18next }}</td>
                        <td width="8%">{{ 'tab.cutlist.estimate.total'|i18next }}</td>
                        <td width="8%">{{ 'tab.cutlist.estimate.total_used'|i18next }}</td>
                        <td width="8%">{{ 'tab.cutlist.estimate.total'|i18next }}</td>
                    </tr>
                {% endif %}
                </thead>
                <tbody>
                {% for entry in group.entries %}
                    {% set foldableRow = foldableGroup and (entry.raw_estimated or entry.raw_estimated is not defined) %}
                    <tr id="ladb_entry_{{ entry.id }}" class="ladb-cutlist-row ladb-minitools-holder{% if foldableRow %} ladb-cutlist-row-folder{% endif %}" data-entry-id="{{ entry.id }}">
                        <td>
                            <div class="ladb-minitools ladb-minitools-right no-print">
                                {% if entry.errors|length > 0 %}
                                    <a href="#" class="ladb-tool-danger" data-toggle="tooltip" data-html="true" title="{{ 'tab.cutlist.estimate.error.entry_error'|i18next({ 'material_name':entry.material_display_name, 'std_dimension':entry.std_dimension, 'count':entry.errors|length }) }}"><i class="ladb-opencutlist-icon-warning"></i></a>
                                {% endif %}
                                {% if entry.raw_estimated is defined and not entry.raw_estimated %}
                                    <a href="#" class="ladb-tool-info ladb-btn-edit-material" data-material-id="{{ entry.material_id }}" data-properties-tab="estimate_options" data-toggle="tooltip" title="{{ 'tab.materials.tooltip.raw_estimated_0'|i18next }}"><i class="ladb-opencutlist-icon-raw-estimated-0"></i></a>
                                {% endif %}
                                {% if entry.multiplier_coefficient and group.type == 1 %} {# 1 = TYPE_SOLID_WOOD #}
                                    <a href="#" class="ladb-tool-info ladb-tool-text ladb-btn-edit-material" data-material-id="{{ entry.material_id }}" data-properties-tab="estimate_options" data-toggle="tooltip" title="{{ 'tab.cutlist.estimate.tooltip.multiplier_coefficient'|i18next }}">x{{ entry.multiplier_coefficient }}</a>
                                {% endif %}
                                <span class="ladb-separator"></span>
                                {% if foldableRow %}
                                    <a href="#" class="ladb-btn-folding-toggle-row ladb-click-tool" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.folding_part'|i18next }}"><i class="ladb-opencutlist-icon-arrow-{% if entry.errors|length > 0 %}up{% else %}down{% endif %}"></i></a>
                                {% endif %}
                                {% if entry.material_url is not empty %}
                                    <a href="{{ entry.material_url }}" class="ladb-btn-open-material-url" data-toggle="tooltip" title="{{ 'tab.materials.tooltip.open_url'|i18next }}"><i class="ladb-opencutlist-icon-link"></i></a>
                                {% endif %}
                                {% if foldableRow and (group.type == 2 or group.type == 6 or group.type == 3 or group.type == 4) %} {# 2 = TYPE_SOLID_WOOD, 3 = TYPE_DIMENSIONAL, 4 = TYPE_EDGE, 6 = TYPE_VENEER #}
                                    <a href="#" class="ladb-btn-packing" data-group-id="{{ entry.id }}" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.setup_group_cuttingdiagram'|i18next({ 'material_name':entry.material_display_name, 'std_dimension':entry.std_dimension }) }}..."><i class="ladb-opencutlist-icon-packing-irregular"></i></a>
                                {% endif %}
                                {% if editableGroup %}
                                    <a href="#" class="ladb-btn-edit-material" data-material-id="{{ entry.material_id }}" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.edit_material'|i18next({ 'material_name':entry.material_display_name }) }}..."><i class="ladb-opencutlist-icon-edit"></i></a>
                                {% endif %}
                            </div>
                            {% include 'tabs/cutlist/_group-label.twig' with { 'group':entry } %}
                            {% if not generateOptions.hide_descriptions and entry.material_description is not empty %}
                                <div class="ladb-material-description">{{ entry.material_description|nl2br }}</div>
                            {% endif %}
                        </td>
                        {% if group.type == 1 %} {# 1 = TYPE_SOLID_WOOD #}
                            <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ entry.total_used_volume }}</td>
                            <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ entry.total_volume }}</td>
                        {% elseif group.type == 2 or group.type == 6 %} {# 2 = TYPE_SHEET_GOOD, 6 = TYPE_VENEER #}
                            <td class="text-center">{{ entry.total_count|default('-') }}</td>
                            <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ entry.total_used_area|default('-') }}</td>
                            <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ entry.total_area|default('-') }}</td>
                        {% elseif group.type == 3 or group.type == 4 or group.type == -1 %} {# 3 = TYPE_DIMENSIONAL, 4 = TYPE_EDGE, -1 = TYPE_CUT #}
                            <td class="text-center">{{ entry.total_count|default('-') }}</td>
                            {% if group.type == 3 or group.type == 4 %} {# 3 = TYPE_DIMENSIONAL, 4 = TYPE_EDGE #}
                                <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ entry.total_used_length|default('-') }}</td>
                            {% endif %}
                            <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ entry.total_length|default('-') }}</td>
                        {% elseif group.type == 5 %} {# 5 = TYPE_HARDWARE #}
                            <td class="text-center">{{ entry.total_count }}</td>
                            <td class="text-center">{{ entry.total_used_instance_count }}</td>
                            <td class="text-center">{{ entry.total_instance_count }}</td>
                        {% endif %}
                        {% if group.type >= 0 %}
                            {{ fn.entry_std_cell(entry.std_volumic_mass, entry.total_used_mass) }}
                            {{ fn.entry_std_cell(entry.std_volumic_mass, entry.total_mass) }}
                            {{ fn.entry_std_cell(entry.std_price, entry.total_used_cost) }}
                        {% endif %}
                        {{ fn.entry_std_cell(entry.std_price, entry.total_cost) }}
                    </tr>
                    {% for error in entry.errors %}
                        <tr class="ladb-cutlist-row ladb-cutlist-row-child ladb-cutlist-row-error" data-folder-id="{{ entry.id }}">
                            <td colspan="8" style="padding-left: 40px;">{% if error is iterable %}{{ error[0]|i18next(error[1]) }}{% else %}{{ error|i18next }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                    {% if group.type == 2 or group.type == 6 %} {# 2 = TYPE_SHEET_GOOD, 6 = TYPE_VENEER #}
                        {% set binStrippedName = entry.material_stripped_name %}
                        {% for bin in entry.bins %}
                            <tr class="ladb-cutlist-row ladb-cutlist-row-child{% if entry.errors|length == 0 %} hide{% endif %}" data-folder-id="{{ entry.id }}">
                                <td style="padding-left: 40px;">{{ bin.length}} x {{ bin.width }} - <em>{{ ('tab.cutlist.packing.list.bin_2d_'~binStrippedName~'_type_'~bin.type)|i18next }}</em></td>
                                <td class="text-center">{{ bin.count }}</td>
                                <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ bin.total_used_area }}</td>
                                <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ bin.total_area }}</td>
                                {{ fn.entry_item_std_cell(bin.std_volumic_mass, bin.total_used_mass) }}
                                {{ fn.entry_item_std_cell(bin.std_volumic_mass, bin.total_mass) }}
                                {{ fn.entry_item_std_cell(bin.std_price, bin.total_used_cost) }}
                                {{ fn.entry_item_std_cell(bin.std_price, bin.total_cost) }}
                            </tr>
                        {% endfor %}
                    {% elseif group.type == 3 or group.type == 4 %} {# 3 = TYPE_DIMENSIONAL, 4 = TYPE_EDGE #}
                        {% set binStrippedName = entry.material_stripped_name %}
                        {% for bin in entry.bins %}
                            <tr class="ladb-cutlist-row ladb-cutlist-row-child{% if entry.errors|length == 0 %} hide{% endif %}" data-folder-id="{{ entry.id }}">
                                <td style="padding-left: 40px;">{{ bin.length}} - <em>{{ ('tab.cutlist.packing.list.bin_1d_'~binStrippedName~'_type_'~bin.type)|i18next }}</em></td>
                                <td class="text-center">{{ bin.count }}</td>
                                <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ bin.total_used_length }}</td>
                                <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ bin.total_length }}</td>
                                {{ fn.entry_item_std_cell(bin.std_volumic_mass, bin.total_used_mass) }}
                                {{ fn.entry_item_std_cell(bin.std_volumic_mass, bin.total_mass) }}
                                {{ fn.entry_item_std_cell(bin.std_price, bin.total_used_cost) }}
                                {{ fn.entry_item_std_cell(bin.std_price, bin.total_cost) }}
                            </tr>
                        {% endfor %}
                    {% elseif group.type == 5 %} {# 5 = TYPE_HARDWARE #}
                        {% for part in entry.parts %}
                            <tr class="ladb-cutlist-row ladb-cutlist-row-child{% if entry.errors|length == 0 %} hide{% endif %}" data-folder-id="{{ entry.id }}">
                                <td style="padding-left: 40px;">
                                    {{ part.name }}
                                    <div class="ladb-minitools ladb-minitools-right no-print">
                                        {% if part.unused_instance_count > 0 %}<a href="#" class="ladb-tool-warning" data-tab="warnings" data-toggle="tooltip" data-html="true" title="{{ 'tab.cutlist.tooltip.unused_instance_count'|i18next({ 'count':part.unused_instance_count }) }}"><i class="ladb-opencutlist-icon-missing-instance-count"></i></a>{% endif %}
                                        {% if part.instance_count_by_part > 1 %}<a href="#" class="ladb-tool-info" data-tab="infos" data-toggle="tooltip" data-html="true" title="{{ 'tab.cutlist.tooltip.instance_count_by_part'|i18next({ 'count':part.instance_count_by_part }) }}"><i class="ladb-opencutlist-icon-instance-count-by-part"></i></a>{% endif %}
                                        {% if part.flipped %}<a href="#" class="ladb-tool-info" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.flipped'|i18next }}"><i class="ladb-opencutlist-icon-flipped"></i></a>{% endif %}
                                        <span class="ladb-separator"></span>
                                        {% if part.url is not empty %}<a href="{{  part.url }}" class="ladb-btn-open-part-url" data-toggle="tooltip" data-html="true" title="{{ 'tab.cutlist.tooltip.open_part_url'|i18next }}"><i class="ladb-opencutlist-icon-link"></i></a>{% endif %}
                                        <a href="#" class="ladb-btn-highlight-part" data-part-id="{{ part.id }}" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.highlight_part'|i18next }}"><i class="ladb-opencutlist-icon-magnifier"></i></a>
                                        <a href="#" class="ladb-btn-edit-part" data-part-id="{{ part.id }}" data-toggle="tooltip" title="{{ 'tab.cutlist.tooltip.edit_part_properties'|i18next }}..."><i class="ladb-opencutlist-icon-edit"></i></a>
                                    </div>
                                </td>
                                <td class="text-center">{{ part.count }}</td>
                                <td class="text-center">{{ part.total_used_instance_count }}</td>
                                <td class="text-center"data-toggle="tooltip" data-html="true" title="{{ 'tab.cutlist.tooltip.instance_count_by_part'|i18next({ 'count':part.instance_count_by_part }) }}">{{ part.total_instance_count }}</td>
                                <td class="ladb-cutlist-value ladb-cutlist-value-right"{% if part.mass %} data-toggle="tooltip" title="{{ part.mass }}"{% endif %}>{{ part.total_used_mass|default('-') }}</td>
                                <td class="ladb-cutlist-value ladb-cutlist-value-right"{% if part.mass %} data-toggle="tooltip" title="{{ part.mass }}"{% endif %}>{{ part.total_mass|default('-') }}</td>
                                <td class="ladb-cutlist-value ladb-cutlist-value-right"{% if part.price %} data-toggle="tooltip" title="{{ part.price }}"{% endif %}>{{ part.total_used_cost|default('-') }}</td>
                                <td class="ladb-cutlist-value ladb-cutlist-value-right"{% if part.price %} data-toggle="tooltip" title="{{ part.price }}"{% endif %}>{{ part.total_cost|default('-') }}</td>
                            </tr>
                        {% endfor %}
                    {% elseif group.type == -1 %} {# -1 = TYPE_CUT #}
                        {% set binStrippedName = entry.material_stripped_name %}
                        {% for bin in entry.bins %}
                            {% if entry.material_is_1d %}
                                {% set binSize = bin.length %}
                                {% set binD = '1d' %}
                            {% else %}
                                {% set binSize = bin.length~' x '~bin.width %}
                                {% set binD = '2d' %}
                            {% endif %}
                            <tr class="ladb-cutlist-row ladb-cutlist-row-child{% if entry.errors|length == 0 %} hide{% endif %}" data-folder-id="{{ entry.id }}">
                                <td style="padding-left: 40px;">{{ binSize }} - <em>{{ ('tab.cutlist.packing.list.bin_'~binD~'_'~binStrippedName~'_type_'~bin.type)|i18next }}</em></td>
                                <td class="text-center">{{ bin.count }}</td>
                                <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ bin.total_length }}</td>
                                {{ fn.entry_item_std_cell(bin.std_price, bin.total_cost) }}
                            </tr>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <tr class="ladb-cutlist-row ladb-cutlist-row-total">
                    <td class="text-right">{{ 'tab.cutlist.estimate.total'|i18next }}</td>
                    {% if group.type == 1 %} {# 1 = TYPE_SOLID_WOOD #}
                        <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ group.total_used_volume }}</td>
                        <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ group.total_volume }}</td>
                    {% elseif group.type == 2 or group.type == 6 %} {# 2 = TYPE_SHEET_GOOD, 6 = TYPE_VENEER #}
                        <td class="text-center">{{ group.total_count|default('-') }}</td>
                        <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ group.total_used_area }}</td>
                        <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ group.total_area }}</td>
                    {% elseif group.type == 3 or group.type == 4 or group.type == -1 %} {# 3 = TYPE_DIMENSIONAL, 4 = TYPE_EDGE, -1 = TYPE_CUT #}
                        <td class="text-center">{{ group.total_count|default('-') }}</td>
                        {% if group.type == 3 or group.type == 4 %} {# 3 = TYPE_DIMENSIONAL, 4 = TYPE_EDGE #}
                            <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ group.total_used_length }}</td>
                        {% endif %}
                        <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ group.total_length }}</td>
                    {% elseif group.type == 5 %} {# 5 = TYPE_HARDWARE #}
                        <td class="text-center">{{ group.total_count }}</td>
                        <td class="text-center">{{ group.total_used_instance_count }}</td>
                        <td class="text-center">{{ group.total_instance_count }}</td>
                    {% endif %}
                    {% if group.type >= 0 %}
                        <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ group.total_used_mass|default('-') }}</td>
                        <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ group.total_mass|default('-') }}</td>
                        <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ group.total_used_cost|default('-') }}</td>
                    {% endif %}
                    <td class="ladb-cutlist-value ladb-cutlist-value-right">{{ group.total_cost|default('-') }}</td>
                </tr>
                </tbody>
            </table>
        {% endfor %}

    </div>
{% endblock %}
