{% extends 'tabs/base-slide.twig' %}

{% set id = 'ladb_cutlist_slide_packing' %}
{% set out = true %}

{% block headerInner %}
    {{ parent() }}
    {% include 'tabs/cutlist/_header-extra.twig' %}
{% endblock %}

{% block headerHeadingInner %}
    {{ 'tab.cutlist.cuttingdiagram.title'|i18next}} <small>| {{ group.material_name|escape('html') }} / <strong>{{ group.std_dimension}}</strong></small>
{% endblock %}

{% block headerToolsInner %}
    <button id="ladb_btn_packing" class="btn btn-primary"><i class="ladb-opencutlist-icon-refresh"></i> {{ 'tab.cutlist.menu.group_cuttingdiagram'|i18next }}...</button>
    &nbsp;
    <button id="ladb_btn_close" class="btn btn-default"><i class="ladb-opencutlist-icon-close"></i> {{ 'default.close'|i18next }}</button>
{% endblock %}

{% block containerInner %}
    {{ parent() }}
    <table class="ladb-page">

        {% include 'core/_alert-errors.twig' %}

        {% if summary is defined %}
            <table id="ladb_cuttingdiagram_summary" data-group-id="cuttingdiagram_summary" class="{% if 'cuttingdiagram_summary' in generateOptions.hidden_group_ids %}no-print {% endif %}table table-bordered ladb-cutlist-group ladb-cutlist-group-dark ladb-cutlist-group-summary">
                <thead>
                <tr class="table-heading">
                    <td colspan="6">
                        <button class="no-print btn btn-default btn-sm ladb-btn-toggle-no-print pull-left"><i class="ladb-opencutlist-icon-eye-close"></i></button>
                        <div class="ladb-heading">{{ 'tab.cutlist.cuttingdiagram.list.summary'|i18next }}</div>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td colspan="6">
                        <small>
                            <div class="row">
                                <div class="col-xs-6">
                                    <span style="margin-left: 10px;">{{ 'tab.cutlist.cuttingdiagram.list.stats'|i18next }}</span>
                                    <ul>
                                        <li><strong>time : </strong>{{ summary.time|number_format(3, capabilities.decimal_separator, ' ') }}s</li>
                                        <li><strong>number_of_bins : </strong>{{ summary.number_of_bins }}</li>
                                        <li><strong>number_of_different_bins : </strong>{{ summary.number_of_different_bins }}</li>
                                        <li><strong>number_of_items : </strong>{{ summary.number_of_items }}</li>
                                    </ul>
                                </div>
                                <div class="col-xs-6">
                                    <span style="margin-left: 10px;">&nbsp;</span>
                                    <ul>
                                        <li><strong>cost : </strong>{{ summary.cost|number_format(2, capabilities.decimal_separator, ' ') }}</li>
                                        <li><strong>profit : </strong>{{ summary.profit|number_format(2, capabilities.decimal_separator, ' ') }}</li>
                                        <li><strong>efficiency : </strong>{{ (summary.efficiency * 100)|number_format(2, capabilities.decimal_separator, ' ') }}%</li>
                                    </ul>
                                </div>
                            </div>
                        </small>
                    </td>
                </tr>
                </tbody>
            </table>
        {% endif %}

        {% set binIndex = 1 %}
        {% set binStrippedname = 'good' %}
        {% for bin in bins %}
            <table id="ladb_cuttingdiagram_group_{{ bin.type_id }}" data-group-id="{{ group.id }}_{{ bin.type_id }}" data-bin-index="{{ loop.index }}" class="table table-bordered ladb-cutlist-group ladb-cutlist-packing-group">
                <thead>
                <tr class="table-heading">
                    <td colspan="{{ colspan }}">
                        <button class="no-print btn btn-default btn-sm ladb-btn-toggle-no-print pull-left"><i class="ladb-opencutlist-icon-eye-close"></i></button>
                        {% if bin|length > 1 %}
                            <div class="no-print btn-group pull-right" role="group">
                                <button class="btn btn-default btn-sm ladb-btn-scrollto-prev-group" {% if loop.first %}disabled{% endif %}><i class="ladb-opencutlist-icon-chevron-left"></i></button>
                                <button class="btn btn-default btn-sm ladb-btn-scrollto-next-group" {% if loop.last %}disabled{% endif %}><i class="ladb-opencutlist-icon-chevron-right"></i></button>
                            </div>
                        {% endif %}
                        <div class="ladb-heading pull-right" style="margin-right: 10px;"><strong>{{ binIndex }}{% if bin.copies > 1 %} ... {{ binIndex + bin.copies - 1 }}{% endif%} / {{ summary.number_of_bins }}</strong></div>
                        {% set binIndex = binIndex + bin.copies %}
                        {% if bin.copies > 1 %}
                            <div class="ladb-heading-count pull-right">x&nbsp;{{ bin.copies }}</div>
                        {% endif %}
                        <div class="ladb-heading"><i class="ladb-opencutlist-icon-material-type-{{ group.material_type }}"></i>{% if not generateOptions.hide_material_colors %} {% include 'tabs/materials/_material-color-drop.twig' with { 'material_color':group.material_color } %}{% endif %} {{ group.material_name|escape('html') }} / <strong>{{ group.std_dimension }}</strong> - <i class="ladb-opencutlist-icon-size-length"></i> <em>{{ bin.length }}</em> - <span style="padding: 2px 5px; border: 1px solid #000; font-size: 80%;">{{ ('tab.cutlist.cuttingdiagram.list.sheet_'~binStrippedname~'_type_'~bin.type)|i18next }}</span></div>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ bin.svg|raw }}</td>
                </tr>
                <tr>
                    <td colspan="{{ colspan }}">
                        <span class="ladb-horizontal-left-separator pull-right"><strong>{{ 'tab.cutlist.cuttingdiagram.list.efficiency'|i18next }} : </strong>{{ (bin.efficiency * 100)|number_format(2, capabilities.decimal_separator, ' ') }}%</span>
                        <span class="pull-left"><i class="ladb-opencutlist-icon-grained-{{ group.material_grained ? '1' : '0' }}"></i> {{ ('tab.materials.edit_material.grained_'~(group.material_grained ? '1' : '0'))|i18next }}</span>
{#                        {% if not options.trimming|slice(0, 1) == '0' %}<span class="ladb-horizontal-left-separator pull-left"><strong>{{ 'tab.cutlist.cuttingdiagram.list.trimming'|i18next }} : </strong>{{ options.trimming }}</span>{% endif %}#}
                        <span class="ladb-horizontal-left-separator pull-left">{{ ('tab.cutlist.cuttingdiagram.list.parts')|i18next({ 'count':bin.items|length }) }}</span>
                    </td>
                </tr>
                </tbody>
            </table>
        {% endfor %}

    </table>
{% endblock %}
