{% extends 'tabs/base-slide.twig' %}

{% set id = 'ladb_cutlist_slide_labels' %}
{% set out = true %}
{% set noPrintHeader = true %}

{% block headerInner %}
    {{ parent() }}
    <ul class="ladb-file-tabs nav nav-tabs">
        {% include 'tabs/cutlist/_file-tab.twig' with { 'generatedAt':'000' } %}
    </ul>
{% endblock %}

{% block headerHeadingInner %}
    {{ 'tab.cutlist.labels.label'|i18next}} <small>| {{ group.material_name|escape('html') }} / <strong>{{ group.std_dimension}}</strong></small>
{% endblock %}

{% block headerToolsInner %}
    <button id="ladb_btn_labels" class="btn btn-primary"><i class="ladb-opencutlist-icon-refresh"></i> {{ 'tab.cutlist.labels.title'|i18next }}...</button>
    <button id="ladb_btn_print" class="btn btn-default"><i class="ladb-opencutlist-icon-print"></i> {{ 'default.print'|i18next }}</button>
    <button id="ladb_btn_close" class="btn btn-default"><i class="ladb-opencutlist-icon-close"></i> {{ 'default.close'|i18next }}</button>
{% endblock %}

{% set gridWidth = page_width - margin_left - margin_right %}
{% set gridHeight = page_height - margin_top - margin_bottom %}
{% set labelWidth = gridWidth / col_count %}
{% set labelHeight = gridHeight / row_count %}
{% set minDimension = min(labelWidth, labelHeight) %}
{% set xUnit = labelWidth / 12 %}
{% set yUnit = labelHeight / 12 %}
{% set minUnit = min(xUnit, yUnit) %}
{% set strokeWidth = 0.01 %}

{% block containerInner %}
    {{ parent() }}
    <div class="ladb-page">
        {% for page in pages %}
            <table id="ladb_cuttingdiagram_group_label_page_{{ loop.index }}" data-page-index="{{ loop.index }}" class="table table-bordered ladb-cutlist-group ladb-cuttingdiagram-labels-group">
                <thead class="no-print">
                <tr>
                    <td>
                        <button class="no-print btn btn-default btn-sm ladb-btn-toggle-no-print pull-left"><i class="ladb-opencutlist-icon-eye-close"></i></button>
                        <div class="ladb-heading pull-right" style="margin-right: 10px;"><strong>{{ loop.index }} / {{ pages|length }}</strong></div>
                    </td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center">

                        {% set partCount = page.part_infos|length %}

                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 {{ page_width }} {{ page_height }}" width="80%">

                            <g transform="translate({{ margin_left }} {{ margin_top }})">

                                {# page grid #}
                                {% if margin_top > 0 or margin_bottom > 0 or row_count > 1 %}
                                    {% for row in (margin_top > 0 ? 0 : 1)..(margin_bottom > 0 ? row_count : row_count - 1) %}
                                        <line class="grid-line no-print" x1="0" y1="{{ row * labelHeight }}" x2="{{ gridWidth }}" y2="{{ row * labelHeight }}" stroke-width="{{ strokeWidth }}" stroke-dasharray="{{ strokeWidth }} {{ strokeWidth }}" />
                                    {% endfor %}
                                {% endif %}
                                {% if margin_left > 0 or margin_right > 0 or col_count > 1 %}
                                    {% for col in (margin_left > 0 ? 0 : 1)..(margin_right > 0 ? col_count : col_count - 1) %}
                                        <line class="grid-line no-print" x1="{{ col * labelWidth }}" y1="0" x2="{{ col * labelWidth }}" y2="{{ gridHeight }}" stroke-width="{{ strokeWidth }}" stroke-dasharray="{{ strokeWidth }} {{ strokeWidth }}" />
                                    {% endfor %}
                                {% endif %}

                                {% for row in 0..row_count-1 %}
                                    {% set labelY = row * labelHeight %}
                                    {% for col in 0..col_count-1 %}
                                        {% set labelX = col * labelWidth %}
                                        {% set partIndex = row * col_count + col %}
                                        {% if partIndex < partCount %}
                                            {% set part_info = page.part_infos[partIndex] %}
                                            <g transform="translate({{ labelX }} {{ labelY }})">
                                                {% for elementDef in layout %}
                                                    <g transform="translate({{ xUnit * elementDef.x }} {{ yUnit * elementDef.y }})">
                                                        {% include 'tabs/cutlist/_label-element.twig' %}
                                                    </g>
                                                {% endfor %}
                                            </g>
                                        {% endif %}

                                        {% if cutting_marks %}
                                            {% if margin_top > 0 or row > 0 %}
                                                <line class="grid-line" x1="{{ labelX }}" y1="{{ labelY }}" x2="{{ labelX + minUnit }}" y2="{{ labelY }}" stroke-width="{{ strokeWidth }}" />
                                                <line class="grid-line" x1="{{ labelX + labelWidth }}" y1="{{ labelY }}" x2="{{ labelX + labelWidth - minUnit }}" y2="{{ labelY }}" stroke-width="{{ strokeWidth }}" />
                                            {% endif %}
                                            {% if margin_bottom > 0 and row == row_count - 1 %}
                                                <line class="grid-line" x1="{{ labelX }}" y1="{{ labelY + labelHeight }}" x2="{{ labelX + minUnit }}" y2="{{ labelY + labelHeight }}" stroke-width="{{ strokeWidth }}" />
                                                <line class="grid-line" x1="{{ labelX + labelWidth }}" y1="{{ labelY + labelHeight }}" x2="{{ labelX + labelWidth - minUnit }}" y2="{{ labelY + labelHeight }}" stroke-width="{{ strokeWidth }}" />
                                            {% endif %}
                                            {% if margin_left > 0 or col > 0 %}
                                                <line class="grid-line" x1="{{ labelX }}" y1="{{ labelY }}" x2="{{ labelX }}" y2="{{ labelY + minUnit }}" stroke-width="{{ strokeWidth }}" />
                                                <line class="grid-line" x1="{{ labelX }}" y1="{{ labelY + labelHeight }}" x2="{{ labelX }}" y2="{{ labelY + labelHeight - minUnit }}" stroke-width="{{ strokeWidth }}" />
                                            {% endif %}
                                            {% if margin_right > 0 and col == col_count - 1 %}
                                                <line class="grid-line" x1="{{ labelX + labelWidth }}" y1="{{ labelY }}" x2="{{ labelX + labelWidth }}" y2="{{ labelY + minUnit }}" stroke-width="{{ strokeWidth }}" />
                                                <line class="grid-line" x1="{{ labelX + labelWidth }}" y1="{{ labelY + labelHeight }}" x2="{{ labelX + labelWidth }}" y2="{{ labelY + labelHeight - minUnit }}" stroke-width="{{ strokeWidth }}" />
                                            {% endif %}
                                        {% endif %}

                                    {% endfor %}
                                {% endfor %}

                            </g>

                        </svg>

                    </td>
                </tr>
                </tbody>
            </table>
        {% endfor %}
    </div>
{% endblock %}
