{% extends 'tabs/base-slide.twig' %}

{% set id = 'ladb_cutlist_slide_export' %}
{% set out = true %}
{% set slideClasses = 'ladb-overflow-x-auto' %}

{% set colDefs = [] %}
{% for colDef in source_col_defs[source] %}
    {% if not colDef.hidden %}{% set colDefs = colDefs|merge([ colDef ]) %}{% endif %}
{% endfor %}

{% block headerInner %}
    {{ parent() }}
    {% include 'tabs/cutlist/_header-extra.twig' %}
{% endblock %}

{% block headerHeadingInner %}
    {{ 'tab.cutlist.export.title'|i18next}}<small class="ladb-horizontal-left-separator">{{ ('tab.cutlist.export.option_source_'~(source == 0 ? 'summary' : (source == 1 ? 'cutlist' : 'instances_list')))|i18next }}{# EXPORT_OPTION_SOURCE_SUMMARY, EXPORT_OPTION_SOURCE_CUTLIST #}</small>
{% endblock %}

{% block headerToolsInner %}
    <button id="ladb_btn_export" class="btn btn-primary"><i class="ladb-opencutlist-icon-refresh"></i> {{ 'default.export'|i18next }}...</button>
    <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="ladb-opencutlist-icon-copy"></i> {{ 'default.copy'|i18next }} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a id="ladb_item_copy_all" href="#">{{ 'tab.cutlist.export.copy_all'|i18next }}</a></li>
            <li><a id="ladb_item_copy_values" href="#">{{ 'tab.cutlist.export.copy_values'|i18next }}</a></li>
        </ul>
    </div>
    &nbsp;
    <button class="btn btn-default" data-help-page="cutlist.export"><i class="ladb-opencutlist-icon-help"></i></button>
    &nbsp;
    <button id="ladb_btn_close" class="btn btn-default"><i class="ladb-opencutlist-icon-close"></i> {{ 'default.close'|i18next }}</button>
{% endblock %}

{% block containerInner %}
    {{ parent() }}
    <div class="ladb-page">

        <table class="table table-bordered ladb-table-spreadsheet">
            <thead>
                <tr>
                    <th class="no-print ladb-table-spreadsheet-cell ladb-table-spreadsheet-cell-header-col ladb-table-spreadsheet-cell-header-row" width="1">&nbsp;</th>
                    {% for col in rows[0] %}
                        <th class="ladb-table-spreadsheet-cell ladb-table-spreadsheet-cell-header-col">{{ col }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows|slice(1) %}
                    <tr>
                        <th class="no-print ladb-table-spreadsheet-cell ladb-table-spreadsheet-cell-header-row">{{ loop.index }}</th>
                        {% for col in row %}
                            {% set colDef = colDefs[loop.index0] %}
                            <td class="ladb-table-spreadsheet-cell{% if col and col.error %} ladb-invalid-value{% endif %}{% if col.error is not defined %}{% if colDef.align == 'center' %} text-center{% elseif colDef.align == 'right' %} text-right{% endif %}{% endif %}">{% if col and col.error %}<i class="ladb-opencutlist-icon-warning"></i>&nbsp;{{ col.error }}{% else %}{{ col|nl2br }}{% endif %}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
