{% extends 'tabs/base-tab.twig' %}

{% block id %}{% endblock %}

{% block headerToolsInner %}
    {{ parent() }}
    <button id="ladb_btn_generate" class="btn btn-primary"><i class="ladb-opencutlist-icon-refresh"></i> {{ 'default.generate'|i18next }}</button>
    <button id="ladb_btn_print" class="btn btn-default" disabled><i class="ladb-opencutlist-icon-print"></i> {{ 'default.print'|i18next }}</button>
    <button id="ladb_btn_export" class="btn btn-default" disabled><i class="ladb-opencutlist-icon-export"></i> {{ 'default.export'|i18next }}</button>
    <button id="ladb_btn_report" class="btn btn-default{# btn-sponsored#}" disabled><i class="ladb-opencutlist-icon-report"></i> {{ 'tab.cutlist.report.title'|i18next }}</button>
    <button id="ladb_btn_options" class="btn btn-default"><i class="ladb-opencutlist-icon-settings"></i> {{ 'default.options'|i18next }}</a></button>
    <div class="btn-group">
        <button id="ladb_btn_menu" class="no-print btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ladb-opencutlist-icon-submenu"></i> <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="disabled"><a id="ladb_item_highlight_all_parts" href="#"><i class="ladb-opencutlist-icon-magnifier"></i> {{ 'tab.cutlist.menu.highlight_parts'|i18next }}</a></li>
            <li role="separator" class="divider"></li>
            <li class="disabled"><a id="ladb_item_show_all_groups" href="#"><i class="ladb-opencutlist-icon-eye-open"></i> {{ 'tab.cutlist.menu.show_all_groups'|i18next }}</a></li>
            <li role="separator" class="divider"></li>
            <li class="disabled"><a id="ladb_item_numbers_save" href="#"><i class="ladb-opencutlist-icon-save"></i> {{ 'tab.cutlist.menu.numbers_save'|i18next }}</a></li>
            <li class="disabled"><a id="ladb_item_numbers_reset" href="#"><i class="ladb-opencutlist-icon-refresh"></i> {{ 'tab.cutlist.menu.numbers_reset'|i18next }}</a></li>
            <li role="separator" class="divider"></li>
            <li class="disabled"><a id="ladb_item_expand_all" href="#"><i class="ladb-opencutlist-icon-arrow-down"></i> {{ 'tab.cutlist.menu.expand_all'|i18next }}</a></li>
            <li class="disabled"><a id="ladb_item_collapse_all" href="#"><i class="ladb-opencutlist-icon-arrow-up"></i> {{ 'tab.cutlist.menu.collapse_all'|i18next }}</a></li>
        </ul>
    </div>
{% endblock %}

{% block headerInner %}
    {{ parent() }}
    <div class="ladb-header-extra"></div>
{% endblock %}

{% block containerInner %}
    {% include 'tabs/cutlist/_panel-help.twig' with { 'classes':'no-print' } %}
    {{ parent() }}
    <div class="ladb-page"></div>
{% endblock %}