<div class="row">
    {% for tutorial in tutorials %}
        <div id="ladb_tutorial_{{ loop.index0 }}" class="col-md-4 col-sm-6 col-xs-12">
            <div class="ladb-tutorial-box" data-tutorial-id="{{ loop.index0 }}">
                <div class="ladb-content">
                    <div class="ladb-image">
                        <img src="https://img.youtube.com/vi/{{ tutorial.video_id }}/hqdefault.jpg" width="100%">
                        <div class="ladb-flag">{{ tutorial.locale|upper }}</div>
                    </div>
                    <div class="ladb-footer">
                        <div class="media">
                            <div class="media-body">
                                <div class="ladb-tutorial-title" style="font-weight: bold">{{ tutorial.title }}</div>
                                {% include 'tabs/tutorials/_author.twig' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>