<!DOCTYPE html>
<html>
  <head>
    <style>
      body {
        margin: 20px;
        font-size: 12px;
        font-family: Calibri, Verdana;
      }
      canvas {
        margin: 10px 0;
        border: 1px solid #000;
      }
      .sheet {
        page-break-after: always;
      }
      .sheet .heading {
        font-size: 14px;
      }
>    </style>
  </head>
  <body>

  <% bins.each do |bin| %>
  <div class="sheet">
    <div class="heading"><%= bin.title %></div>
    <canvas id="<%= bin.index %>_canvas" width="<%= zoom(bin.length) %>" height="<%= zoom(bin.width) %>" style="width: 100%; max-height: 700px; max-width: <%= ((bin.length / bin.width) * 700).to_i %>px;"></canvas>
    <script>

      var colored = false;
      <% orientedDimensions = true %>

      var trimmingColor = '#d3d3d3';
      var primaryCutColor = colored ? '#f77f00' : '#000';
      var secondaryCutColor = colored ? '#007ff7' : '#000';
      var boxColor = colored ? '#eee' : '#fff';
      var leftoverFillColor = '#fff';
      var leftoverStrokeColor = '#888';

      var c = document.getElementById("<%= bin.index %>_canvas");
      var ctx = c.getContext("2d");

      ctx.fillStyle = trimmingColor;
      ctx.fillRect(0, 0, <%= zoom(bin.length + 2*bin.cleancut) %>, <%= zoom(bin.width + 2*bin.cleancut) %>);

      <% bin.boxes.each do |box| %>
        ctx.fillStyle = boxColor;
        ctx.fillRect(<%= zoom(box.x) %>, <%= zoom(box.y) %>, <%= zoom(box.length) %>, <%= zoom(box.width) %>);
        ctx.fillStyle = "#000";
        ctx.font = "50px Arial";
        ctx.textAlign = "center";
        <% if box.rotated %>
          ctx.save();
          ctx.translate(<%= zoom(box.x + box.length / 2) + 25 %>, <%= zoom(box.y + box.width / 2) %>);
          ctx.rotate(-Math.PI / 2);
          ctx.fillText("<%= box.number %>", 0, 0);
          ctx.restore();
        <% else %>
          ctx.fillText("<%= box.number %>", <%= zoom(box.x + box.length / 2) %>, <%= zoom(box.y + box.width / 2) + 25 %>);
        <% end %>
        ctx.font = "30px Arial";
        <% if orientedDimensions %>
          ctx.textAlign = "center";
          ctx.fillText("<%= zoom(box.length) %>", <%= zoom(box.x + box.length / 2) %>, <%= zoom(box.y) + 30 %>);
          ctx.save();
          ctx.translate(<%= zoom(box.x) + 30 %>, <%= zoom(box.y + box.width / 2) %>);
          ctx.rotate(-Math.PI / 2);
          ctx.fillText("<%= zoom(box.width) %>", 0, 0);
          ctx.restore();
        <% else %>
          ctx.textAlign = "left";
          ctx.fillText("<%= box.label %>", <%= zoom(box.x) + 5 %>, <%= zoom(box.y) + 35 %>);
        <% end %>
      <% end %>

      <% bin.leftovers.each do |box| %>
        ctx.fillStyle = leftoverFillColor;
        ctx.fillRect(<%= zoom(box.x) %>, <%= zoom(box.y) %>, <%= zoom(box.length) %>, <%= zoom(box.width) %>);
        ctx.lineWidth = 2;
        ctx.strokeStyle = leftoverStrokeColor;
        ctx.beginPath();
        ctx.moveTo(<%= zoom(box.x) %>, <%= zoom(box.y) %>);
        ctx.lineTo(<%= zoom(box.x + box.length) %>, <%= zoom(box.y + box.width) %>);
        ctx.moveTo(<%= zoom(box.x + box.length) %>, <%= zoom(box.y) %>);
        ctx.lineTo(<%= zoom(box.x) %>, <%= zoom(box.y + box.width) %>);
        ctx.stroke();
        ctx.fillStyle = leftoverStrokeColor;
        ctx.font = "30px Arial";
        <% if orientedDimensions %>
          ctx.textAlign = "center";
          ctx.fillText("<%= zoom(box.length) %>", <%= zoom(box.x + box.length / 2) %>, <%= zoom(box.y) + 30 %>);
          ctx.save();
          ctx.translate(<%= zoom(box.x) + 30 %>, <%= zoom(box.y + box.width / 2) %>);
          ctx.rotate(-Math.PI / 2);
          ctx.fillText("<%= zoom(box.width) %>", 0, 0);
          ctx.restore();
        <% else %>
          ctx.textAlign = "center";
          ctx.fillText("<%= box.label %>", <%= zoom(box.x + box.length / 2) %>, <%= zoom(box.y + box.width) - 10 %>);
        <% end %>
      <% end %>

      <% bin.cuts.each do |cut| %>
        <% if cut.primary %>
          ctx.fillStyle = primaryCutColor;
        <% else %>
          ctx.fillStyle = secondaryCutColor;
        <% end %>
        <% if cut.horizontal then %>
          ctx.fillRect(<%= zoom(cut.x) %>, <%= zoom(cut.y) %>, <%= zoom(cut.length) %>, <%= zoom(kerf) %>);
        <% else %>
          ctx.fillRect(<%= zoom(cut.x) %>, <%= zoom(cut.y) %>, <%= zoom(kerf) %>, <%= zoom(cut.length) %>);
        <% end %>
      <% end %>

    </script>
  </div>
  <% end %>
  </body>
</html>
