<div>
  <!-- <%= options %> -->
  <% if unplaced_boxes.length() > 0 %>
    <h3>Parts too large to fit on one single sheet</h3>
  <% end %>
  <% unplaced_boxes.each do |box| %>
    <pre>
    <%= box.number[:number] %> <%= box.number[:name] %>, <%= box.number[:raw_length] %> x <%= box.number[:raw_width] %>
    </pre>
  <% end %>
  <% 
     if bins.length() > 0 && bins[0].boxes.length() > 0 then
     i = 0
     total = bins.length()
     bins.each do |bin| 
       i = i+1 %>
  <div class="ladb-cuttingdiagram-group">

    <table id="ladb_cuttingdiagram_group_<%= i %>" class="table table-bordered ladb-cutlist-group" data-group-id="<%= i %>">
      <thead>
      <tr>
        <td>
          <button class="no-print btn btn-default btn-sm ladb-btn-toggle-no-print pull-left"><i class="ladb-opencutlist-icon-eye-close"></i></button>
          <div>
            <span class="ladb-heading"><i class="ladb-opencutlist-icon-sheet-good"></i> <%= group[:material_name] %> / <strong><%= group[:std_dimension] %></strong> - <em><%= dim(bin.length) %> x <%= dim(bin.width) %></em></span>
            <div class="no-print btn-group pull-right" role="group">
              <button class="btn btn-default btn-sm ladb-btn-scrollto-prev-group" <% if i == 1 %>disabled<% end %>><i class="ladb-opencutlist-icon-chevron-left"></i></button>
              <button class="btn btn-default btn-sm ladb-btn-scrollto-next-group" <% if i == total %>disabled<% end %>><i class="ladb-opencutlist-icon-chevron-right"></i></button>
            </div>
            <span class="ladb-heading pull-right" style="margin-right: 10px;"><strong><%= i %> / <%= total %></strong></span>
          </div>
        </td>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>

    <% sheetDimensionFontSize = 18 %>
    <% dimensionFontSize = 13 %>
    <% numberFontSize = 26 %>

    <% dimensionOffset = 3 %>
    <% sheetDimensionOffset = 10 %>

    <% sheetOutlineWidth = 1 %>
    <% boxOutlineWidth = 2 %>
    <% cutOutlineWidth = 2 %>

    <svg viewBox="-<%= sheetOutlineWidth + sheetDimensionOffset + sheetDimensionFontSize %> -<%= sheetOutlineWidth + sheetDimensionOffset + sheetDimensionFontSize %> <%= zoom(bin.length) + (sheetOutlineWidth + sheetDimensionOffset + sheetDimensionFontSize) * 2 %> <%= zoom(bin.width) + (sheetOutlineWidth + sheetDimensionOffset + sheetDimensionFontSize) * 2 %>" style="max-height: <%= zoom(bin.width) + sheetOutlineWidth * 2 + sheetDimensionOffset + sheetDimensionFontSize %>px">
      <text class="sheet-dimension" x="<%= zoom(bin.length / 2) %>" y="-<%= sheetOutlineWidth + sheetDimensionOffset %>" font-size="<%= sheetDimensionFontSize %>px" text-anchor="middle" dominant-baseline="alphabetic"><%= dim(bin.length) %></text>
      <text class="sheet-dimension" x="-<%= sheetOutlineWidth + sheetDimensionOffset %>" y="<%= zoom(bin.width / 2) %>" font-size="<%= sheetDimensionFontSize %>px" text-anchor="middle" dominant-baseline="alphabetic" transform="rotate(-90 <%= -sheetDimensionOffset  %>,<%= zoom(bin.width / 2) %>)"><%= dim(bin.width) %></text>
      <g class="sheet">
        <rect class="sheet-outer" x="-1" y="-1" width="<%= zoom(bin.length) + 2 %>" height="<%= zoom(bin.width) + 2 %>"></rect>
        <rect class="sheet-inner" x="0" y="0" width="<%= zoom(bin.length) %>" height="<%= zoom(bin.width) %>"></rect>
      </g>
      <% bin.boxes.each do |box| %>
        <g class="box">
          <rect class="box-outer" x="<%= zoom(box.x) %>" y="<%= zoom(box.y) %>" width="<%= zoom(box.length) %>" height="<%= zoom(box.width) %>"></rect>
          <rect class="box-inner" x="<%= zoom(box.x) + boxOutlineWidth %>" y="<%= zoom(box.y) + boxOutlineWidth %>" width="<%= zoom(box.length) - boxOutlineWidth * 2 %>" height="<%= zoom(box.width) - boxOutlineWidth * 2 %>"></rect>
          <text class="box-number" x="<%= zoom(box.x + box.length / 2) %>" y="<%= zoom(box.y + box.width / 2) %>" font-size="<%= [numberFontSize, zoom(box.length), zoom(box.width)].min  %>px" text-anchor="middle" dominant-baseline="central"<% if box.rotated %> transform="rotate(-90 <%= zoom(box.x + box.length / 2) %>,<%= zoom(box.y + box.width / 2) %>)"<% end %>><%= box.number[:number] %></text>
          <% centredLength = zoom(box.width) > (dimensionOffset + dimensionFontSize + numberFontSize) %>
          <% centredWidth = zoom(box.length) > (dimensionOffset + dimensionFontSize + numberFontSize) %>
          <text class="box-dimension" x="<%= centredLength ? zoom(box.x + box.length / 2) : zoom(box.x) + boxOutlineWidth + dimensionOffset + dimensionFontSize + dimensionOffset %>" y="<%= zoom(box.y) + boxOutlineWidth + dimensionOffset %>" font-size="<%= dimensionFontSize %>px" text-anchor="<% if centredLength %>middle<% else %>start<% end %>" dominant-baseline="hanging"><%= dim(box.length) %></text>
          <text class="box-dimension" x="<%= zoom(box.x) + boxOutlineWidth + dimensionOffset %>" y="<%= centredWidth ? zoom(box.y + box.width / 2) : zoom(box.y) + boxOutlineWidth + dimensionOffset + dimensionFontSize + dimensionOffset %>" font-size="<%= dimensionFontSize %>px" text-anchor="<% if centredWidth %>middle<% else %>end<% end %>" dominant-baseline="hanging" transform="rotate(-90 <%= zoom(box.x) + boxOutlineWidth + dimensionOffset %>,<%= centredWidth ? zoom(box.y + box.width / 2) : zoom(box.y) + boxOutlineWidth + dimensionOffset + dimensionFontSize + dimensionOffset %>)"><%= dim(box.width) %></text>
        </g>
      <% end %>
      <% bin.leftovers.each do |leftover| %>
        <% hideCross = zoom(leftover.length) < dimensionFontSize || zoom(leftover.width) < dimensionFontSize %>
        <% hideDimensions = zoom(leftover.length) < (dimensionFontSize + dimensionOffset) || zoom(leftover.width) < (dimensionFontSize + dimensionOffset) %>
        <g class="leftover">
          <rect class="leftover-inner" x="<%= zoom(leftover.x) %>" y="<%= zoom(leftover.y) %>" width="<%= zoom(leftover.length) %>" height="<%= zoom(leftover.width) %>"></rect>
          <% unless hideCross %>
            <line class="leftover-cross" x1="<%= zoom(leftover.x + leftover.length) %>" y1="<%= zoom(leftover.y) %>" x2="<%= zoom(leftover.x) %>" y2="<%= zoom(leftover.y + leftover.width) %>"></line>
          <% end %>
          <% unless hideCross %>
            <line class="leftover-cross" x1="<%= zoom(leftover.x) %>" y1="<%= zoom(leftover.y) %>" x2="<%= zoom(leftover.x + leftover.length) %>" y2="<%= zoom(leftover.y + leftover.width) %>"></line>
          <% end %>
          <% unless hideDimensions %>
            <text class="leftover-dimension" x="<%= zoom(leftover.x + leftover.length / 2) %>" y="<%= zoom(leftover.y) + dimensionOffset %>" font-size="<%= dimensionFontSize %>px" text-anchor="middle" dominant-baseline="hanging"><%= dim(leftover.length) %></text>
            <text class="leftover-dimension" x="<%= zoom(leftover.x) + dimensionOffset %>" y="<%= zoom(leftover.y + leftover.width / 2) %>" font-size="<%= dimensionFontSize %>px" text-anchor="middle" dominant-baseline="hanging" transform="rotate(-90 <%= zoom(leftover.x) + dimensionOffset %>,<%= zoom(leftover.y + leftover.width / 2) %>)"><%= dim(leftover.width) %></text>
          <% end %>
        </g>
      <% end %>
      <% bin.cuts.each do |cut| %>
        <g class="cut <%= cut.is_primary ? 'primary' : 'secondary' %>">
          <rect class="cut-outer" x="<%= zoom(cut.x) - cutOutlineWidth %>" y="<%= zoom(cut.y) - cutOutlineWidth %>" width="<%= (cut.is_horizontal ? zoom(cut.length) : zoom(options[:kerf])) + cutOutlineWidth * 2 %>" height="<%= (cut.is_horizontal ? zoom(options[:kerf]) : zoom(cut.length)) + cutOutlineWidth * 2 %>"></rect>
          <rect class="cut-inner" x="<%= zoom(cut.x) %>" y="<%= zoom(cut.y) %>" width="<%= cut.is_horizontal ? zoom(cut.length) : zoom(options[:kerf]) %>" height="<%= cut.is_horizontal ? zoom(options[:kerf]) : zoom(cut.length) %>"></rect>
        </g>
      <% end %>
    </svg>


        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <% end 
   end
  %>
</div>
