{# set errors #}
{# set warnings #}
{# set materials #}

{% include 'core/_alert-errors.twig' %}
{% include 'core/_alert-warnings.twig' %}

<div class="row">
{% set type = -1 %}
{% for material in materials %}
    {% if showTypeSeparators and material.type != type %}
        {% set type = material.type %}
        <div class="col-xs-12">
            <div class="ladb-material-type-separator">
                <div>{% include 'tabs/materials/_material-type-icon.twig' with { 'type':material.type, 'filled':material.type > 0 } %} {{ ('tab.materials.type_'~material.type)|i18next }}</div>
                <hr>
            </div>
        </div>
    {% endif %}
    <div id="ladb_material_{{ material.id }}" class="ladb-material-item">
        <div class="ladb-material-box ladb-minitools-holder ladb-highlightable" data-material-id="{{ material.id }}">
            <div class="ladb-content">
                <div class="ladb-image">
                    <div class="ladb-img-sizer" style="padding-top: 100%;">
                        {% if material.alpha < 1 %}
                            <svg viewBox="0 0 100 100">
                                <polygon points="0,0 100,0 0,100" style="fill: #000;" ></polygon>
                            </svg>
                        {% endif %}
                        <img src="{{ material.thumbnail_file }}" style="opacity: {{ material.alpha }}">
                    </div>
                    <div class="ladb-overlay-caption ladb-ellipsis">
                        {% if material.type == 2 or material.type == 6  %}  {# 2 = TYPE_SHEET_GOOD, 6 = TYPE_VENEER #}
                            <i class="ladb-opencutlist-icon-grained-{{ material.grained ? '1' : '0' }}" data-toggle='tooltip' title="{{ ('tab.materials.tooltip.grained_'~(material.grained ? '1' : '0'))|i18next }}"></i>
                        {% elseif material.type == 4 and material.edge_decremented %}  {# 2 = TYPE_EDGE #}
                            <i class="ladb-opencutlist-icon-edge-decremented" data-toggle='tooltip' title="{{ 'tab.materials.edit_material.edge_decremented_1'|i18next }}"></i>
                        {% endif %}
                        {% if not material.raw_estimated  %}
                            <i class="ladb-opencutlist-icon-raw-estimated-0" data-toggle='tooltip' title="{{ 'tab.materials.tooltip.raw_estimated_0'|i18next }}"></i>
                        {% endif %}
                        {{ material.display_name|escape }}
                        {% if material.description is not empty %}
                            <div class="ladb-tiny">{{ material.description|truncate(25)|nl2br }}</div>
                        {% endif %}
                    </div>
                    {% if material.colorized %}
                        <div class="ladb-overlay-drop" data-toggle='tooltip' title="{{ 'tab.materials.tooltip.colorized'|i18next }}">{% include 'tabs/materials/_material-color-drop.twig' with { 'material_color':material.color } %}</div>
                    {% endif %}
                    <div class="ladb-overlay-icon">{% include 'tabs/materials/_material-type-icon.twig' with { 'type':material.type, 'filled':material.type > 0 } %}</div>
                </div>
                <div class="ladb-footer">
                    <div class="ladb-minitools ladb-minitools-right">
                        {% if material.url is not empty %}
                            <a href="{{ material.url|escape }}" class="ladb-btn-open-material-url ladb-active-tool" data-toggle="tooltip" data-html="true" title="{{ 'tab.materials.tooltip.open_url'|i18next }}"><i class="ladb-opencutlist-icon-link"></i></a>
                        {% endif %}
                        <a href="#" class="ladb-btn-set-current ladb-active-tool" data-toggle="tooltip" data-html="true" title="{{ 'tab.materials.tooltip.set_current'|i18next({ 'name':material.name }) }}"><i class="ladb-opencutlist-icon-materials"></i></a>
                        <a href="#" class="ladb-btn-edit-material ladb-click-tool" data-toggle="tooltip" title="{{ 'tab.materials.tooltip.edit'|i18next({ 'name':material.name }) }}..."><i class="ladb-opencutlist-icon-edit"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
