{# set errors #}
{# set warnings #}
{# set materials #}

{% include 'core/_alert-errors.twig' %}
{% include 'core/_alert-warnings.twig' %}

<div class="row">
{% for material in materials %}
    <div class="col-md-2 col-sm-3 col-xs-6">
        <div class="ladb-material-box" data-material-id="{{ material.id }}">
            <div class="ladb-content" style="background-color: #fff;">
                <div class="ladb-image">
                    <div class="ladb-img-sizer" style="padding-top: 100%;">
                        {% if material.alpha < 1 %}
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100">
                                <polygon points="0,0 100,0 0,100" style="fill: #000;" ></polygon>
                            </svg>
                        {% endif %}
                        <img src="{{ material.thumbnail_file }}" style="opacity: {{ material.alpha }}">
                    </div>
                </div>
                <div class="ladb-overlay-caption">
                    {% if material.attributes.type == 2 %}  {# 2 = TYPE_SHEET_GOOD #}
                        <i class="ladb-opencutlist-icon-grained-{{ material.attributes.grained ? '1' : '0' }}" data-toggle='tooltip' title="{{ ('tab.materials.tooltip.grained_'~(material.attributes.grained ? '1' : '0'))|i18next }}"></i>
                    {% endif %}
                    {{ material.display_name|escape }}
                </div>
                {% if material.colorized %}
                    <div class="ladb-overlay-drop"><i class="ladb-opencutlist-icon-drop" style="color: {{ material.color }}; font-size: 150%;" data-toggle='tooltip' title="{{ 'tab.materials.tooltip.colorized'|i18next }}"></i></div>
                {% endif %}
                <div class="ladb-overlay-icon">{% include 'tabs/materials/_material-type-icon.twig' with { 'type':material.attributes.type, 'filled':material.attributes.type > 0 } %}</div>
            </div>
        </div>
    </div>
{% endfor %}
</div>
