<div class="form form-horizontal" style="margin-top: 15px;">
    <div class="form-group">
    <div id="ladb_materials_input_name_warning" class="ladb-minitools ladb-minitools-right ladb-minitools-lg" style="display: none;"><a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.warning'|i18next }}" data-content="{{ 'tab.materials.new_material.name_warning'|i18next }}"><i class="ladb-opencutlist-icon-warning ladb-color-danger"></i></a></div>
    <label for="ladb_materials_input_name" class="control-label col-xs-4">{{ 'tab.materials.edit_material.name'|i18next }}</label>
    <div class="col-xs-7">
        <input type="text" class="form-control" id="ladb_materials_input_name" value="{{ material.display_name|escape }}" data-ladb-invalid="false">
    </div>
</div>
    <div class="form-group">
        <div id="ladb_materials_input_color_warning" class="ladb-minitools ladb-minitools-right ladb-minitools-lg" style="display: none;"><a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.warning'|i18next }}" data-content="{{ 'tab.materials.new_material.color_warning'|i18next }}"><i class="ladb-opencutlist-icon-warning ladb-color-danger"></i></a></div>
        <label for="ladb_materials_input_color" class="control-label col-xs-4">{{ 'tab.materials.new_material.color'|i18next }}</label>
        <div class="col-xs-7">
            <input type="text" class="form-control" id="ladb_materials_input_color" value="{{ material.color }}" data-ladb-invalid="false" placeholder=" ">
        </div>
    </div>
    <div class="form-group">
        <label for="ladb_materials_input_type" class="control-label col-xs-4">{{ 'tab.materials.edit_material.type'|i18next }}</label>
        <div class="col-xs-7">
            <select class="form-control" id="ladb_materials_input_type">
                <option value="0" data-content="<span style='color: #ccc; font-style: italic;'>{{ 'tab.materials.type_0'|i18next }}</span>"{% if material.attributes.type == 0 %} selected{% endif %}>0</option>
                <option value="1" data-content="<i class='ladb-opencutlist-icon-solid-wood'></i> {{ 'tab.materials.type_1'|i18next }}"{% if material.attributes.type == 1 %} selected{% endif %}>1</option>
                <option value="2" data-content="<i class='ladb-opencutlist-icon-sheet-good'></i> {{ 'tab.materials.type_2'|i18next }}"{% if material.attributes.type == 2 %} selected{% endif %}>2</option>
                <option value="3" data-content="<i class='ladb-opencutlist-icon-bar'></i> {{ 'tab.materials.type_3'|i18next }}"{% if material.attributes.type == 3 %} selected{% endif %}>3</option>
                <option value="4" data-content="<i class='ladb-opencutlist-icon-edge'></i> {{ 'tab.materials.type_4'|i18next }}"{% if material.attributes.type == 4 %} selected{% endif %}>4</option>
                <option value="5" data-content="<i class='ladb-opencutlist-icon-hardware'></i> {{ 'tab.materials.type_5'|i18next }}"{% if material.attributes.type == 5 %} selected{% endif %}>5</option>
            </select>
        </div>
    </div>
</div>
<section style="position: relative; margin-top: 30px;">
    {% include 'components/_widget-preset.twig' with { 'top':8, 'right':10 } %}
    <ul class="nav nav-tabs nav-centred" role="tablist">
        <li role="presentation"{% if tab == 'cut_options' %} class="active"{% endif %}><a href="#tab_edit_material_general_cut_options" role="tab" data-toggle="tab">{{ 'tab.materials.edit_material.cut_options'|i18next }}</a></li>
        <li role="presentation"{% if tab == 'attributes' %} class="active"{% endif %}><a id="ladb_materials_btn_tab_general_attributes" href="#tab_edit_material_general_attributes" role="tab" data-toggle="tab">{{ 'tab.materials.edit_material.attributes'|i18next }}</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane{% if tab == 'cut_options' %} active{% endif %}" id="tab_edit_material_general_cut_options">
            <div class="form form-horizontal" style="margin-top: 25px;">
                <div class="form-group">
                    <label for="ladb_materials_input_thickness" class="control-label col-xs-4">{{ 'tab.materials.edit_material.thickness'|i18next }}</label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" id="ladb_materials_input_thickness">
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lg"><a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.materials.edit_material.length_increase_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label for="ladb_materials_input_length_increase" class="control-label col-xs-4">{{ 'tab.materials.edit_material.length_increase'|i18next }}</label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" id="ladb_materials_input_length_increase">
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lg"><a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.materials.edit_material.width_increase_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label for="ladb_materials_input_width_increase" class="control-label col-xs-4">{{ 'tab.materials.edit_material.width_increase'|i18next }}</label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" id="ladb_materials_input_width_increase">
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lg"><a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.materials.edit_material.thickness_increase_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label for="ladb_materials_input_thickness_increase" class="control-label col-xs-4">{{ 'tab.materials.edit_material.thickness_increase'|i18next }}</label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" id="ladb_materials_input_thickness_increase">
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lg"><a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.materials.edit_material.std_lengths_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label for="ladb_materials_input_std_lengths" class="control-label col-xs-4">{{ 'tab.materials.edit_material.std_lengths'|i18next }}</label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" id="ladb_materials_input_std_lengths" placeholder="{{ 'tab.materials.edit_material.std_lengths_placeholder'|i18next }}">
                    </div>
                    <div class="col-xs-1">
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lg"><a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.materials.edit_material.std_widths_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label for="ladb_materials_input_std_widths" class="control-label col-xs-4">{{ 'tab.materials.edit_material.std_widths'|i18next }}</label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" id="ladb_materials_input_std_widths" placeholder="{{ 'tab.materials.edit_material.std_widths_placeholder'|i18next }}">
                    </div>
                    <div class="col-xs-1">
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lg"><a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.materials.edit_material.std_thicknesses_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label for="ladb_materials_input_std_thicknesses" class="control-label col-xs-4">{{ 'tab.materials.edit_material.std_thicknesses'|i18next }}</label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" id="ladb_materials_input_std_thicknesses" placeholder="{{ 'tab.materials.edit_material.std_thicknesses_placeholder'|i18next }}">
                    </div>
                    <div class="col-xs-1">
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lg"><a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.materials.edit_material.std_sections_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label for="ladb_materials_input_std_sections" class="control-label col-xs-4">{{ 'tab.materials.edit_material.std_sections'|i18next }}</label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" id="ladb_materials_input_std_sections" placeholder="{{ 'tab.materials.edit_material.std_sections_placeholder'|i18next }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lg"><a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.materials.edit_material.std_sizes_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label for="ladb_materials_input_std_sizes" class="control-label col-xs-4">{{ 'tab.materials.edit_material.std_sizes'|i18next }}</label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" id="ladb_materials_input_std_sizes" placeholder="{{ 'tab.materials.edit_material.std_sizes_placeholder'|i18next }}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lg"><a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.materials.edit_material.grained_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label for="ladb_materials_select_grained" class="control-label col-xs-4">{{ 'tab.materials.edit_material.grained'|i18next }}</label>
                    <div class="col-xs-7">
                        <select class="form-control" id="ladb_materials_select_grained">
                            <option value="0" data-content="<i class='ladb-opencutlist-icon-grained-0'></i> {{ 'tab.materials.edit_material.grained_0'|i18next }}"></option>
                            <option value="1" data-content="<i class='ladb-opencutlist-icon-grained-1'></i> {{ 'tab.materials.edit_material.grained_1'|i18next }}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lg"><a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.materials.edit_material.edge_decremented_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label for="ladb_materials_select_grained" class="control-label col-xs-4">{{ 'tab.materials.edit_material.edge_decremented'|i18next }}</label>
                    <div class="col-xs-7">
                        <select class="form-control" id="ladb_materials_select_edge_decremented">
                            <option value="0" data-content="{{ 'tab.materials.edit_material.edge_decremented_0'|i18next }}"></option>
                            <option value="1" data-content="<i class='ladb-opencutlist-icon-edge-decremented'></i> {{ 'tab.materials.edit_material.edge_decremented_1'|i18next }}"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane{% if tab == 'attributes' %} active{% endif %}" id="tab_edit_material_general_attributes" style="margin-top: 15px;">
            <div class="form form-horizontal" style="margin-top: 25px;">
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lg"><a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.materials.edit_material.volumic_mass_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    <label for="ladb_materials_input_volumic_mass" class="control-label col-xs-6">{{ 'tab.materials.edit_material.volumic_mass'|i18next }}</label>
                    <div class="col-xs-5">
                        <input type="text" class="form-control text-right" id="ladb_materials_input_volumic_mass" placeholder=" ">
                    </div>
                </div>
                <div class="form-group">
                    <div class="ladb-minitools ladb-minitools-right ladb-minitools-lg"><a tabindex="0" role="button" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.materials.edit_material.std_prices_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                    {% include 'components/_editor-std-prices.twig' with { 'id':'ladb_materials_editor_std_prices' } %}
                </div>
            </div>
        </div>
    </div>
</section>
