{% extends 'core/_modal.twig' %}

{% set id = 'ladb_materials_modal_edit' %}
{% set title = 'tab.materials.edit_material.title'|i18next({ 'name':material.display_name }) %}

{% block headerToolsInner %}
    <button class="btn btn-default btn-xs" data-help-page="materials.edit"><i class="ladb-opencutlist-icon-help"></i> {{ 'default.help'|i18next }}</button>
{% endblock %}

{% block headerInner %}
    {{ parent() }}
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation"{% if tab == 'general' %} class="active"{% endif %}><a href="#tab_edit_material_general" role="tab" data-toggle="tab">{{ 'tab.materials.edit_material.general'|i18next }}</a></li>
        <li role="presentation"{% if tab == 'texture' %} class="active"{% endif %}><a id="ladb_materials_btn_tab_texture" href="#tab_edit_material_texture" role="tab" data-toggle="tab"><i class="ladb-opencutlist-icon-texture"></i> {{ 'tab.materials.edit_material.texture'|i18next }}</a></li>
    </ul>
{% endblock %}

{% block bodyInner %}
    <div class="form form-horizontal">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane{% if tab == 'general' %} active{% endif %}" id="tab_edit_material_general">
                {% include 'tabs/materials/_material-properties-form.twig' with { 'tab':properties_tab } %}
            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'texture' %} active{% endif %}" id="tab_edit_material_texture">
                <div class="ladb-material-texture-preview-wrapper">
                    <div class="ladb-material-texture-preview">
                        <div id="ladb_materials_div_texture_thumbnail" class="thumbnail ladb-hidden-no-texture" style="display: none;">
                            <img id="ladb_materials_img_texture" src="">
                            <div style="position: absolute; left: 0; bottom: 10px; right: 0; font-size: 80%; width: 100%; color: #fff; text-shadow: 1px 1px 2px black;"><span id="ladb_materials_span_texture_width">{{ material.texture_image_width }}</span> x <span id="ladb_materials_span_texture_height">{{ material.texture_image_height }}</span> px</div>
                        </div>
                        <span class="text-muted ladb-hidden-textured" style="display: none;">{{ 'tab.materials.edit_material.no_texture'|i18next }}</span>
                    </div>
                </div>
                <div class="text-center">
                    {% set areaWidth = 280 %}
                    {% set areaHeight = 30 %}
                    <svg viewBox="0 0 {{ areaWidth }} {{ areaHeight }}" class="ladb-hidden-no-texture" style="width: {{ areaWidth }}px; height: {{ areaHeight }}px;">
                        {% include 'core/_grain-direction-arrow.twig' with { 'centerX':areaWidth / 2, 'centerY':areaHeight / 2 } %}
                    </svg>
                </div>
                <div class="text-center">
                    <input id="ladb_materials_input_texture_changed" type="hidden" value="false"/>
                    <input id="ladb_materials_input_texture_ratio" type="hidden" value="{{ material.texture_ratio }}"/>
                    <input id="ladb_materials_input_texture_rotation" type="hidden" value="{{ material.texture_rotation }}"/>
                    <button id="ladb_materials_btn_texture_load" class="btn btn-default" data-toggle="tooltip" title="{{ 'tab.materials.tooltip.texture_load'|i18next }}"><i class="ladb-opencutlist-icon-plus"></i> {{ 'default.load'|i18next }}...</button>
                    <button id="ladb_materials_btn_texture_export" class="btn btn-default ladb-hidden-no-texture" data-toggle="tooltip" title="{{ 'tab.materials.tooltip.texture_export'|i18next }}"><i class="ladb-opencutlist-icon-export"></i> {{ 'default.export'|i18next }}...</button>
                    <div style="display: inline-block; width: 20px;" class="ladb-hidden-no-texture"></div>
                    <button id="ladb_materials_btn_texture_rotate_left" class="btn btn-default ladb-hidden-no-texture"><i class="ladb-opencutlist-icon-rotate-left" style="font-size: 120%"></i></button>
                    <button id="ladb_materials_btn_texture_rotate_right" class="btn btn-default ladb-hidden-no-texture"><i class="ladb-opencutlist-icon-rotate-right" style="font-size: 120%"></i></button>
                    <div style="display: inline-block; width: 20px;" class="ladb-hidden-no-texture"></div>
                    <button id="ladb_materials_btn_texture_clear" class="btn btn-danger ladb-hidden-no-texture" data-toggle="tooltip" title="{{ 'tab.materials.tooltip.texture_clear'|i18next }}"><i class="ladb-opencutlist-icon-clear"></i> {{ 'default.clear'|i18next }}</button>
                </div>
                <hr class="ladb-hidden-no-texture">
                <div class="row ladb-hidden-no-texture">
                    <div class="col-xs-10" style="display: table;">
                        <div style="display: table-cell;">
                            <div class="form-group">
                                <label class="control-label col-xs-5">{{ 'tab.materials.edit_material.texture_width'|i18next }}</label>
                                <div class="col-xs-7">
                                    <input type="text" class="form-control" id="ladb_materials_input_texture_width" value="{{ material.texture_width|escape('html') }}">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 0;">
                                <label class="control-label col-xs-5">{{ 'tab.materials.edit_material.texture_height'|i18next }}</label>
                                <div class="col-xs-7">
                                    <input type="text" class="form-control" id="ladb_materials_input_texture_height" value="{{ material.texture_height|escape('html') }}">
                                </div>
                            </div>
                        </div>
                        <div style="display: table-cell; vertical-align: middle; text-align: center;">
                            <button id="ladb_material_btn_texture_size_lock" class="btn btn-default btn-sm active" data-locked="true"><i class="ladb-opencutlist-icon-lock"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerLeftInner %}
    <button class="btn btn-danger" id="ladb_materials_delete" data-toggle="tooltip" title="{{ 'default.delete'|i18next }}..."><i class="ladb-opencutlist-icon ladb-opencutlist-icon-trash"></i></button>
    <button class="btn btn-default" id="ladb_materials_duplicate"><i class="ladb-opencutlist-icon ladb-opencutlist-icon-copy"></i> {{ 'default.duplicate'|i18next }}...</button>
    <button class="btn btn-default" id="ladb_materials_export_to_skm"><i class="ladb-opencutlist-icon ladb-opencutlist-icon-export"></i> {{ 'tab.materials.edit_material.export_to_skm'|i18next }}...</button>
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button class="btn btn-primary btn-validate-modal" id="ladb_materials_update">{{ 'default.validate'|i18next }}</button>
{% endblock %}
