{% extends 'core/_modal.twig' %}

{% set id = 'ladb_materials_modal_options' %}
{% set title = 'default.options'|i18next %}

{% block headerToolsInner %}
    {% include 'components/_widget-preset.twig' %}
    <button class="btn btn-default btn-xs" data-help-page="materials.options"><i class="ladb-opencutlist-icon-help"></i> {{ 'default.help'|i18next }}</button>
{% endblock %}

{% block headerInner %}
    {{ parent() }}
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation"{% if tab == 'general' %} class="active"{% endif %}><a href="#tab_options_general" role="tab" data-toggle="tab">{{ 'tab.materials.option.general'|i18next }}</a></li>
        <li role="presentation"{% if tab == 'material_order_strategy' %} class="active"{% endif %}><a href="#tab_options_material_order_strategy" role="tab" data-toggle="tab"><i class="ladb-opencutlist-icon-sort-asc"></i> {{ 'tab.materials.option.material_order_strategy'|i18next }}</a></li>
    </ul>
{% endblock %}

{% block bodyInner %}
    <div class="form form-horizontal">
        <div class="tab-content" style="margin-top: 10px;">
            <div role="tabpanel" class="tab-pane{% if tab == 'general' %} active{% endif %}" id="tab_options_general">
                <div class="checkbox">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="ladb-minitools ladb-minitools-right"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ 'tab.materials.option.minimize_on_smart_paint_help'|i18next }}"><i class="ladb-opencutlist-icon-help"></i></a></div>
                        <label>
                            <input type="checkbox" id="ladb_input_minimize_on_smart_paint"> <span>{{ 'tab.materials.option.minimize_on_smart_paint'|i18next }}</span>
                        </label>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane{% if tab == 'material_order_strategy' %} active{% endif %}" id="tab_options_material_order_strategy">
                <p class="help-block text-center"><small>{{ 'tab.materials.option.material_order_strategy_help'|i18next }}</small></p>
                <div class="row">
                    <div  class="col-xs-offset-2 col-xs-8">
                        <ul id="ladb_sortable_material_order_strategy" class="ladb-sortable-list"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button class="btn btn-primary" id="ladb_materials_options_update">{{ 'default.validate'|i18next }}</button>
{% endblock %}
