{% extends 'core/_modal.twig' %}

{% set id = 'ladb_materials_modal_edit' %}
{% set title = 'tab.materials.edit_material.title'|i18next({ 'name':material.display_name }) %}

{% block headerInner %}
    {{ parent() }}
    {% if material.textured %}
        <ul class="nav nav-tabs nav-justified" role="tablist">
            <li role="presentation" class="active"><a href="#tab_edit_material_general" role="tab" data-toggle="tab">{{ 'tab.materials.edit_material.general'|i18next }}</a></li>
            <li role="presentation"><a id="ladb_materials_btn_tab_texture" href="#tab_edit_material_texture" role="tab" data-toggle="tab"><i class="ladb-opencutlist-icon-texture"></i> {{ 'tab.materials.edit_material.texture'|i18next }}</a></li>
        </ul>
    {% endif %}
{% endblock %}

{% block bodyInner %}
    <div class="form form-horizontal">
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="tab_edit_material_general">
                {% include 'tabs/materials/_material-properties-form.twig' with { 'tab':properties_tab } %}
            </div>
            <div role="tabpanel" class="tab-pane" id="tab_edit_material_texture">
                <div class="ladb-material-texture-preview">
                    <div class="thumbnail">
                        <img id="ladb_materials_img_texture" src="">
                        <div style="position: absolute; left: 0; bottom: 10px; right: 0; font-size: 80%; width: 100%; color: #fff; text-shadow: 1px 1px 2px black;">{{ material.texture_image_width }} x {{ material.texture_image_height }} px</div>
                    </div>
                </div>
                <div class="text-center">
                    {% set areaWidth = 280 %}
                    {% set areaHeight = 20 %}
                    <svg viewBox="0 0 {{ areaWidth }} {{ areaHeight }}" style="width: {{ areaWidth }}px; height: {{ areaHeight }}px;">
                        {% include 'core/_grain-direction-arrow.twig' with { 'centerX':areaWidth / 2, 'centerY':areaHeight / 2 } %}
                    </svg>
                </div>
                <div class="text-center">
                    <input id="ladb_materials_input_texture_rotation" type="hidden" value="{{ material.texture_rotation }}"/>
                    <button id="ladb_materials_btn_texture_rotate_left" class="btn btn-default"><i class="ladb-opencutlist-icon-rotate-left" style="font-size: 120%"></i></button>
                    <button id="ladb_materials_btn_texture_rotate_right" class="btn btn-default"><i class="ladb-opencutlist-icon-rotate-right" style="font-size: 120%"></i></button>
                    {% if material.colorized %}
                        <button id="ladb_materials_btn_texture_colorized" class="btn btn-default{% if not material.texture_colorizable %} hide{% endif %}" data-toggle="tooltip" data-html="true" title="{{ 'tab.materials.tooltip.texture_colorized'|i18next }}{% if not material.texture_colorizable %}<br>{{ 'core.warning.feature_locked'|i18next }}{% endif %}"><i class="ladb-opencutlist-icon-plus" style="font-size: 80%;"></i> <i class="ladb-opencutlist-icon-drop" style="color: {{ material.color }}"></i></button>
                    {% endif %}
                </div>
                <hr>
                <div class="row">
                    <div class="media col-xs-10">
                        <div class="media-body">
                            <div class="form-group">
                                <label for="ladb_materials_input_texture_width" class="control-label col-xs-5">{{ 'tab.materials.edit_material.texture_width'|i18next }}</label>
                                <div class="col-xs-7">
                                    <input type="text" class="form-control" id="ladb_materials_input_texture_width" value="{{ material.texture_width }}">
                                </div>
                            </div>
                            <div class="form-group" style="margin-bottom: 0;">
                                <label for="ladb_materials_input_texture_height" class="control-label col-xs-5">{{ 'tab.materials.edit_material.texture_height'|i18next }}</label>
                                <div class="col-xs-7">
                                    <input type="text" class="form-control" id="ladb_materials_input_texture_height" value="{{ material.texture_height }}">
                                </div>
                            </div>
                        </div>
                        <div class="media-right" style="vertical-align: middle;">
                            <button id="ladb_material_btn_texture_size_lock" class="btn btn-default btn-sm active" data-locked="true"><i class="ladb-opencutlist-icon-lock"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerInner %}
    <button type="button" class="btn btn-danger pull-left" id="ladb_materials_remove"><i class="ladb-opencutlist-icon ladb-opencutlist-icon-trash"></i> {{ 'default.remove'|i18next }}</button>
    {% if capabilities.sketchup_version_number >= 1700000000 %}
        <button type="button" class="btn btn-default pull-left" id="ladb_materials_export_to_skm"><i class="ladb-opencutlist-icon ladb-opencutlist-icon-export"></i> {{ 'tab.materials.edit_material.export_to_skm'|i18next }}</button>
    {% endif %}
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button type="button" class="btn btn-primary btn-validate-modal" id="ladb_materials_update">{{ 'default.validate'|i18next }}</button>
{% endblock %}