{% extends 'core/_modal.twig' %}

{% set id = 'ladb_materials_modal_obsolete' %}

{% block header %}{% endblock %}

{% block bodyInner %}
    <div class="media">
        <div class="media-left">
            <i class="ladb-opencutlist-icon-obsolete" style="font-size: 150%;"></i>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{ 'default.caution'|i18next }}</h4>
            {{ messageI18nKey|i18next }}<br>
            {{ 'tab.materials.obsolete_base'|i18next }}
        </div>
    </div>
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.ignore'|i18next }}</button>
    <button class="btn btn-primary btn-validate-modal" id="ladb_materials_obsolete_refresh"><i class="ladb-opencutlist-icon-refresh"></i> {{ 'default.refresh'|i18next }}</button>
{% endblock %}
