{% extends 'tabs/base-tab.twig' %}

{% block headerHeadingInner %}<span id="ladb_filename" class="text-muted pull-right"></span>{{ parent() }}{% endblock %}

{% block headerToolsInner %}
    <button id="ladb_btn_list" class="btn btn-primary"><i class="ladb-opencutlist-icon-refresh"></i> {{ 'default.refresh'|i18next }}</button>
    &nbsp;
    <button id="ladb_btn_new" class="btn btn-default"><i class="ladb-opencutlist-icon-plus"></i><span class="hidden-sm hidden-xs">  {{ 'default.create'|i18next }}</span></button>
    <button id="ladb_btn_import" class="btn btn-default" data-toggle="tooltip" data-placement="bottom"  title="{{ 'tab.materials.tooltip.import_from_skm'|i18next }}"><i class="ladb-opencutlist-icon-import"></i><span class="hidden-sm hidden-xs">  {{ 'default.import'|i18next }}</span></button>
    &nbsp;
    <button id="ladb_btn_options" class="btn btn-default"><i class="ladb-opencutlist-icon-settings"></i><span class="hidden-sm hidden-xs">  {{ 'default.options'|i18next }}</span></button>
    <button class="btn btn-default" data-help-page="materials"><i class="ladb-opencutlist-icon-help"></i></button>
    <div class="btn-group">
        <button id="ladb_btn_menu" class="no-print btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ladb-opencutlist-icon-submenu"></i> <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li class="dropdown-item-danger disabled"><a id="ladb_item_purge_unused" href="#"><i class="ladb-opencutlist-icon-trash"></i> {{ 'tab.materials.menu.purge_unused'|i18next }}</a></li>
            <li class="dropdown-item-danger"><a id="ladb_item_reset_prices" href="#"><i class="ladb-opencutlist-icon-eraser"></i> {{ 'tab.materials.menu.reset_prices'|i18next }}...</a></li>
        </ul>
    </div>
{% endblock %}

{% block headerInner %}
    {{ parent() }}
    <ul class="ladb-file-tabs nav nav-tabs no-print"></ul>
{% endblock %}

{% block containerInner %}
    {{ parent() }}
    <div class="ladb-page"></div>
{% endblock %}