{% extends 'tabs/base-tab.twig' %}

{% block headerHeadingInner %}<span id="ladb_filename" class="text-muted pull-right"></span>{{ parent() }}{% endblock %}

{% block headerToolsInner %}
    <button id="ladb_btn_list" class="btn btn-primary"><i class="ladb-opencutlist-icon-refresh"></i> {{ 'default.refresh'|i18next }}</button>
    <button id="ladb_btn_new" class="btn btn-default"><i class="ladb-opencutlist-icon-plus"></i> {{ 'tab.materials.new'|i18next }}...</button>
    <button id="ladb_btn_options" class="btn btn-default"><i class="ladb-opencutlist-icon-settings"></i> {{ 'default.options'|i18next }}</a></button>
    <div class="btn-group">
        <button id="ladb_btn_menu" class="no-print btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ladb-opencutlist-icon-submenu"></i> <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
            {% if capabilities.sketchup_version_number >= 1700000000 %}
                <li><a id="ladb_item_import_from_skm" href="#"><i class="ladb-opencutlist-icon-import"></i> {{ 'tab.materials.menu.import_from_skm'|i18next }}</a></li>
            {% endif %}
            <li class="disabled"><a id="ladb_item_purge_unused" href="#"><i class="ladb-opencutlist-icon-trash"></i> {{ 'tab.materials.menu.purge_unused'|i18next }}</a></li>
        </ul>
    </div>
{% endblock %}

{% block headerInner %}
    {{ parent() }}
    <ul class="ladb-file-tabs nav nav-tabs no-print"></ul>
{% endblock %}

{% block containerInner %}
    {{ parent() }}
    <div class="ladb-page"></div>
{% endblock %}