<li data-name="{{ name|escape }}" data-title="{{ title|escape }}" data-formula="{{ formula|escape }}" data-align="{{ align }}" data-hidden="{{ hidden }}"{% if hidden %} class="ladb-inactive"{% endif %}>
    <span class="ladb-handle"><i class="ladb-opencutlist-icon-reorder"></i></span>
    {% include 'components/_editor-export-column-item-title.twig' %}
    <div class="ladb-minitools ladb-minitools-right">
        <a href="#" class="ladb-tool-black ladb-editor-export-column-item-formula-btn {% if formula %} ladb-active{% endif %}"><i class="ladb-opencutlist-icon-formula"></i></a>
        <a href="#" class="ladb-tool-black ladb-editor-export-column-item-align-btn"><i class="ladb-opencutlist-icon-align-{{ align }}"></i></a>
        <a href="#" class="ladb-tool-black ladb-editor-export-column-item-visibility-btn"><i class="ladb-opencutlist-icon-eye-{% if hidden %}close{% else %}open{% endif %}"></i></a>
    </div>
</li>