<div id="{{ id }}" class="ladb-editor-sizes">
    <label class="control-label col-xs-4">{{ fieldName }}</label>
    <div class="col-xs-7">
        <div class="ladb-editor-sizes-empty" style="display: none;">{{ emptyLabel }}</div>
        <div class="ladb-editor-sizes-rows"></div>
    </div>
    <div class="col-xs-1">
        <div class="ladb-editor-sizes-remove-rows"></div>
    </div>
    <div class="col-xs-10 col-xs-push-1 text-right">
        <button class="btn btn-default btn-xs ladb-editor-sizes-btn-append"><i class="ladb-opencutlist-icon-plus"></i></button>
    </div>
    {% if fieldHelp is defined %}<div class="ladb-minitools ladb-minitools-right ladb-minitools-lgw" style="line-height: 24px;"><a tabindex="-1" data-toggle="popover" data-trigger="hover" data-placement="left" title="{{ 'default.help'|i18next }}" data-content="{{ fieldHelp }}"><i class="ladb-opencutlist-icon-help"></i></a></div>{% endif %}
</div>