<div class="ladb-editor-label-form form row">
    <div class="col-xs-10 col-xs-push-1">
        <div class="row">
            <div class="form-group col-xs-6">
                <label>{{ 'tab.cutlist.labels.option_formula'|i18next }}</label>
                <select id="ladb_select_formula" class="form-control">
                    <option value="custom" data-content="<i class='ladb-opencutlist-icon-formula'></i> {{ 'tab.cutlist.labels.formula.custom'|i18next }}"></option>
                    <option value="custom.qr_code" data-content="<i class='ladb-opencutlist-icon-qr-code'></i> {{ 'tab.cutlist.labels.formula.custom_qr_code'|i18next }}"></option>
                    <option data-divider="true"></option>
                    <option value="part.number">{{ 'tab.cutlist.labels.formula.part_number'|i18next }}</option>
                    <option value="part.name">{{ 'tab.cutlist.labels.formula.part_name'|i18next }}</option>
                    <option value="part.description">{{ 'tab.cutlist.labels.formula.part_description'|i18next }}</option>
                    <option value="part.entity_named_path">{{ 'tab.cutlist.labels.formula.part_entity_named_path'|i18next }}</option>
                    <option value="part.entity_name">{{ 'tab.cutlist.labels.formula.part_entity_name'|i18next }}</option>
                    <option value="part.cutting_size">{{ 'tab.cutlist.labels.formula.part_cutting_size'|i18next }}</option>
                    <option value="part.cutting_length">{{ 'tab.cutlist.labels.formula.part_cutting_length'|i18next }}</option>
                    <option value="part.cutting_width">{{ 'tab.cutlist.labels.formula.part_cutting_width'|i18next }}</option>
                    <option value="part.edge_cutting_size">{{ 'tab.cutlist.labels.formula.part_edge_cutting_size'|i18next }}</option>
                    <option value="part.edge_cutting_length">{{ 'tab.cutlist.labels.formula.part_edge_cutting_length'|i18next }}</option>
                    <option value="part.edge_cutting_width">{{ 'tab.cutlist.labels.formula.part_edge_cutting_width'|i18next }}</option>
                    <option value="part.cutting_thickness">{{ 'tab.cutlist.labels.formula.part_cutting_thickness'|i18next }}</option>
                    <option value="part.size">{{ 'tab.cutlist.labels.formula.part_size'|i18next }}</option>
                    <option value="part.length">{{ 'tab.cutlist.labels.formula.part_length'|i18next }}</option>
                    <option value="part.width">{{ 'tab.cutlist.labels.formula.part_width'|i18next }}</option>
                    <option value="part.thickness">{{ 'tab.cutlist.labels.formula.part_thickness'|i18next }}</option>
                    <option value="part.tags">{{ 'tab.cutlist.labels.formula.part_tags'|i18next }}</option>
                    <option value="part.batch">{{ 'tab.cutlist.labels.formula.part_batch'|i18next }}</option>
                    <option value="part.bin">{{ 'tab.cutlist.labels.formula.part_bin'|i18next }}</option>
                    <option data-divider="true"></option>
                    <option value="part.edge.ymin" data-content="<i class='ladb-opencutlist-icon-edge-0010'></i> {{ 'tab.cutlist.labels.formula.part_edge_ymin'|i18next }}"></option>
                    <option value="part.edge.ymax" data-content="<i class='ladb-opencutlist-icon-edge-1000'></i> {{ 'tab.cutlist.labels.formula.part_edge_ymax'|i18next }}"></option>
                    <option value="part.edge.xmin" data-content="<i class='ladb-opencutlist-icon-edge-0001'></i> {{ 'tab.cutlist.labels.formula.part_edge_xmin'|i18next }}"></option>
                    <option value="part.edge.xmax" data-content="<i class='ladb-opencutlist-icon-edge-0100'></i> {{ 'tab.cutlist.labels.formula.part_edge_xmax'|i18next }}"></option>
                    <option data-divider="true"></option>
                    <option value="part.face.zmax" data-content="<i class='ladb-opencutlist-icon-face-10'></i> {{ 'tab.cutlist.labels.formula.part_face_zmax'|i18next }}"></option>
                    <option value="part.face.zmin" data-content="<i class='ladb-opencutlist-icon-face-01'></i> {{ 'tab.cutlist.labels.formula.part_face_zmin'|i18next }}"></option>
                    <option data-divider="true"></option>
                    <option value="thumbnail.proportional.drawing">{{ 'tab.cutlist.labels.formula.thumbnail_proportional_drawing'|i18next }}</option>
                    <option value="thumbnail.proportional.drawing.bottom">{{ 'tab.cutlist.labels.formula.thumbnail_proportional_drawing_bottom'|i18next }}</option>
                    <option value="thumbnail.proportional">{{ 'tab.cutlist.labels.formula.thumbnail_proportional'|i18next }}</option>
                    <option value="thumbnail.square">{{ 'tab.cutlist.labels.formula.thumbnail_square'|i18next }}</option>
                    <option data-divider="true"></option>
                    <option value="group.material">{{ 'tab.cutlist.labels.formula.group_material'|i18next }}</option>
                    <option value="group.material_name">{{ 'tab.cutlist.labels.formula.group_material_name'|i18next }}</option>
                    <option value="group.std_dimension">{{ 'tab.cutlist.labels.formula.group_std_dimension'|i18next }}</option>
                    <option data-divider="true"></option>
                    <option value="filename">{{ 'tab.cutlist.labels.formula.filename'|i18next }}</option>
                    <option value="model_name">{{ 'tab.cutlist.labels.formula.model_name'|i18next }}</option>
                    <option value="page_name">{{ 'tab.cutlist.labels.formula.page_name'|i18next }}</option>
                    <option value="generated_at">{{ 'tab.cutlist.labels.formula.generated_at'|i18next }}</option>
                    <option value="length_unit">{{ 'tab.cutlist.labels.formula.length_unit'|i18next }}</option>
                </select>
            </div>
            <div class="form-group col-xs-6">
                <label>{{ 'tab.cutlist.labels.option_size'|i18next }}</label>
                <select id="ladb_select_size" class="form-control">
                    <option value="0.5">0.5</option>
                    <option value="0.75">0.75</option>
                    <option value="1">1</option>
                    <option value="1.5">1.5</option>
                    <option value="2">2</option>
                    <option value="2.5">2.5</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="6">6</option>
                    <option value="8">8</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div id="ladb_div_custom_formula" class="form-group col-xs-12">
                <label>{{ 'tab.cutlist.labels.option_custom_formula'|i18next }} <small style="font-weight: normal;">(Ruby)</small></label>
                <textarea id="ladb_textarea_custom_formula" class="form-control"></textarea>
            </div>
            <div class="form-group col-xs-6">
                <label>{{ 'tab.cutlist.labels.option_anchor'|i18next }}</label>
                <select id="ladb_select_anchor" class="form-control">
                    <option value="start" data-content="<i class='ladb-opencutlist-icon-anchor-start'></i> {{ 'tab.cutlist.labels.option_anchor_start'|i18next }}"></option>
                    <option value="middle" data-content="<i class='ladb-opencutlist-icon-anchor-middle'></i> {{ 'tab.cutlist.labels.option_anchor_middle'|i18next }}"></option>
                    <option value="end" data-content="<i class='ladb-opencutlist-icon-anchor-end'></i> {{ 'tab.cutlist.labels.option_anchor_end'|i18next }}"></option>
                    <option data-divider="true"></option>
                    <option value="start-top" data-content="<i class='ladb-opencutlist-icon-anchor-start-top'></i> {{ 'tab.cutlist.labels.option_anchor_start_top'|i18next }}"></option>
                    <option value="middle-top" data-content="<i class='ladb-opencutlist-icon-anchor-middle-top'></i> {{ 'tab.cutlist.labels.option_anchor_middle_top'|i18next }}"></option>
                    <option value="end-top" data-content="<i class='ladb-opencutlist-icon-anchor-end-top'></i> {{ 'tab.cutlist.labels.option_anchor_end_top'|i18next }}"></option>
                </select>
            </div>
            <div class="form-group col-xs-6">
                <label>{{ 'tab.cutlist.labels.option_color'|i18next }}</label>
                <input id="ladb_input_color" class="form-control"/>
            </div>
        </div>
    </div>
</div>