<div class="ladb-three-viewer{% if viewerClasses is defined %} {{ viewerClasses }}{% endif %}">
    {% block iframeOutter %}
        <iframe{% if iframeClasses is defined %} class="{{ iframeClasses }}"{% endif %}></iframe>
    {% endblock %}
    <div class="ladb-three-viewer-ui-left no-print">
        {% block uiLeft %}
            <button class="btn btn-default btn-sm" data-command="set_view" data-params="{{ { view:THREE_CAMERA_VIEWS.isometric }|json_encode|escape('html') }}" data-toggle="tooltip" data-placement="right" title="{{ 'core.component.three_viewer.view'|i18next({ 'view':'core.component.three_viewer.view_isometric'|i18next }) }}"><i class="ladb-opencutlist-icon-view-isometric"></i></button>
            <button class="btn btn-default btn-sm" data-command="set_view" data-params="{{ { view:THREE_CAMERA_VIEWS.top }|json_encode|escape('html') }}" data-toggle="tooltip" data-placement="right" title="{{ 'core.component.three_viewer.view'|i18next({ 'view':'tab.cutlist.tooltip.veneer_zmax'|i18next }) }}"><i class="ladb-opencutlist-icon-veneer-10"></i></button>
            <button class="btn btn-default btn-sm" data-command="set_view" data-params="{{ { view:THREE_CAMERA_VIEWS.bottom }|json_encode|escape('html') }}" data-toggle="tooltip" data-placement="right" title="{{ 'core.component.three_viewer.view'|i18next({ 'view':'tab.cutlist.tooltip.veneer_zmin'|i18next }) }}"><i class="ladb-opencutlist-icon-veneer-01"></i></button>
        {% endblock %}
    </div>
    <div class="ladb-three-viewer-ui-right no-print">
        {% block uiRight %}
            <button class="btn btn-default btn-sm" data-command="set_box_helper_visible" data-params="{{ { visible:null }|json_encode|escape('html') }}" data-toggle="tooltip" data-placement="left" title="{{ 'core.component.three_viewer.toggle_box_helper'|i18next }}"><i class="ladb-opencutlist-icon-plan" style="color: #00f;"></i></button>
            <button class="btn btn-default btn-sm" data-command="set_axes_helper_visible" data-params="{{ { visible:null }|json_encode|escape('html') }}" data-toggle="tooltip" data-placement="left" title="{{ 'core.component.three_viewer.toggle_axes_helper'|i18next }}"><i class="ladb-opencutlist-icon-axes"></i></button>
        {% endblock %}
    </div>
</div>