<div class="ladb-viewer-part">
    <div class="ladb-viewer-part-ui-left no-print">
        <button id="ladb_viewer_part_btn_isometric_view" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="right" title="{{ 'core.component.viewer_part.isometric_view'|i18next }}"><i class="ladb-opencutlist-icon-isometric"></i></button>
        <button id="ladb_viewer_part_btn_top_view" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="right" title="{{ 'core.component.viewer_part.top_view'|i18next }}">Tp</button>
        <button id="ladb_viewer_part_btn_bottom_view" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="right" title="{{ 'core.component.viewer_part.bottom_view'|i18next }}">Bt</button>
        <button id="ladb_viewer_part_btn_front_view" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="right" title="{{ 'core.component.viewer_part.front_view'|i18next }}">Ft</button>
        <button id="ladb_viewer_part_btn_back_view" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="right" title="{{ 'core.component.viewer_part.back_view'|i18next }}">Bk</button>
        <button id="ladb_viewer_part_btn_left_view" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="right" title="{{ 'core.component.viewer_part.left_view'|i18next }}">Lt</button>
        <button id="ladb_viewer_part_btn_right_view" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="right" title="{{ 'core.component.viewer_part.right_view'|i18next }}">Rt</button>
    </div>
    <div class="ladb-viewer-part-viewport">
        <iframe></iframe>
    </div>
    <div class="ladb-viewer-part-ui-right no-print">
        <button id="ladb_viewer_part_btn_toggle_box_helper" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="left" title="{{ 'core.component.viewer_part.toggle_box_helper'|i18next }}"><i class="ladb-opencutlist-icon-origin-min"></i></button>
        <button id="ladb_viewer_part_btn_toggle_axes_helper" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="left" title="{{ 'core.component.viewer_part.toggle_axes_helper'|i18next }}"><i class="ladb-opencutlist-icon-axes"></i></button>
        <button id="ladb_viewer_part_btn_toggle_auto_rotate" class="btn btn-default btn-sm" data-toggle="tooltip" data-placement="left" title="{{ 'core.component.viewer_part.toggle_auto_rotate'|i18next }}"><i class="ladb-opencutlist-icon-refresh"></i></button>
    </div>
</div>