<li class="dropdown-header dropdown-header-top">
    <div class="dropdown-header-body"><i class="ladb-opencutlist-icon-reset"></i> {{ 'core.preset.restore_from'|i18next }}</div>
    <div class="ladb-minitools">
        <a href="#" class="ladb-tool-dark" data-help-page="settings.presets"><i class="ladb-opencutlist-icon-help"></i></a>
    </div>
</li>
<li data-name="_origin">
    <a href="#" class="ladb-widget-preset-btn-restore-app-defaults">{{ 'core.preset.app_defaults'|i18next }}</a>
</li>
<li class="with-minitools">
    <a href="#" class="ladb-widget-preset-btn-restore-user-defaults">{{ 'core.preset.user_defaults'|i18next }}</a>
    <div class="ladb-minitools">
        <a href="#" class="ladb-widget-preset-btn-save-user-defaults ladb-tool-dark" data-toggle="tooltip" title="{{ 'core.preset.tooltip.save_to'|i18next({ 'name':('core.preset.user_defaults'|i18next) }) }}"><i class="ladb-opencutlist-icon-refresh"></i></a>
    </div>
</li>
{% if names|length > 0 %}
    <li role="separator" class="divider"></li>
{% endif %}
{% for name in names %}
    <li class="ladb-widget-preset-item with-minitools" data-name="{{ name|escape('html') }}">
        <a href="#" class="ladb-widget-preset-btn-restore">{{ name|escape('html') }}</a>
        <div class="ladb-minitools">
            <a href="#" class="ladb-widget-preset-btn-save ladb-tool-dark" data-toggle="tooltip" title="{{ 'core.preset.tooltip.save_to'|i18next({ 'name':name }) }}"><i class="ladb-opencutlist-icon-refresh"></i></a>
            <a href="#" class="ladb-widget-preset-btn-delete ladb-tool-dark" data-toggle="tooltip" title="{{ 'core.preset.tooltip.delete'|i18next({ 'name':name }) }}"><i class="ladb-opencutlist-icon-clear"></i></a>
        </div>
    </li>
{% endfor %}
<li class="dropdown-header dropdown-header-middle">
    <div class="dropdown-header-body"><i class="ladb-opencutlist-icon-plus"></i> {{ 'core.preset.save_to'|i18next }}</div>
</li>
<li>
    <a href="#" class="ladb-widget-preset-btn-new">{{ 'core.preset.new'|i18next }}...</a>
</li>
