{% extends 'core/_modal.twig' %}

{% set id = 'ladb_core_modal_prompt' %}
{% set noHeader = title is null %}

{% block bodyInner %}
    <p>{{ text|raw }}</p>
    <input type="text" id="ladb_prompt_input" class="form-control" value="{{ value|escape('html') }}">
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button id="ladb_prompt_btn_validate" class="btn btn-{{ options.validateBtnType|default('primary') }} btn-validate-modal">{% if options.validateBtnIcon is defined %}<i class="ladb-opencutlist-icon-{{ options.validateBtnIcon }}"></i> {% endif %}{{ options.validateBtnLabel|default('default.validate'|i18next) }}</button>
{% endblock %}
