{% extends 'core/_modal.twig' %}

{% set id = 'ladb_core_modal_upgrade' %}
{% set title = 'core.leftbar.more_update'|i18next %}
{% set noDefaultClose = true %}

{% block bodyInner %}
    <div id="ladb_panel_infos">
        {% if manifest.version is empty %}
            <p>{{ 'core.upgrade.unavailable'|i18next }}</p>
        {% elseif upgradable %}
            <p class="text-center">{{ 'core.upgrade.available'|i18next }}</p>
            <div class="row" style="margin: 20px 0;">
                <div class="col-xs-5 text-right"><span style="font-size: 130%; font-weight: bold;">{{ capabilities.version }}</span>{% if capabilities.debug %}<br><small>( build: {{ capabilities.build }} )</small>{% endif %}</div>
                <div class="col-xs-2 text-center"><i class="ladb-opencutlist-icon-arrow-right"></i></div>
                <div class="col-xs-5 text-left"><span style="font-size: 130%; font-weight: bold;">{{ manifest.version }}</span>{% if capabilities.debug %}<br><small>( build: {{ manifest.build }} )</small>{% endif %}</div>
            </div>
        {% else %}
            <p>{{ 'core.upgrade.up_to_date'|i18next }}</p>
        {% endif %}
    </div>
    <div id="ladb_panel_progress" style="display: none;">
        <p class="text-center">{{ 'core.upgrade.downloading'|i18next }}</p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 0;"></div>
        </div>
    </div>
{% endblock %}

{% block footerInner %}
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'default.close'|i18next }}</button>
    {% if manifest.version is empty %}
        <button id="ladb_btn_download" class="btn btn-primary">{{ 'default.download'|i18next }}</button>
    {% elseif upgradable %}
        <button id="ladb_btn_upgrade" class="btn btn-primary">{{ 'default.upgrade'|i18next }}</button>
    {% else %}
        <button id="ladb_btn_sponsor" class="btn btn-sponsor"><i class="ladb-opencutlist-icon-sponsor"></i> {{ 'tab.sponsor.label'|i18next }}</button>
    {% endif %}
{% endblock %}