<nav id="ladb_leftbar" class="ladb-leftbar ladb-full-width no-print">
    <a id="ladb_leftbar_btn_minimize" href="#" style="display: none;"><i class="ladb-opencutlist-icon-chevron-left"></i><div>{{ 'default.minimize'|i18next }}</div></a>
    <a id="ladb_leftbar_btn_maximize" href="#"><i class="ladb-opencutlist-icon-chevron-right"></i><div>{{ 'default.maximize'|i18next }}</div></a>
    {% for tabDef in tabDefs if tabDef.bar == 'leftbar' %}
        <a id="ladb_tab_btn_{{ tabDef.name }}"{% if tabDef.classes %} class="{{ tabDef.classes }}"{% endif %} href="#"><i class="{{ tabDef.icon }}"></i><div>{{ ('tab.'~tabDef.name~'.label')|i18next }}</div></a>
    {% endfor %}
    <div id="ladb_leftbar_bottom" class="ladb-leftbar-bottom" style="display: none;">
        <a href="#" data-help-page=""><i class="ladb-opencutlist-icon-help"></i><div>{{ 'core.leftbar.more_docs'|i18next }}</div></a>
        <div id="ladb_leftbar_btn_more" class="ladb-leftbar-subbar ladb-leftbar-subbar-{% if capabilities.language == 'fr' %}8{% else %}6{% endif %}">
            <div class="ladb-subbar-toggle">
                <div class="ladb-toggle-handle"><i class="ladb-opencutlist-icon-more"></i><div>{{ 'core.leftbar.more'|i18next }}</div></div>
                <span class="ladb-toggle-arrow"></span>
            </div>
            <div class="ladb-subbar-panel">
                {% for tabDef in tabDefs if tabDef.bar == 'leftbar-bottom' %}
                    <a id="ladb_tab_btn_{{ tabDef.name }}"{% if tabDef.classes %} class="{{ tabDef.classes }}"{% endif %} href="#"><i class="{{ tabDef.icon }}"></i><div>{{ ('tab.'~tabDef.name~'.label')|i18next }}</div></a>
                {% endfor %}
                {% if capabilities.language == 'fr' %}
                    <a href="https://www.lairdubois.fr/logiciels/2-opencutlist.html#_reviews" target="_blank"><i class="ladb-opencutlist-icon-review"></i><div>{{ 'core.leftbar.more_reviews'|i18next }}</div></a>
                    <a href="https://www.lairdubois.fr/logiciels/?q=@addon:%22sketchup%22" target="_blank"><i class="ladb-opencutlist-icon-extension"></i><div>{{ 'core.leftbar.more_extensions'|i18next }}</div></a>
                {% endif %}
                <a href="https://www.lairdubois.fr/plans/?q=@kind:%22sketchup%22%20@sort-recent" target="_blank"><i class="ladb-opencutlist-icon-plan"></i><div>{{ 'core.leftbar.more_plans'|i18next }}</div></a>
                <a href="#" id="ladb_leftbar_btn_news" class="ladb-separator" data-ladb-tab-name="news"><i class="ladb-opencutlist-icon-news"></i><div>{{ 'tab.news.label'|i18next }}</div></a>
                <a href="#" id="ladb_leftbar_btn_forum" data-ladb-tab-name="forum"><i class="ladb-opencutlist-icon-forum"></i><div>{{ 'tab.forum.label'|i18next }}</div></a>
                <a href="#" id="ladb_leftbar_btn_upgrade"><i class="ladb-opencutlist-icon-update"></i><div>{{ 'core.leftbar.more_update'|i18next }}</div></a>
                <a href="#" class="ladb-highlighted-sponsor" data-ladb-tab-name="sponsor"><i class="ladb-opencutlist-icon-sponsor"></i><div>{{ 'tab.sponsor.label'|i18next }}</div></a>
            </div>
        </div>
    </div>
</nav>
<div id="ladb_wrapper" style="display: none;">
    <div id="ladb_wrapper_slides"></div>
    <div id="ladb_bottombar" class="ladb-bottombar no-print">
        <ul>
            <li class="ladb-last-news"></li>
            <li><a href="https://www.lairdubois.fr" target="_blank"><i class="ladb-opencutlist-icon-link"></i> www.lairdubois.fr</a></li>
            <li{% if capabilities.is_dev and capabilities.is_rbz %} class="ladb-highlighted-bug-report"{% endif %}><a href="mailto:opencutlist@lairdubois.fr?subject=[Bug Report] OpenCutList {{ capabilities.version }} / {{ capabilities.language }} (build: {{ capabilities.build }}) - SketchUp {{ capabilities.sketchup_version }} - {{ capabilities.platform_name }}" target="_blank"><i class="ladb-opencutlist-icon-bug"></i> {{ 'core.bottombar.report_a_bug'|i18next }}</a></li>
            {% for tabDef in tabDefs if tabDef.bar == 'bottombar' %}
                <li{% if tabDef.classes %} class="{{ tabDef.classes }}"{% endif %}><a id="ladb_tab_btn_{{ tabDef.name }}" href="#">{% if tabDef.icon %}<i class="{{ tabDef.icon }}"></i>{% endif %} {{ ('tab.'~tabDef.name~'.label')|i18next }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>