<nav id="ladb_leftbar" class="ladb-leftbar no-print">
    <a id="ladb_btn_minimize" href="#" style="display: none;"><i class="ladb-opencutlist-icon-chevron-left"></i><div>{{ 'default.minimize'|i18next }}</div></a>
    <a id="ladb_btn_maximize" href="#"><i class="ladb-opencutlist-icon-chevron-right"></i><div>{{ 'default.maximize'|i18next }}</div></a>
    {% for tabDef in tabDefs if tabDef.bar == 'leftbar' %}
        <a id="ladb_tab_btn_{{ tabDef.name }}" href="#"><i class="{{ tabDef.icon }}"></i><div>{{ ('tab.'~tabDef.name~'.label')|i18next }}</div></a>
    {% endfor %}
    <div id="ladb_btn_more" class="ladb-leftbar-subbar ladb-leftbar-subbar-3">
        <div class="ladb-subbar-toggle">
            <div class="ladb-toggle-handle"><i class="ladb-opencutlist-icon-more"></i><div>{{ 'default.more'|i18next }}</div></div>
            <span class="ladb-toggle-arrow"></span>
        </div>
        <div class="ladb-subbar-panel">
            <a href="https://www.lairdubois.fr/collections/1/tab/108" target="_blank"><i class="ladb-opencutlist-icon-help"></i><div>{{ 'default.more_docs'|i18next }}</div></a>
            <a href="https://www.lairdubois.fr/plans/?q=@kind:%22sketchup%22%20@sort-recent" target="_blank"><i class="ladb-opencutlist-icon-plan"></i><div>{{ 'default.more_plans'|i18next }}</div></a>
            <a href="https://www.lairdubois.fr/logiciels/?q=@addon:%22sketchup%22" target="_blank"><i class="ladb-opencutlist-icon-extension"></i><div>{{ 'default.more_extensions'|i18next }}</div></a>
        </div>
    </div>
</nav>
<div id="ladb_wrapper" style="display: none;">
    {% if not capabilities.htmlDialogCompatible and not compatibilityAlertHidden %}
        <div id="ladb_compatibility_alert" class="no-print alert alert-warning" style="margin-bottom: 0; font-size: 90%;">
            <div class="media">
                <button id="ladb_btn_close_compatibility_alert" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="media-left">
                    <i class="glyphicon glyphicon-exclamation-sign" style="font-size: 150%;"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ 'default.caution'|i18next }}</h4>
                    <p>{{ 'core.warning.old_su'|i18next({ 'sketchupVersion':capabilities.sketchupVersion }) }}</p>
                </div>
            </div>
        </div>
    {% endif %}
    <div id="ladb_bottombar" class="ladb-bottombar no-print">
        <ul>
            <li><a href="https://www.lairdubois.fr" target="_blank"><i class="ladb-opencutlist-icon-link"></i> www.lairdubois.fr</a></li>
            {% for tabDef in tabDefs if tabDef.bar == 'bottombar' %}
                <li><a id="ladb_tab_btn_{{ tabDef.name }}" href="#">{% if tabDef.icon %}<i class="{{ tabDef.icon }}"></i>{% endif %} {{ ('tab.'~tabDef.name~'.label')|i18next }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>