{# set materials #}

<ul>
{% for material in materials %}
    <li class="ladb-material-row" data-material-id="{{ material.id }}">
        <a href="#" class="ladb-btn-material-edit">{{ material.display_name }}</a>
        - id = {{ material.id }}
        - {{ material.attributes.type }}
        - {{ material.attributes.length_increase }}
        <img src="{{ material.thumbnail_file }}" width="128" height="128">
    </li>
{% endfor %}
</ul>
