{% extends 'tabs/base-tab.twig' %}

{% block headerHeadingInner %}<span id="ladb_filename" class="text-muted pull-right"></span>{{ parent() }}{% endblock %}

{% block headerToolsInner %}
    <button id="ladb_btn_list" class="btn btn-primary"><i class="ladb-toolbox-icon-refresh"></i>  {{ 'default.refresh'|i18next }}</button>
    <div class="btn-group">
        <button id="ladb_btn_menu" class="no-print btn btn-default" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ladb-toolbox-icon-reorder"></i> <span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a id="ladb_item_import_from_skm" href="#"><i class="ladb-toolbox-icon-import"></i> {{ 'tab.materials.menu.import_from_skm'|i18next }}</a></li>
            <li class="disabled"><a id="ladb_item_purge_unused" href="#"><i class="ladb-toolbox-icon-trash"></i> {{ 'tab.materials.menu.purge_unused'|i18next }}</a></li>
        </ul>
    </div>
{% endblock %}

{% block containerInner %}
    {{ parent() }}
    <div class="ladb-page"></div>
{% endblock %}