<div id="ladb_sponsor_member_{{ member.MemberId }}" class="ladb-sponsor-member-box" data-member-id="{{ member.MemberId }}">
    <div class="media">
        <div class="media-left">
            <img src="{{ member.image ? member.image : '../img/icon-114x114.png' }}" width="114" height="114">
        </div>
        <div class="media-body">
            <div class="ladb-sponsor-member-name">{{ member.name }}</div>
            {% if member.website %}
                <div class="ladb-sponsor-member-website">
                    <a href="{{ member.website }}">{{ member.website }}</a>
                </div>
            {% endif %}
            {% if member.totalAmountDonated %}
                <div class="ladb-sponsor-member-website">
                    totalAmountDonated : {{ member.totalAmountDonated }}
                </div>
            {% endif %}
        </div>
    </div>
</div>