{% for member in members.nodes %}
    <div class="col-lg-4 col-md-6 col-xs-12">
        <div class="ladb-sponsor-member-box" data-member-slug="{{ member.account.slug }}">
            <div class="media">
                <div class="media-left">
                    {% set isGuest = member.account.name == 'Guest' %}
                    <img src="{% if isGuest %}../img/opencollective-icon.svg{% else %}{{ member.account.imageUrl }}{% endif %}" width="128" height="128"{% if isGuest %} style="background-color: #E8F3FE; padding: 20px;"{% endif %}>
                </div>
                <div class="media-body">
                    <div class="ladb-sponsor-member-name">{{ member.account.name }}</div>
                    {% if member.account.website %}
                        <div class="ladb-sponsor-member-website">
                            <i class="ladb-opencutlist-icon-link"></i> <a href="{{ member.account.website }}">{{ member.account.website|url_beautify }}</a>
                        </div>
                    {% endif %}
                    {% if member.account.description %}
                        <div class="ladb-sponsor-member-description">
                            {{ member.account.description }}
                        </div>
                    {% endif %}
                    {% if member.publicMessage %}
                        <div class="ladb-sponsor-member-public-message">
                            {{ member.publicMessage }}
                        </div>
                    {% endif %}
                    <div class="ladb-sponsor-member-footer">
                        {% if member.totalDonations and member.totalDonations.value %}
                            <span class="ladb-sponsor-member-amount">
                                {{ member.totalDonations.value|format_currency(member.totalDonations.currency) }}
                            </span>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% if nextPage %}
    <div class="col-xs-12 text-center">
        <button class="btn btn-default ladb-sponsor-next-page-btn"> {{ 'default.load_more'|i18next }}...</button>
    </div>
{% endif %}
