{% extends 'core/_modal.twig' %}

{% set id = 'ladb_sponsor_modal_objective' %}
{% set title = ('tab.sponsor.objective_title.'~objectiveStrippedName)|i18next %}

{% block bodyInner %}
    <div class="media">
        <div class="media-left">
            <i class="ladb-opencutlist-icon-{{ objectiveIcon == 'default' ? 'sponsor' : objectiveIcon }} ladb-opencutlist-icon-xl"></i>
        </div>
        <div class="media-body">
            <p>{{ ('tab.sponsor.objective_details.'~objectiveStrippedName)|i18next }}</p>
        </div>
    </div>
    {% if objectiveImage %}
        <p class="text-center"><img src="../img/{{ objectiveImage }}" style="width: 60%;"></p>
    {% endif %}
    {% if objectiveVideoId %}
        <p class="text-center"><iframe width="560" height="315" src="https://www.youtube.com/embed/{{ objectiveVideoId }}?autoplay=1&cc_load_policy=1" frameborder="0" allowfullscreen></iframe></p>
    {% endif %}
    <p>{{ 'tab.sponsor.objective_crowdfunding'|i18next }}</p>
    {% include 'tabs/sponsor/_widget-objective.twig' with { 'hideBtnInfo':true } %}
    <p>{{ 'tab.sponsor.objective_thanks'|i18next }}</p>
{% endblock %}

{% block footerRightInner %}
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'default.close'|i18next }}</button>
    <a href="https://opencollective.com/lairdubois-opencutlist-sketchup-extension#section-contribute" target="_blank" class="btn btn-primary btn-sponsor" id="ladb_sponsor_btn"><i class="ladb-opencutlist-icon-sponsor"></i> {{ 'tab.sponsor.contribute'|i18next }}...</a>
{% endblock %}