{# set errors #}
{# set warnings #}
{# set parts #}

{% include 'core/_alert-errors.twig' %}
{% include 'core/_alert-warnings.twig' %}

{% if parts|length > 0 %}
    <table class="table table-bordered">
        <thead>
            <tr>
                <td></td>
                {% for column in columns %}
                    <td class="ladb-importer-column{% if column.mapping %} ladb-importer-column-mapped{% endif %}">
                        <div>
                            <select id="ladb_select_column_{{ loop.index0 }}" class="form-control" data-column="{{ loop.index0 }}">
                                <option data-content="<span style='color: #ccc; font-style: italic;'>{{ 'tab.importer.column.unused'|i18next }}</span>"></option>
                                <optgroup label="{{ 'tab.importer.column.mandatory'|i18next }}">
                                    <option value="name">{{ 'tab.importer.column.name'|i18next }}</option>
                                    <option value="length">{{ 'tab.importer.column.bbox_length'|i18next }}</option>
                                    <option value="width">{{ 'tab.importer.column.bbox_width'|i18next }}</option>
                                    <option value="thickness">{{ 'tab.importer.column.bbox_thickness'|i18next }}</option>
                                </optgroup>
                                <optgroup label="{{ 'tab.importer.column.optional'|i18next }}">
                                    <option value="count">{{ 'tab.importer.column.count'|i18next }}</option>
                                    <option value="material">{{ 'tab.importer.column.material'|i18next }}</option>
                                    <option value="tags">{{ 'tab.importer.column.tags'|i18next }}</option>
                                </optgroup>
                            </select>
                        </div>
                        {% if column.header %}
                            <div class="ladb-importer-header">{{ column.header }}</div>
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for part in parts if loop.index > 0 %}
                {% set hasErrors = not part.errors is empty %}
                {% set hasWarnings = not part.warnings is empty %}
                <tr class="ladb-importer-row{% if hasErrors %} ladb-importer-row-error{% else %} ladb-importer-row-success{% endif %}">
                    <td>
                        {% if hasErrors %}
                            <i class="ladb-opencutlist-icon-warning ladb-color-danger" data-toggle="tooltip" data-html="true" title="<div style='text-align: left;'>{{ 'tab.importer.tooltip.errors'|i18next }} :<ul>{% for error in part.errors %}<li>{{ error|i18next }}</li>{% endfor %}</ul></div>"></i>
                        {% elseif hasWarnings %}
                            <i class="ladb-opencutlist-icon-tick ladb-color-warning" data-toggle="tooltip" data-html="true" title="<div style='text-align: left;'>{{ 'tab.importer.tooltip.warnings'|i18next }} :<ul>{% for warning in part.warnings %}<li>{{ warning|i18next }}</li>{% endfor %}</ul></div>"></i>
                        {% else %}
                            <i class="ladb-opencutlist-icon-tick ladb-color-success"></i>
                        {% endif %}
                    </td>
                    {% for raw_value in part.raw_values %}
                        {% set column = columns[loop.index0] %}
                        <td  class="ladb-importer-column ladb-importer-column-{% if column and column.mapping is null %}not-mapped{% else %}mapped{% endif %} text-{{ column.align }}{% if column and column.mapping and not raw_value.valid %} ladb-invalid-value{% endif %}">{{ raw_value.value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}