{% extends 'core/_modal.twig' %}

{% set id = 'ladb_importer_modal_load' %}
{% set title = 'tab.importer.load.title'|i18next %}
{% set unit = ('default.unit_'~lengthUnit)|i18next %}

{% block headerToolsInner %}
    {% include 'components/_widget-preset.twig' %}
{% endblock %}

{% block bodyInner %}
    <div class="row">
        <div class="col-xs-push-1 col-xs-10">
            {{ 'tab.importer.load.info_0'|i18next({ 'filename':filename }) }}
        </div>
    </div>
    <hr>
    <h4 class="text-center">{{ 'tab.importer.load.options'|i18next }}</h4>
    <div class="form form-horizontal">
        <div class="form-group">
            <label class="control-label col-xs-4">{{ 'tab.importer.load.option_col_sep'|i18next }}</label>
            <div class="col-xs-6">
                <select class="form-control" id="ladb_importer_load_select_col_sep">
                    <option value="0" data-content="{{ 'tab.importer.load.option_col_sep_tab'|i18next }}">0</option>
                    <option value="1" data-content="{{ 'tab.importer.load.option_col_sep_comma'|i18next }}">1</option>
                    <option value="2" data-content="{{ 'tab.importer.load.option_col_sep_semicolon'|i18next }}">2</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-xs-4">{{ 'tab.importer.load.option_first_line_headers'|i18next }}</label>
            <div class="col-xs-6">
                <select class="form-control" id="ladb_importer_load_select_first_line_headers">
                    <option value="1" data-content="{{ 'tab.importer.load.option_first_line_headers_1'|i18next }}">1</option>
                    <option value="0" data-content="{{ 'tab.importer.load.option_first_line_headers_0'|i18next }}">0</option>
                </select>
            </div>
        </div>
    </div>
    <div class="help-block text-center" style="margin-bottom: 0;">{{ 'tab.importer.load.info_1'|i18next({ 'unit':unit }) }}</div>
{% endblock %}

{% block footerLeftInner %}
    <button class="btn btn-default" data-help-page="importer.load"><i class="ladb-opencutlist-icon-help"></i> {{ 'default.help'|i18next }}</button>
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button class="btn btn-primary" id="ladb_importer_load">{{ 'default.load'|i18next }}</button>
{% endblock %}
