{% extends 'core/_modal.twig' %}

{% set id = 'ladb_importer_modal_load' %}
{% set title = 'tab.importer.load.title'|i18next %}
{% set unit = ('default.unit_'~lengthUnit)|i18next %}

{% block bodyInner %}
    {{ 'tab.importer.load.info'|i18next({ 'filename':filename, 'unit':unit }) }}
    <hr>
    <h4 class="text-center">{{ 'tab.importer.load.options'|i18next }}</h4>
    <div class="form form-horizontal">
        <div class="form-group">
            <label for="ladb_importer_load_select_col_sep" class="control-label col-xs-4">{{ 'tab.importer.load.option_col_sep'|i18next }}</label>
            <div class="col-xs-6">
                <select class="form-control" id="ladb_importer_load_select_col_sep">
                    <option value="0" data-content="{{ 'tab.importer.load.option_col_sep_tab'|i18next }}">0</option>
                    <option value="1" data-content="{{ 'tab.importer.load.option_col_sep_comma'|i18next }}">1</option>
                    <option value="2" data-content="{{ 'tab.importer.load.option_col_sep_semicolon'|i18next }}">2</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-6 col-xs-push-4">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="ladb_importer_load_input_with_headers">{{ 'tab.importer.load.option_with_headers'|i18next }}
                    </label>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footerInner %}
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button type="button" class="btn btn-primary" id="ladb_importer_load">{{ 'default.load'|i18next }}</button>
{% endblock %}