{% extends 'core/_modal.twig' %}

{% set id = 'ladb_importer_modal_import' %}
{% set title = 'tab.importer.import.title'|i18next %}

{% block bodyInner %}
    <p>{{ 'tab.importer.import.info_0'|i18next({ 'count':importablePartCount }) }}</p>
    {% if not model_is_empty %}
        <div class="alert alert-warning">
            <div class="media">
                <div class="media-left"><i class="ladb-opencutlist-icon-warning ladb-opencutlist-icon-lg"></i></div>
                <div class="media-body">{{ 'tab.importer.import.options'|i18next }}</div>
            </div>
            <hr>
            <div class="form form-horizontal">
                <div class="form-group">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="ladb_importer_import_input_remove_all"> <span>{{ 'tab.importer.import.option_remove_all'|i18next }}</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="checkbox" style="padding-left: 10px;">
                            <label>
                                <input type="checkbox" id="ladb_importer_import_input_keep_definitions_settings" disabled> <span>{{ 'tab.importer.import.option_keep_definitions_settings'|i18next }}</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="checkbox" style="padding-left: 10px;">
                            <label>
                                <input type="checkbox" id="ladb_importer_import_input_keep_materials_settings" disabled> <span>{{ 'tab.importer.import.option_keep_materials_settings'|i18next }}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <p>{{ 'tab.importer.import.info_1'|i18next }}</p>
{% endblock %}

{% block footerInner %}
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button type="button" class="btn btn-primary" id="ladb_importer_import">{{ 'default.import'|i18next }}</button>
{% endblock %}