{% extends 'core/_modal.twig' %}

{% set id = 'ladb_importer_modal_import' %}
{% set title = 'tab.importer.import.title'|i18next %}

{% block headerToolsInner %}
    {% include 'components/_widget-preset.twig' %}
{% endblock %}

{% block bodyInner %}
    <p>{{ 'tab.importer.import.info_0'|i18next({ 'count':importablePartCount }) }}</p>
    {% if not model_is_empty %}
        <div class="alert alert-warning">
            <div class="media">
                <div class="media-left"><i class="ladb-opencutlist-icon-warning ladb-opencutlist-icon-lg"></i></div>
                <div class="media-body">{{ 'tab.importer.import.options'|i18next }}</div>
            </div>
            <hr>
            <div class="form form-horizontal">
                <div class="form-group">
                    <label class="control-label col-xs-3">{{ 'tab.importer.import.option_remove_all_?'|i18next }}</label>
                    <div class="col-xs-8">
                        <select class="form-control" id="ladb_importer_import_select_remove_all">
                            <option value="0" data-content="<i class='ladb-opencutlist-icon-plus'></i> {{ 'tab.importer.import.option_remove_all_false'|i18next }}"></option>
                            <option value="1" data-content="<span class='ladb-color-danger'><i class='ladb-opencutlist-icon-warning'></i> {{ 'tab.importer.import.option_remove_all_true'|i18next }}</span>"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group" style="display: none;">
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="checkbox" style="padding-left: 10px;">
                            <label>
                                <input type="checkbox" id="ladb_importer_import_input_keep_definitions_settings"> <span>{{ 'tab.importer.import.option_keep_definitions_settings'|i18next }}</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-xs-offset-1 col-xs-10">
                        <div class="checkbox" style="padding-left: 10px;">
                            <label>
                                <input type="checkbox" id="ladb_importer_import_input_keep_materials_settings"> <span>{{ 'tab.importer.import.option_keep_materials_settings'|i18next }}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <p>{{ 'tab.importer.import.info_1'|i18next }}</p>
{% endblock %}

{% block footerLeftInner %}
    <button class="btn btn-default" data-help-page="importer.import"><i class="ladb-opencutlist-icon-help"></i> {{ 'default.help'|i18next }}</button>
{% endblock %}

{% block footerRightInner %}
    <button class="btn btn-default" data-dismiss="modal">{{ 'default.cancel'|i18next }}</button>
    <button class="btn btn-primary" id="ladb_importer_import">{{ 'default.import'|i18next }}</button>
{% endblock %}
