{# set groups #}

{% for group in groups %}
    <table id="ladb_group_{{ group.name }}_{{ group.raw_thickness }}" class="table table-bordered ladb-cutlist">
        <thead>
        <tr style="background-color: #eee;">
            <td colspan="8" style="line-height: 20px;">
                <button class="no-print btn btn-default btn-sm ladb-btn-toggle-no-print pull-left" data-group-id="ladb_group_{{ group.name }}_{{ group.raw_thickness }}"><i class="glyphicon glyphicon-eye-close"></i></button>
                <div style="margin-left: 40px;">
                    <span style=" line-height: 25px; font-size: 18px;">{{ group.name }} / <strong>{{ group.raw_thickness }}</strong></span>
                    <span class="pull-right" style="white-space: nowrap; line-height: 25px;">Surface brute : <strong>{{ group.raw_area_m2|number_format(3, ',', ' ') }}m<sup>2</sup></strong> / Volume brut : <strong>{{ group.raw_volume_m3|number_format(3, ',', ' ') }}m<sup>3</sup></strong></span>
                </div>
            </td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-center" rowspan="2" style="vertical-align: middle !important;">Nom</td>
            <td class="text-center" colspan="3">Finie</td>
            <td class="text-center" rowspan="2" style="vertical-align: middle !important;">Nbr.</td>
            <td class="text-center" colspan="2">Brute</td>
            <td class="text-center" rowspan="2" style="vertical-align: middle !important;">Id</td>
        </tr>
        <tr>
            <td class="text-center" width="10%">Long.</td>
            <td class="text-center" width="10%">Larg.</td>
            <td class="text-center" width="10%">Ep.</td>
            <td class="text-center" width="10%">Long.</td>
            <td class="text-center" width="10%">Larg.</td>
        </tr>
        {% set thickness = 0 %}
        {% for piece in group.pieces %}
            {% if piece.thickness != thickness %}
                {% set thickness = piece.thickness %}
                <tr style="background-color: #fcfcfc;">
                    <td colspan="8" style="padding: 5px 10px 5px 10px; font-size: 80%;">Epaisseur {{ piece.thickness }}mm</td>
                </tr>
            {% endif %}
            <tr style="font-size: 120%;">
                <td>{{ piece.name }}</td>
                <td class="text-right">{{ piece.length }}</td>
                <td class="text-right">{{ piece.width }}</td>
                <td class="text-right">{{ piece.thickness }}</td>
                <td class="text-center">x {{ piece.count }}</td>
                <td class="text-right" style="color: red;">{{ piece.raw_length }}</td>
                <td class="text-right" style="color: red;">{{ piece.raw_width }}</td>
                <td class="text-center" style="color: red;">{{ piece.code }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endfor %}